<div class="container" fxFlexFill fxLayout fxLayoutGap="20px">
	<div class="map-navigation" fxLayout="column">
		<ng-container *ngIf="isInitialized">
			<input type="hidden" class="form-control" />
			<div class="project-title">
				<h2>{{ project.companyName }}</h2>
				<h1>{{ project.projectName }}</h1>
			</div>
			<div class="separator m-0"></div>
			<div class="project-actions">
				<label><span>Last update date</span>{{ project.lastModifiedDate }}
				</label>
				<label><span>Last update user</span>{{ project.lastModifiedUserName }} </label>
				<div fxLayout fxLayoutGap="10px">
					<button fxFlex *ngIf="!isSaving" class="btn btn-success btn-block mt-2" (click)="save()"><i
							class="fas fa-save mr-2"></i>Save</button>
					<div fxFlex *ngIf="isSaving" class="mt-2" fxLayoutAlign="center center">
						<div class="saving">
							<loading size="10px" text="" left="16px" top="15px"></loading>
							<span>Saving..</span>
						</div>
					</div>
					<button fxFlex class="btn btn-danger btn-block mt-2"><i
							class="fas fa-times mr-2"></i>Disable</button>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="!isInitialized">
			<loading></loading>
		</ng-container>
	</div>
	<div class="map-container" #mapContainer fxFlex fxLayout="column" fxLayoutAlign="center center"
		(click)="isInputFocus = false">
		<ng-container *ngIf="isSiteplanInitialized">
			<ng-container *ngIf="mapImage">
				<div class="unit-guide" [class.mapping]="isMapping">
					<div class="unit-inner">
					</div>
				</div>
				<div class="unit-tooltip" [class.mapping]="isMapping">
					<div class="unit-tooltip-inner">
						<div fxLayout>
							<div class="unit-tooltip-text" fxFlex>
								<ng-container *ngIf="isMapping">
									<h3>{{ mappingUnit.unitName }}</h3>
								</ng-container>
							</div>
							<div fxLayout="column">
								<button fxFlex class="btn btn-danger btn-sm" (click)="cancelMapUnit()"><i
										class="fas fa-times"></i></button>
								<button fxFlex class="btn btn-primary btn-sm" (click)="applyMapUnit()"><i
										class="fas fa-check"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="map-holder" id="map-holder" #mapHolder [panZoom]="mapImage ? true : false" [noZoom]="true"
					[gutter]="500" [x]="mapHolderX" [y]="mapHolderY" [style.left.px]="mapHolderX"
					[style.top.px]="mapHolderY" (locationChanged)="locationChanged($event)"
					[class.not-dragging]="!isDragging" (startDrag)="isDragging = true" (endDrag)="isDragging = false">
					<div class="image-cover"></div>
					<img [src]="mapImage" />
					<ng-container *ngFor="let unit of dataSource.filteredData; let i = index">
						<div #unitMap [fxShow]="unit.mapped" class="unit"
							[class.remap]="unit.mapped && i === selectedUnitIndex && isMapping"
							[style.top.px]="unit.picY" [style.left.px]="unit.picX"
							[class.focused]="i === selectedUnitIndex" (click)="selectUnitMap(i)">
							<div class="unit-inner">
								<h2>{{ unit.unitNo }}</h2>
							</div>
						</div>
					</ng-container>
				</div>
			</ng-container>
			<ng-container *ngIf="!mapImage">
				<div class="upload-map-area" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
					<p>No siteplan exists, <br>
						please upload siteplan image</p>
					<!-- <button class="btn btn-primary" (click)="uploadMap.click()"><i
							class="fas fa-map-marked-alt mr-2"></i>Upload Map Background</button> -->
				</div>
			</ng-container>
		</ng-container>
		<ng-container *ngIf="!isSiteplanInitialized">
			<loading></loading>
		</ng-container>
	</div>
	<div class="map-navigation" fxLayout="column">
		<ng-container *ngIf="isInitialized">
			<div class="unit-list" fxFlex fxLayout="column">
				<!-- <a class="btn btn-primary btn-block mb-3"
					[routerLink]="['/siteplan/' + entityCd + '/' + projectNo ]" target="_blank"><i
						class="fas fa-external-link-square-alt mr-2"></i>Preview
					Siteplan</a> -->
				<label>Units :</label>
				<ul class="scroll scroll-y" fxFlex>
					<li #unitList *ngFor="let unit of dataSource.filteredData; let i = index"
						[class.focused]="i === selectedUnitIndex"
						[fxShow]="unit.mapped ? isMappedChecked : isUnmappedChecked"
						[class.mapping]="mappingUnit? unit.unitId === mappingUnit.unitId : false"
						(click)="selectUnitList(i)" fxLayoutGap="5px">
						<div class="unit-name">
							<small>{{ project.projectName }}</small>
							<label>{{ unit.unitName }}</label>
						</div>
						<button *ngIf="!unit.mapped && !isMapping" class="btn btn-success btn-sm"
							(click)="mapUnit(i)"><i class="fas fa-plus"></i></button>
						<button *ngIf="isMapping && mappingUnit.unitId === unit.unitId" class="btn btn-primary btn-sm"
							(click)="applyMapUnit()"><i class="fas fa-check"></i></button>
						<button *ngIf="isMapping && mappingUnit.unitId === unit.unitId" class="btn btn-danger btn-sm"
							(click)="cancelMapUnit()"><i class="fas fa-times"></i></button>
						<button *ngIf="unit.mapped && !isMapping" class="btn btn-primary btn-sm"
							(click)="remapUnit(i)"><i class="fas fa-redo"></i></button>
						<button *ngIf="unit.mapped && !isMapping" class="btn btn-danger btn-sm"
							(click)="clearUnit(i)"><i class="fas fa-broom"></i></button>
					</li>
				</ul>
				<div class="filter" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
					<label fxFlex fxLayoutAlign="start center">
						<mat-checkbox [checked]="true" (change)="isMappedChecked = !isMappedChecked"></mat-checkbox>
						Mapped<span>({{ countMapped() }})</span>
					</label>
					<label fxLayoutAlign="start center">
						<mat-checkbox [checked]="true" (change)="isUnmappedChecked = !isUnmappedChecked"></mat-checkbox>
						Unmapped<span>({{ countUnmapped() }})</span>
					</label>
				</div>
				<button class="btn btn-danger btn-block mt-3" (click)="clearAllUnits()"><i
						class="fas fa-broom mr-2"></i>Clear All</button>
			</div>
		</ng-container>
		<ng-container *ngIf="!isInitialized">
			<loading></loading>
		</ng-container>
	</div>
</div>
