<!-- <h2 mat-dialog-title>Add Recepient</h2> -->
<mat-dialog-content fxLayout="column" class="p-0">
	<div class="form-group px-4 px-xs-2 pt-4 pb-2">
		<label>Search </label>
		<div class="input-group">
			<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search.."
				(keyup)="applyFilter($event)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<ng-container *ngIf="isInitialized">
		<mat-table class="employee-table scroll scroll-y" #table [dataSource]="dataSource" fxFlex="300px">

			<ng-container matColumnDef="no">
				<mat-header-cell fxFlex="60px" fxHide.lt-md="true" *matHeaderCellDef> No </mat-header-cell>
				<mat-cell fxFlex="60px" fxHide.lt-md="true" *matCellDef="let row; let i = index">
					<!-- {{ i + 1 }} -->
					<mat-checkbox (change)="checkboxClick($event, row)" [checked]="row.isChecked">
					</mat-checkbox>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="fullName">
				<mat-header-cell fxFlex *matHeaderCellDef>
					<div fxHide.gt-sm fxFlex="10px"></div>Employee
				</mat-header-cell>
				<mat-cell fxFlex *matCellDef="let row" fxLayoutAlign="start center" fxLayout>
					<div fxHide.gt-sm fxFlex="10px"></div>
					<div fxFlex fxLayout="column">
						<h3>{{ row.employeeCode }}</h3>
						<h4>{{ row.fullName }}</h4>
						<h5>{{ row.occupationName }}</h5>
					</div>
				</mat-cell>
			</ng-container>

			<!-- <ng-container matColumnDef="actions">
				<mat-header-cell fxFlex="40px" *matHeaderCellDef></mat-header-cell>
				<mat-cell fxFlex="40px" *matCellDef="let row" class="action">
					<button class="btn btn-sm btn-success" (click)="selectEmployee(row)"><i
							class="fas fa-check"></i></button>
				</mat-cell>
			</ng-container> -->

			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>
	<ng-container *ngIf="!isInitialized">
		<div class="loading-container">
			<loading></loading>
		</div>
	</ng-container>
	<!-- <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator> -->
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button class="btn btn-primary" (click)="save()">
		<i class="fa fa-save mr-1"></i> Save
	</button>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
