<page-header>
	<div class="form-group" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.."
				(keyup)="searchChanged($any($event.target).value)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<button class="btn btn-primary" (click)="addSales()"><i class="fas fa-plus mr-2"></i>Add Sales</button>
</page-header>
<page-body>
	<panel>
		<panel-body class="p-0">
			<ng-container *ngIf="isInitialized">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear>

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="fullName">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Sales</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">
							{{ row.fullName }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="salesInhouseTypeName">
						<mat-header-cell fxFlex="140px" mat-sort-header *matHeaderCellDef>Sales Type</mat-header-cell>
						<mat-cell fxFlex="140px" *matCellDef="let row">{{ row.salesInhouseTypeName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="teamName">
						<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Team</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.teamName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="activeDate">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Active Date</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.activeDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="50px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="50px" *matCellDef="let row">
							<a class="btn btn-primary btn-sm" [routerLink]="row.salesInhouseId.toString()">
								<i class="fas fa-pen"></i>
							</a>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
			</ng-container>
			<ng-container *ngIf="!isInitialized">
				<div class="loading-container">
					<loading></loading>
				</div>
			</ng-container>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</panel-body>
	</panel>
</page-body>
