.panel-label {
	font-size: 12px;
	margin-bottom: 2px;
	margin-top: 0px;
}
.panel {
	border: 1px solid #ced4da;
}
.menu-tree {
	padding: 0px;
}
.user-thumb {
	border-radius: 50%;
	overflow: hidden;
}
h1 {
	font-size: 16px;
	margin: 0px;
	text-align: left;
}
h2 {
	font-size: 12px;
	margin: 0px;
	text-align: left;
	color: #555555;
}
h3 {
	font-size: 12px;
	margin: 0px;
	text-align: left;
	color: #2ea1f8;
}
.tabs {
	background-color: #FFFFFF;
	border: 1px solid #ced4da;
	border-radius: 4px;
	overflow: hidden;
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		&.tab-header {
			border-bottom: 1px solid #e6eaee;
			background-color: #FFFFFF;
			li {
				padding: 10px;
				text-align: center;
				cursor: pointer;
				border-right: 1px solid #e6eaee;
				color: #7f8fa4;
				position: relative;
				font-weight: 400;
				&.active {
					font-weight: 600;
					color: #000000;
					box-shadow: inset 0px -2px 0px #007bff;
					.header-icon {
						color: #007bff;
					}
				}
				&:last-child {
					border-right: none;
				}
				&:hover {
					color: #354052;
				}
			}
		}
		&.tab-content {
			background-color: #FFFFFF;
			height: 289px;
			li {
				height: 100%;
				overflow: hidden;
				position: relative;
			}
			.actions {
				background-color: #f5f8fa;
				padding: 8px 23px;
				border-top: 1px solid #e6eaee;
			}
		}
	}

}
