:host {
	padding: 10px 25px;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	place-content: flex-end flex-start;
	align-items: flex-end;
	background-color: #FFFFFF;
	color: #354052;
	box-shadow: 0 2px 2px rgb(206 197 197 / 5%), 0 1px 0 rgb(0 0 0 / 5%);
	z-index: 1;

	::ng-deep {
		>.form-group {
			margin-right: 10px;
			margin-bottom: 0px;
		}

		*:last-child {
			margin-right: 0px;
		}
	}
}
