:host {
	padding: 10px 25px;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	place-content: flex-end flex-start;
	align-items: flex-end;
	background-color: var(--surface-01);
	color: var(--text-primary-01);
	box-shadow:
		0 2px 2px var(--shadow-73),
		0 1px 0 var(--shadow-74);
	z-index: 1;

	::ng-deep {
		> .form-group {
			margin-right: 10px;
			margin-bottom: 0px;
		}

		*:last-child {
			margin-right: 0px;
		}
	}
}
