.panel {
	margin-bottom: 10px;
	border-color: #ced4da;
	overflow: visible;
	.panel-body {
		padding: 10px 15px;
		h1 {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 600;
		}
		&:first-child {
			background-color: #f2f2f2;
			// border-bottom: 1px solid #e6eaee;
		}
	}
	.separator {
		border-color: #ced4da;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}
