.panel-body-trx-info {
	h6 {
		text-transform: uppercase;
		font-weight: 700;
		margin: 40px 0 15px;

		&:first-child {
			margin-top: 0px;
		}
	}

	.panel-trx-info {
		margin-bottom: 0px;

		.panel-body {
			.panel-row {
				padding: 8px 15px;
				border-bottom: 1px solid #e6eaee;
				border-right: 1px solid #e6eaee;

				&:only-child,
				&:last-child {
					border-right: none;
				}

				small {
					color: var(--gray4);
					margin-bottom: 5px;
				}

				// p.notes {
				// 	min-height: 104px;
				// }

				p.cancelation-notes {
					min-height: 65px;
				}
			}

			.panel-column {
				border-right: 1px solid #e6eaee;

				>.panel-row {
					border-right: none;
				}

				&:last-child {
					border-right: none;
				}

				>div:last-child>.panel-row {
					border-bottom: none;
				}

				>.panel-row:last-child {
					border-bottom: none;
				}

				&:only-child {
					>.panel-row {
						border-bottom: none;
					}
				}
			}

			>.panel-row {
				&:last-child {
					border-bottom: none;
				}
			}

			p {
				margin-top: 5px;
				// min-height: 27px
			}
		}

		&.cancelation {
			background-color: #fcedee;
			border-color: var(--danger);

			.panel-body {
				.panel-row {
					border-color: var(--danger);
				}
			}
		}
	}

	.grid-payment-plan {
		border: 1px solid #e6eaee;
		border-radius: 12px;
		flex-direction: column;
		box-sizing: border-box;
		display: flex;

		.grid-column {
			box-sizing: border-box;
			padding: 10px 20px;
			border-right: 1px solid #e6eaee;
			place-content: center flex-start;
			align-items: center;
			flex-direction: row;
			box-sizing: border-box;
			display: flex;

			&:last-child {
				border-right: none;
			}
		}

		.grid-row {
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			border-bottom: 1px solid #e6eaee;

			.grid-column {}

			&:last-child {
				border-bottom: none;
			}
		}

		.grid-header {
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			background-color: #f5f8fa;
			border-bottom: 1px solid #e6eaee;

			.grid-column {

				&.invoice-amount {
					align-items: center;
					place-content: center center;
				}
			}
		}

		.grid-body {
			flex-direction: column;
			box-sizing: border-box;
			display: flex;
		}
	}
}

form {
	h6 {
		text-transform: uppercase;
		font-weight: 700;
		margin: 30px 0 15px;
	}

	&>h6 {
		margin-top: 0px;
	}

	a {
		cursor: pointer;
	}

	.customer-information {
		textarea {
			height: 102px;
		}
	}

	.grid {
		border: 1px solid #ced4da;
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 1rem;

		.grid-header {
			border-bottom: 1px solid #ced4da;
			background-color: #f5f8fa;

			>small {
				margin: 0px;
				padding: 7px 10px;
				font-weight: normal;
				text-transform: none;
				border-left: 1px solid #ced4da;

				&:first-child {
					border-left: none;
				}

				&:last-child {
					text-align: center;
				}
			}
		}

		.grid-body {
			// .grid-header-row {
			// 	border-bottom: 1px solid #ced4da;

			.menu {
				button {
					outline: none;
				}
			}

			.grid-row {
				border-bottom: 1px solid #ced4da;

				>div {
					padding: 10px;
					border-left: 1px solid #ced4da;

					h6 {
						text-transform: none;
						font-weight: 400;
						margin: 0px;
					}

					&:first-child {
						border-left: none;
					}

					&:last-child {
						text-align: right;
					}
				}

				&:last-child {
					border-bottom: none;
				}
			}

			// }

			.no-unit-selected {
				padding: 20px;
				border-bottom: 1px solid #ced4da;
			}
		}

		.grid-footer {
			background-color: #f5f8fa;
			border-top: 1px solid #ced4da;
			border-bottom: none;

			>div {
				font-weight: 600;
				padding: 7px 10px;

				&:first-child {
					border-right: none;
				}

				&:last-child {
					text-align: right;
					border-right: none;
				}
			}
		}
	}

	.panel-payment-plan {
		panel-body {
			padding: 10px 10px 5px;
			background-color: #F2F2F2;
		}

		.panel-payment-plan-header {}

		.panel-payment-plan-detail {
			padding: 5px 10px;
			background-color: #FFFFFF;
		}

		border-color: var(--input-border-color);
		margin-bottom: 13px;

		h6 {
			text-transform: none;
			font-weight: 400;
			margin: 0px;
		}

		.form-control[readonly] {
			background-color: #e9ecef;
		}

		&.paid {
			panel-body {
				background-color: var(--gray2);
			}
		}
	}

	.panel-total {
		border-color: var(--input-border-color);
		margin-bottom: 13px;

		panel-body {
			padding: 13px 10px;
			background-color: #dddddd;

			.form-control[readonly] {
				// background-color: #e9ecef;
			}
		}

		h6 {
			margin: 0px;
		}
	}

	.promo-and-notes {
		textarea {
			height: 133px;
		}
	}

	.document {
		// margin-bottom: 14px;

		small {
			margin-bottom: 2px;
		}

		>div {
			border-radius: var(--border-radius);
			border: 1px solid var(--input-border-color);
			height: 194px;

			p {
				color: var(--text-light);
				;
			}

			&.is-invalid {
				border-color: var(--danger);
			}
		}

		>.btn {
			margin-top: 14px;
		}
	}

	.payment {
		margin-top: 14px;

		textarea {
			height: 171px;
		}
	}

	.booking-fee {
		small {
			margin-bottom: 2px;
		}

		.outstanding-amount {
			padding: 10px 22px;
			border: 2px solid var(--success);
			border-radius: 10px;
			margin-bottom: 10px;

			&.not-equal {
				border: 1px solid var(--danger);
			}
		}
	}
}

.panel-body {
	&.revision-mark {
		padding: 10px 30px;
		background-color: #EDF6FD;
		border: 1px solid var(--primary);
		// border-bottom: 1px solid var(--primary);

		p {
			// color: #FFFFFF;
		}
	}
}