<h2 mat-dialog-title>Revision</h2>
<mat-dialog-content fxLayout="column">
	<div class="form-group mb-0 required">
		<label>Revision Reason</label>
		<textarea rows="4" class="form-control" [(ngModel)]="revisionReason"
			[class.is-invalid]="!revisionReason && formSubmitAttempt"></textarea>
	</div>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button class="btn btn-primary" (click)="save()">
		<i class="fa fa-save mr-1"></i> Save
	</button>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
