<ng-container *ngIf="isInitialized">
	<page-body>
		<panel class="panel-project">
			<panel-header fxLayout="column" fxLayoutAlign="center center">
				<input type="file" class="d-none" accept="image/*" #uploadLogo (change)="uploadLogoChanged($event)" />
				<div class="project-logo-holder" fxLayout="column">
					<ng-container *ngIf="logoPath">
						<image-holder [src]="logoPath" fxFlex></image-holder>
					</ng-container>
					<ng-container *ngIf="!logoPath">
						<div fxFlex fxLayoutAlign="center center">No Image</div>
					</ng-container>
				</div>
				<h1>{{ projectName.value }}</h1>
				<h2>{{ companyName }}</h2>
			</panel-header>
			<panel-body fxLayout="column">
				<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="submit()"
					fxLayout="column">
					<div fxLayout fxLayoutGap="10px">
						<div class="form-group" fxFlex="200px">
							<label>Company</label>
							<select class="form-control" formControlName="companyId"
								[class.is-invalid]="companyId.invalid && formSubmitAttempt">
								<option *ngFor="let company of companies" [value]="company.companyId">{{
									company.companyName
									}}
								</option>
							</select>
						</div>
						<div class="form-group" fxFlex>
							<label>Project Name</label>
							<input class="form-control" formControlName="projectName"
								[class.is-invalid]="projectName.invalid && formSubmitAttempt">
						</div>
					</div>
					<div fxLayout fxLayoutGap="10px">
						<div fxLayout fxLayoutGap="10px" fxFlex>
							<div class="form-group" fxFlex>
								<label>City</label>
								<input class="form-control" formControlName="city">
							</div>
							<div class="form-group" fxFlex>
								<label>Remark</label>
								<input class="form-control" formControlName="remark">
							</div>
						</div>
						<div fxLayout fxLayoutGap="10px" fxFlex>
							<div class="form-group mb-0" fxFlex>
								<label>Project Type</label>
								<select class="form-control" formControlName="projectTypeId">
									<option *ngFor="let projectType of projectTypes"
										[value]="projectType.projectTypeId">{{
										projectType.projectTypeName }}</option>
								</select>
							</div>
							<div class="form-group mb-0" fxFlex>
								<label>Launching Date</label>
								<div class="input-group">
									<input [matDatepicker]="datePicker" class="form-control" (click)="datePicker.open()"
										readonly formControlName="launchingDate" />
									<div class="input-group-append">
										<span class="input-group-text" (click)="datePicker.open()"><i
												class="far fa-calendar-alt"></i></span>
									</div>
									<mat-datepicker #datePicker></mat-datepicker>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div fxFlex="500px" class="siteplan-image" fxLayout="column">
					<input type="file" class="d-none" accept="image/*" #uploadSiteplan
						(change)="uploadSiteplanChanged($event)" />
					<label>Siteplan Image :</label>
					<div fxFlex class="siteplan-image-holder" fxLayout="column" fxLayoutAlign="center center">
						<ng-container *ngIf="siteplanPath">
							<image-holder [src]="siteplanPath" fxFlexFill></image-holder>
						</ng-container>
						<ng-container *ngIf="!siteplanPath">
							<div>No Image</div>
						</ng-container>
					</div>
				</div>
			</panel-body>
			<panel-footer fxLayout fxLayoutGap="10px">
				<button class="btn btn-primary" (click)="uploadLogo.click()"><i
						class="fas fa-cloud-upload-alt mr-2"></i>Upload
					Logo</button>
				<button class="btn btn-primary" (click)="uploadSiteplan.click()"><i
						class="fas fa-cloud-upload-alt mr-2"></i>Upload
					Siteplan</button>
				<span fxFlex></span>
				<button class="btn btn-primary" (click)="save()">
					<i class="fa fa-save mr-1"></i> Save
				</button>
			</panel-footer>
		</panel>
		<panel class="panel-payment-plans">
			<panel-header>
				<h3>Payment Plans</h3>
			</panel-header>
			<panel-filter fxLayoutGap="10px" fxLayoutAlign="start end">
				<div class="form-group" fxFlex>
					<label>Search</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search.."
							(keyup)="paymentPlanSearchChanged($event.target.value)">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" (click)="addPaymentPlan()"><i class="fas fa-plus mr-2"></i>Add Payment
					Plan</button>
			</panel-filter>
			<panel-body class="p-0">
				<mat-table class="data-grid" #dataGrid [dataSource]="paymentPlans" matSort matSortDisableClear>

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="paymentMethodName">
						<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Payment Method
						</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.paymentMethodName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="paymentPlanName">
						<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Payment Plan
						</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.paymentPlanName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="remark">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Remark</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.remark }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="80px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="80px" *matCellDef="let row" fxLayoutGap="5px">
							<button class="btn btn-primary btn-sm" (click)="editPaymentPlan(row.paymentPlanId)"><i
									class="fas fa-pen"></i></button>
							<button class="btn btn-danger btn-sm" (click)="deletePaymentPlan(row.paymentPlanId)"><i
									class="far fa-trash-alt"></i></button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="paymentPlansColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: paymentPlansColumns;"></mat-row>
				</mat-table>
			</panel-body>
		</panel>
		<panel class="panel-units mt-4">
			<panel-header>
				<h3>Unit Type</h3>
			</panel-header>
			<panel-filter fxLayoutGap="10px" fxLayoutAlign="start end">
				<div class="form-group" fxFlex>
					<label>Search</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search.."
							(keyup)="unitTpyeSearchChanged($event.target.value)">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" (click)="addUnitType()"><i class="fas fa-plus mr-2"></i>Add Unit
					Type</button>
			</panel-filter>
			<panel-body class="p-0">
				<mat-table class="data-grid" #dataGrid [dataSource]="unitTypes" matSort matSortDisableClear>

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="unitTypeName">
						<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Unit Type</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.unitTypeName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="remark">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Remark</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.remark }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="unitCount">
						<mat-header-cell fxFlex="100px" *matHeaderCellDef>Unit</mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row" fxLayoutGap="5px">
							{{ row.unitCount }} Unit{{ row.unitCount > 1 ? 's' : ''}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="80px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="80px" *matCellDef="let row" fxLayoutGap="5px">
							<button class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></button>
							<button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="unitTypesColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: unitTypesColumns;"></mat-row>
				</mat-table>
			</panel-body>
		</panel>
		<panel>
			<panel-header>
				<h3>Lead Property Agent</h3>
			</panel-header>
			<panel-filter fxLayoutGap="10px">
				<div class="form-group" fxFlex>
					<label>Search</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search.."
							(keyup)="leadPropertyAgentSearchChanged($event.target.value)">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" (click)="addLeadPropertyAgent()"><i class="fas fa-plus mr-2"></i>Add
					Lead Property Agent</button>
			</panel-filter>
			<panel-body class="p-0">
				<mat-table class="data-grid grid-property-agent" #dataGrid [dataSource]="leadPropertyAgents" matSort
					matSortDisableClear>

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="propertyAgentName">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>PropertyAgent</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.propertyAgentName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="startDate">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Start Date</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.startDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="endDate">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>End Date</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.endDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.status }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row" fxLayoutGap="5px">
							<ng-container *ngIf="row.status.toLowerCase()!== 'deleted'">
								<button class="btn btn-primary btn-sm"
									(click)="editLeadPropertyAgent(row.projectLeadPropertyAgentId)"><i
										class="fas fa-pen"></i></button>
								<button class="btn btn-danger btn-sm"
									(click)="deleteLeadPropertyAgent(row.projectLeadPropertyAgentId)"><i
										class="far fa-trash-alt"></i></button>
							</ng-container>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="leadPropertyAgentsColumns">
					</mat-header-row>
					<mat-row *matRowDef="let row; columns: leadPropertyAgentsColumns;"
						[ngClass]="row.status | lowercase"></mat-row>
				</mat-table>
			</panel-body>
		</panel>
		<panel class="panel-units">
			<panel-header>
				<h3>Units</h3>
			</panel-header>
			<panel-filter fxLayoutGap="10px" fxLayoutAlign="start end">
				<div class="form-group" fxFlex>
					<label>Search</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event)"
							[value]="queryParams['unit-name']">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group" fxFlex="100px">
					<label>Category</label>
					<select class="form-control" (change)="unitCategoryChanged($event)">
						<option>All</option>
						<option *ngFor="let u of unitCategoryNames">{{ u }}</option>
					</select>
				</div>
				<div class="form-group" fxFlex="140px">
					<label>Type</label>
					<select class="form-control" (change)="unitTypeChanged($event)">
						<option>All</option>
						<option *ngFor="let u of unitTypeNames">{{ u }}</option>
					</select>
				</div>
				<div class="form-group" fxFlex="120px">
					<label>Sales Status</label>
					<select class="form-control" (change)="salesStatusChanged($event)">
						<option>All</option>
						<option *ngFor="let u of salesStatusNames">{{ u }}</option>
					</select>
				</div>
				<div class="form-group" fxFlex="100px">
					<label>Progress Status</label>
					<select class="form-control" (change)="progressStatusChanged($event)">
						<option>All</option>
						<option *ngFor="let u of progressStatusNames">{{ u }}</option>
					</select>
				</div>
				<!-- <a class="btn btn-primary" [routerLink]="[ 'unit/new' ]"><i class="fas fa-plus mr-2"></i>Add Unit</a> -->
				<button class="btn btn-primary" (click)="addUnit()"><i class="fas fa-plus mr-2"></i>Add Unit</button>
			</panel-filter>
			<panel-body class="p-0">
				<ng-container *ngIf="isUnitInitialized">
					<mat-table class="data-grid" [dataSource]="units" matSort #unitSort="matSort" matSortDisableClear>
						<ng-container matColumnDef="no">
							<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
							</mat-header-cell>
							<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
								{{ i + 1 }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="unitName">
							<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Unit Name</mat-header-cell>
							<mat-cell fxFlex *matCellDef="let row">{{ row.unitName }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="lt">
							<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef>LT</mat-header-cell>
							<mat-cell fxFlex="60px" *matCellDef="let row">{{ row.lt }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="lb">
							<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef>LB</mat-header-cell>
							<mat-cell fxFlex="60px" *matCellDef="let row">{{ row.lb }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="unitCategoryName">
							<mat-header-cell fxFlex="100px" mat-sort-header *matHeaderCellDef>Category</mat-header-cell>
							<mat-cell fxFlex="100px" *matCellDef="let row">{{ row.unitCategoryName }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="unitTypeName">
							<mat-header-cell fxFlex="140px" mat-sort-header *matHeaderCellDef>Type</mat-header-cell>
							<mat-cell fxFlex="140px" *matCellDef="let row">{{ row.unitTypeName }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="salesStatusName">
							<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Sales Status
							</mat-header-cell>
							<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.salesStatusName }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="progressStatusName">
							<mat-header-cell fxFlex="100px" mat-sort-header *matHeaderCellDef>Progress
							</mat-header-cell>
							<mat-cell fxFlex="100px" *matCellDef="let row">{{ row.progressStatusName }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="cashPrice">
							<mat-header-cell fxFlex="140px" mat-sort-header *matHeaderCellDef>Cash Price
							</mat-header-cell>
							<mat-cell fxFlex="140px" *matCellDef="let row">
								{{ row.cashPrice | currency:'IDR':'IDR. ':'1.0-0' }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell fxFlex="50px" *matHeaderCellDef></mat-header-cell>
							<mat-cell fxFlex="50px" *matCellDef="let row">
								<!-- <a class="btn btn-primary btn-sm" [routerLink]="[ 'unit/' + row.unitId ]"
									target="_blank"><i class="fas fa-pen"></i></a> -->
								<button class="btn btn-primary btn-sm" (click)="editUnit(row.unitId)"><i
										class="fas fa-pen"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="unitsColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: unitsColumns;"></mat-row>
					</mat-table>
				</ng-container>
				<ng-container *ngIf="!isUnitInitialized">
					<div class="loading-container">
						<loading></loading>
					</div>
				</ng-container>
				<mat-paginator #unitPaginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
			</panel-body>
		</panel>
	</page-body>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
