<ng-container *ngIf="isPeriodeInitialized">
	<ng-container *ngIf="!isNoData">
		<div class="page-header" fxLayoutGap.gt-md="10px" fxLayout fxLayout.lt-md="column" fxLayoutAlign.lt-md="start">
			<div class="form-group" fxFlex.gt-sm="120px">
				<label>Year</label>
				<select class="form-control" (change)="yearChanged($any($event.target).value)">
					<option *ngFor="let y of years" [value]="y.year">{{ y.year }}</option>
				</select>
			</div>
			<div class="form-group" fxFlex.gt-sm="200px">
				<label>Month</label>
				<select class="form-control" (change)="monthChanged($any($event.target).value)">
					<option value="0">All</option>
					<option *ngFor="let m of months" [value]="m.monthId">{{ m.monthName }}</option>
				</select>
			</div>
			<div class="form-group" fxFlex.gt-sm>
				<label>Search</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search.." [(ngModel)]="search">
					<div class="input-group-append">
						<span class="input-group-text">
							<i class="fas fa-search"></i>
						</span>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" (click)="exportToExcel()"><i class="fa fa-file-excel mr-2"></i>Export to
				Excel</button>
		</div>
	</ng-container>
	<div class="page-body" fxLayout="column">
		<ng-container *ngIf="isInitialized">
			<ng-container *ngIf="isNoData">
				<div class="text-center">No Data</div>
			</ng-container>
			<ng-container *ngIf="!isNoData">
				<ng-container *ngFor="let m of filteredSalesMonths">
					<div class="title" fxLayout fxLayoutAlign="start center">
						<h1 fxShow fxHide.lt-md>{{ m.monthName }}</h1>
						<h4 fxHide fxShow.lt-md>{{ m.monthName }}</h4>
						<span fxFlex></span>
						<div fxLayout="column">
							<h2>{{ m.totalAmount | currency:'IDR':'Rp. ':'1.0-0' }}</h2>
							<h3>{{ m.totalUnit + ' Unit' + (m.totalUnit > 1 ? 's': '') }}</h3>
						</div>
					</div>
					<div class="grid">
						<div class="grid-header">
							<div fxShow fxHide.lt-md fxFlex="40px" class="text-center">No</div>
							<div fxHide fxShow.lt-md fxFlex>Unit / Customer</div>
							<div fxShow fxHide.lt-md fxFlex>Customer Name</div>
							<div fxShow fxHide.lt-md fxFlex="110px" class="text-center">Sales Date</div>
							<div fxShow fxHide.lt-md fxFlex="140px" class="text-center">Sales Price</div>
							<div fxShow fxHide.lt-md fxFlex="130px" class="text-center">Agent</div>
							<!-- <div fxShow fxHide.lt-md fxFlex="130px" class="text-center">Reference</div> -->
							<!-- <div fxShow fxHide.lt-md fxFlex="120px" class="text-center">Billing Status</div> -->
							<div fxShow fxHide.lt-md fxFlex="130px" class="text-center">Akad</div>
							<div fxShow fxHide.lt-md fxFlex="100px" class="text-center">Handover</div>
							<div fxFlex="50px" class="text-center"></div>
						</div>
						<div class="grid-body">
							<ng-container *ngFor="let s of m.salesList; let i = index">
								<div class="grid-row" [class.handover]="s.handoverDate">
									<div fxShow fxHide.lt-md fxFlex="40px" class="text-center justify-content-center">{{
										i +
										1 }}</div>
									<div fxHide fxShow.lt-md fxFlex class="pl-3" fxLayout>
										<div fxLayout="column" fxLayoutAlign="center start" fxFlex>
											<h3 class="text-uppercase">{{ s.projectName }}</h3>
											<h1>{{ s.unitName }}</h1>
											<h2>{{ s.fullName }}</h2>
										</div>
										<div fxLayout="column" fxLayoutAlign="center end">
											<h1>{{ s.salesPrice | currency:'IDR':'Rp. ':'1.0-0'}}</h1>
											<h3>{{ s.paymentPlanName }}</h3>
										</div>
									</div>
									<div fxShow fxHide.lt-md fxFlex fxLayout="column" fxLayoutAlign="center start">
										<h3 class="text-uppercase">{{ s.projectName }}</h3>
										<h1>{{ s.unitName }}</h1>
										<h2>{{ s.fullName }}</h2>
									</div>
									<div fxShow fxHide.lt-md fxFlex="110px" class="text-center">{{ s.salesDate }}</div>
									<div fxShow fxHide.lt-md fxFlex="140px" fxLayout="column"
										fxLayoutAlign="center start">
										<h1>{{ s.salesPrice | currency:'IDR':'Rp. ':'1.0-0'}}</h1>
										<h3>{{ s.paymentPlanName }}</h3>
									</div>
									<div fxShow fxHide.lt-md fxFlex="130px" fxLayout="column"
										fxLayoutAlign="center start">
										<h1>{{ s.salesName }}</h1>
										<h3>{{ s.agentPropertyLeadName }}</h3>
									</div>
									<!-- <div fxShow fxHide.lt-md fxFlex="130px">{{ s.productReferenceName }}</div> -->
									<!-- <div fxShow fxHide.lt-md fxFlex="120px" fxLayout="column"
										fxLayoutAlign="center start">
										<ng-container *ngIf="!s.cancelationDate">
											<h1>{{ s.billingStatus }}</h1>
											<h3>{{ s.billingDate }}</h3>
										</ng-container>
										<ng-container *ngIf="s.cancelationDate">
											<h1 class="cancelation">Cancelation</h1>
											<h3>{{ s.cancelationDate }}</h3>
										</ng-container>
									</div> -->
									<div fxShow fxHide.lt-md fxFlex="130px" fxLayout="column"
										fxLayoutAlign="center start">
										<ng-container *ngIf="s.akadRealizationDate">
											<h1>{{ s.akadRealizationDate }}</h1>
											<h2 class="done"><i class="fas fa-check-circle mr-1"></i>Done</h2>
										</ng-container>
										<ng-container *ngIf="!s.akadRealizationDate">
											<h1>{{ s.akadDate }}</h1>
											<ng-container *ngIf="s.akadDaysRemaining < 0">
												<h2 class="danger">
													<i class="fas fa-exclamation-circle mr-1"></i>
													{{ s.akadDescription }}
												</h2>
											</ng-container>
											<ng-container
												*ngIf="s.akadDate && s.akadDaysRemaining > -1 && s.akadDaysRemaining < 8">
												<h2 class="warning">
													<i class="fas fa-exclamation-triangle mr-1"></i>
													{{ s.akadDescription }}
												</h2>
											</ng-container>
											<ng-container *ngIf="s.akadDate && s.akadDaysRemaining > 7">
												<h2>
													<i class="fas fa-info-circle mr-1"></i>
													{{ s.akadDescription }}
												</h2>
											</ng-container>
										</ng-container>
									</div>
									<div fxShow fxHide.lt-md fxFlex="100px" class="handover text-center">{{
										s.handoverDate
										}}</div>
									<div fxFlex="50px">
										<a class="btn btn-primary btn-sm" [routerLink]="[ s.salesId ]">
											<i class="fas fa-external-link-alt"></i>
										</a>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</ng-container>
			</ng-container>
		</ng-container>
		<ng-container *ngIf="!isInitialized">
			<div class="loading-container">
				<loading></loading>
			</div>
		</ng-container>
	</div>
</ng-container>
<ng-container *ngIf="!isPeriodeInitialized">
	<loading></loading>
</ng-container>
<!-- <ng-container *ngIf="isInitialized">
	<div class="page-header">
		<div class="form-group" fxFlex>
			<label>Search</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search.."
					(keyup)="searchChanged($any($event.target).value)">
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="panel">
			<div class="panel-body p-0">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear
					matSortActive="formattedSalesDate" matSortDirection="asc">

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="formattedSalesDate">
						<mat-header-cell fxFlex="120px" *matHeaderCellDef>Sales Date</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.formattedSalesDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="unitName">
						<mat-header-cell fxFlex="120px" *matHeaderCellDef>Unit</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">
							<div fxLayout="column">
								<h1>{{ row.unitName }}</h1>
								<h3>{{ row.projectName }}</h3>
							</div>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="fullName">
						<mat-header-cell fxFlex *matHeaderCellDef>Customer</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.fullName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="salesName">
						<mat-header-cell fxFlex="200px" *matHeaderCellDef>Sales Agent</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">
							<div fxLayout="column">
								<h1>{{ row.salesName }}</h1>
								<h3>{{ row.agentProperty }}</h3>
							</div>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="salesPrice">
						<mat-header-cell fxFlex="140px" *matHeaderCellDef>Sales Price</mat-header-cell>
						<mat-cell fxFlex="140px" *matCellDef="let row">{{ row.salesPrice |
							currency:'IDR':'Rp.
							':'1.0-0' }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="180px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="180px" *matCellDef="let row" fxLayout fxLayoutGap="5px">
							<a class="btn btn-primary btn-sm" [routerLink]="[ row.salesId ]">
								<i class="far fa-eye mr-2"></i> View
							</a>
							<button class="btn btn-primary btn-sm" [disabled]="row.isSprPrinting"
								(click)="printSpr(row)">
								<ng-container *ngIf="!row.isSprPrinting">
									<i class="fas fa-file-pdf mr-2"></i> Print SPR
								</ng-container>
								<ng-container *ngIf="row.isSprPrinting">
									<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
										aria-hidden="true"></span>
									Printing..
								</ng-container>
							</button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
				<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container> -->
