<ng-container *ngIf="isInitialized">
	<ng-container *ngIf="!isNotAvailable">
		<div class="container">
			<div *ngIf="timeout" class="timeout">
				{{ timeout }}
			</div>
			<div class="panel my-3">
				<div class="panel-body p-4 p-md-5 pt-5">
					<h1 class="title text-center">Customer Reservation Form</h1>
				</div>
				<div class="panel-body unit-locked p-4 px-md-5 py-md-4"
					*ngIf="reservationData.unit.isLocked && reservationData.unit.lockedUserId !== userId">
					<h3>Unit locked by <span>{{ reservationData.unit.lockedUserName }}</span> on <span>{{
							reservationData.unit.formattedLockedDate }}</span></h3>
				</div>
				<div class="panel-body px-4 py-2 px-md-5 py-md-2" fxLayout="column">
					<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="submit()">
						<h1>Data Pribadi</h1>
						<div class="row">
							<div class="col col-12 col-lg-6 px-3">
								<div class="form-group required">
									<label>Nama Lengkap</label>
									<input class="form-control" formControlName="fullName"
										[class.is-invalid]="fullName.invalid && formSubmitAttempt">
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group required" fxFlex.gt-md="110px">
										<label>Jenis Kelamin</label>
										<select class="form-control" formControlName="genderId">
											<option *ngFor="let gender of reservationData.genders"
												[value]="gender.genderId">{{
												gender.genderName }}</option>
										</select>
									</div>
									<div class="form-group required" fxFlex.gt-md="130px">
										<label>Tanggal Lahir</label>
										<div class="input-group">
											<input [matDatepicker]="datePicker" class="form-control"
												(click)="datePicker.open()" formControlName="dob"
												[class.is-invalid]="dob.invalid && formSubmitAttempt" />
											<div class="input-group-append">
												<span class="input-group-text" (click)="datePicker.open()"><i
														class="far fa-calendar-alt"></i></span>
											</div>
											<mat-datepicker #datePicker></mat-datepicker>
										</div>
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Tempat Lahir</label>
										<input class="form-control" formControlName="pob">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group required" fxFlex.gt-md="110px">
										<label>Agama</label>
										<select class="form-control" formControlName="religionId">
											<option *ngFor="let religion of reservationData.religions"
												[value]="religion.religionId">{{ religion.religionName }}</option>
										</select>
									</div>
									<div class="form-group required" fxFlex.gt-md="130px">
										<label>Status Pernikahan</label>
										<select class="form-control" formControlName="maritalStatusId">
											<option *ngFor="let maritalStatus of reservationData.maritalStatuses"
												[value]="maritalStatus.maritalStatusId">{{
												maritalStatus.maritalStatusName
												}}
											</option>
										</select>
									</div>
									<div class="form-group required" fxFlex.gt-md>
										<label>Email</label>
										<input class="form-control" formControlName="email"
											[class.is-invalid]="email.invalid && formSubmitAttempt">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group required" fxFlex.gt-md>
										<label>No. Identitas</label>
										<input numbersOnly class="form-control" formControlName="identityCode"
											[class.is-invalid]="identityCode.invalid && formSubmitAttempt">
									</div>
									<div class="form-group required" fxFlex.gt-md>
										<label>NPWP</label>
										<input numbersOnly class="form-control" formControlName="npwp"
											[class.is-invalid]="npwp.invalid && formSubmitAttempt">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group required" fxFlex.gt-md>
										<label>Telp. Rumah</label>
										<input numbersOnly class="form-control" formControlName="homePhone"
											[class.is-invalid]="homePhone.invalid && formSubmitAttempt">
									</div>
									<div class="form-group required" fxFlex.gt-md>
										<label>Handphone</label>
										<input numbersOnly class="form-control" formControlName="handPhone"
											[class.is-invalid]="handPhone.invalid && formSubmitAttempt">
									</div>
								</div>
								<div class="form-group required">
									<label>Alamat Sesuai KTP</label>
									<textarea class="form-control" rows="4" formControlName="identityAddress"
										[class.is-invalid]="identityAddress.invalid && formSubmitAttempt"></textarea>
								</div>
							</div>
							<div class="col col-12 col-lg-6 px-3">
								<div class="form-group required">
									<label>Alamat Surat Menyurat</label>
									<textarea class="form-control" rows="4" formControlName="mailingAddress"
										[class.is-invalid]="mailingAddress.invalid && formSubmitAttempt"></textarea>
								</div>
								<div class="form-group required">
									<label>Pekerjaan</label>
									<select class="form-control" formControlName="occupationId">
										<option *ngFor="let o of reservationData.occupations" [value]="o.occupationId">
											{{
											o.occupationName }}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Nama Perusahaan</label>
									<input class="form-control" formControlName="companyName">
								</div>
								<div class="form-group">
									<label>Alamat Perusahaan</label>
									<textarea class="form-control" rows="4" formControlName="companyAddress"></textarea>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md>
										<label>Telp. Perusahaan</label>
										<input numbersOnly class="form-control" formControlName="companyPhone">
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Fax. Perusahaan</label>
										<input numbersOnly class="form-control" formControlName="companyFax">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col col-12 col-lg-6">
								<h1>Tujuan Pembelian dan Sumber Dana</h1>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Tujuan Pembelian</label>
										<select class="form-control" formControlName="purposeOfPurchaseId">
											<option *ngFor="let purposeOfPurchase of reservationData.purposeOfPurchases"
												[value]="purposeOfPurchase.purposeOfPurchaseId">{{
												purposeOfPurchase.purposeOfPurchaseName }}</option>
										</select>
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Keterangan</label>
										<input class="form-control" formControlName="purposeOfPurchaseRemark">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Sumber Dana</label>
										<select class="form-control" formControlName="sourceOfFundsId">
											<option *ngFor="let sourceOfFunds of reservationData.sourceOfFundses"
												[value]="sourceOfFunds.sourceOfFundsId">{{
												sourceOfFunds.sourceOfFundsName
												}}
											</option>
										</select>
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Keterangan</label>
										<input class="form-control" formControlName="sourceOfFundsRemark">
									</div>
								</div>
								<h1>Informasi Unit</h1>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Unit</label>
										<input class="form-control" readonly [value]="reservationData.unit.unitName">
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Cluster</label>
										<input class="form-control" readonly [value]="reservationData.unit.projectName">
									</div>
								</div>
								<h1>Informasi Cara Pembayaran</h1>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md="220px">
										<label>Cara Bayar</label>
										<div class="input-group">
											<select class="form-control" (change)="paymentPlanChanged($event)"
												formControlName="paymentPlanId">
												<option *ngFor="let paymentPlan of paymentPlans"
													[value]="paymentPlan.paymentPlanId">{{
													paymentPlan.paymentPlanName + (paymentPlan.isCustom ? ' - Custom' :
													'')
													}}
												</option>
											</select>
											<div class="input-group-append" *ngIf="selectedPaymentPlan.isCustom">
												<button class="btn btn-primary" (click)="resetSelectedPaymentPlan()"><i
														class="fas fa-redo-alt"></i></button>
											</div>
										</div>
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Harga</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													Rp.
												</span>
											</div>
											<input readonly currencyMask [options]="{ prefix: ''}"
												class="form-control text-right" formControlName="unitPrice">
										</div>
									</div>
								</div>
								<div class="grid payment-schemes">
									<div class="grid-header">
										<div class="no" fxFlex="40px">No. </div>
										<div class="tanggal" fxFlex.gt-md="110px" fxHide fxShow.gt-md>Tanggal</div>
										<div class="skema" fxFlex fxFlex.gt-md="160px">Skema</div>
										<div class="harga" fxFlex.gt-md fxHide fxShow.gt-md>Harga</div>
									</div>
									<div class="grid-body">
										<ng-container *ngFor="let ppd of selectedPaymentPlan.paymentPlanDetails">
											<div *ngFor="let p of ppd.paymentPlanDatas" class="grid-header-row"
												fxLayout="column">
												<div class="grid-row" fxLayout>
													<div class="no" fxFlex="40px" fxLayoutAlign="center center">{{ p.no
														}}
													</div>
													<div class="tanggal" fxFlex.gt-md="110px" fxHide fxShow.gt-md>{{
														p.paymentDate | date:'dd MMM yyyy'}}
													</div>
													<div class="skema" fxFlex fxFlex.gt-md="160px">
														<h2 fxShow fxHide.gt-md>{{ p.paymentDate | date:'dd MMM yyyy'}}
														</h2>
														<h1>{{ p.paymentSchemeName }}</h1>
														<h3 fxShow fxHide.gt-md class="text-right">{{ p.priceAmount |
															currency:'IDR':'Rp. ':'1.0-0' }}</h3>
													</div>
													<div class="harga" fxFlex.gt-md fxHide fxShow.gt-md>{{ p.priceAmount
														|
														currency:'IDR':'Rp. ':'1.0-0' }}
													</div>
												</div>
											</div>
										</ng-container>
									</div>
									<div class="grid-footer">
										<div fxFlex>Total Harga</div>
										<div fxFlex="160px">{{ totalPrice | currency:'IDR':'Rp. ':'1.0-0' }}</div>
									</div>
								</div>
								<button *ifHasMn="['web.backend.property-management.project.unit.reservation']"
									class="btn btn-primary btn-block mb-5" type="button" (click)="editPaymentPlan()"><i
										class="fas fa-pen mr-2"></i>Edit Cara Bayar</button>
								<h1>Promo dan Catatan</h1>
								<div class="form-group">
									<label>Promo</label>
									<input class="form-control" formControlName="promo">
								</div>
								<div class="form-group">
									<label>Catatan</label>
									<textarea class="form-control" rows="4" formControlName="remark"></textarea>
								</div>
							</div>
							<div class="col col-12 col-lg-6">
								<h1>Referensi Produk</h1>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Referensi Produk</label>
										<select class="form-control" formControlName="productReferenceId">
											<option *ngFor="let productReference of reservationData.productReferences"
												[value]="productReference.productReferenceId">{{
												productReference.productReferenceName
												}}</option>
										</select>
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Keterangan</label>
										<input class="form-control" formControlName="productReferenceRemark">
									</div>
								</div>
								<h1>Informasi Sales</h1>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Sales</label>
										<select #agentPropertyTypeControl class="form-control"
											formControlName="agentPropertyTypeId">
											<option *ngFor="let agentPropertyType of reservationData.agentPropertyTypes"
												[value]="agentPropertyType.agentPropertyTypeId">{{
												agentPropertyType.agentPropertyTypeName
												}}</option>
										</select>
									</div>
									<div class="form-group required" fxFlex.gt-md>
										<label>Sales Name</label>
										<input class="form-control" formControlName="salesName"
											[class.is-invalid]="salesName.invalid && formSubmitAttempt">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px"
									*ngIf="+agentPropertyTypeControl.value !== 2">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Supervisor Name</label>
										<input class="form-control" formControlName="salesSupervisorName">
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Manager Name</label>
										<input class="form-control" formControlName="salesManagerName">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px"
									*ngIf="+agentPropertyTypeControl.value === 2">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Agent Property Name</label>
										<input class="form-control" formControlName="agentPropertyName">
									</div>
									<div class="form-group required" fxFlex.gt-md>
										<label>Lead Name</label>
										<input class="form-control" formControlName="agentPropertyLeadName"
											[class.is-invalid]="agentPropertyLeadName.invalid && formSubmitAttempt">
									</div>
								</div>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px"
									*ngIf="+agentPropertyTypeControl.value === 2">
									<div class="form-group" fxFlex.gt-md="180px">
										<label>Office Phone</label>
										<input class="form-control" formControlName="agentPropertyOfficePhone">
									</div>
									<div class="form-group" fxFlex.gt-md>
										<label>Sales Phone</label>
										<input class="form-control" formControlName="agentPropertySalesPhone">
									</div>
								</div>
								<h1>Kelengkapan Data</h1>
								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
									<div class="upload" fxFlex.gt-md fxLayout="column">
										<label>KTP</label>
										<!-- <div class="upload-box" [class.invalid]="!ktpBase64Image && formSubmitAttempt">
											<ng-container *ngIf="ktpBase64Image">
												<thumb [src]="ktpBase64Image" height="120px"></thumb>
											</ng-container>
										</div> -->
										<div class="upload-box">
											<ng-container *ngIf="ktpBase64Image">
												<thumb [src]="ktpBase64Image" height="120px"></thumb>
											</ng-container>
										</div>
										<input #uploadKtp (change)="uploadKtpChanged($event)" type="file"
											accept="image/*" class="d-none">
										<button *ifHasMn="['web.backend.property-management.project.unit.reservation']"
											type="button" class="btn btn-primary mt-2 mt-lg-3 mt-xl-3"
											(click)="uploadKtp.click()"><i
												class="fas fa-cloud-upload-alt mr-2"></i>Upload
											KTP</button>
									</div>
									<div class="upload" fxFlex.gt-md fxLayout="column">
										<label>NPWP</label>
										<!-- <div class="upload-box" [class.invalid]="!npwpBase64Image && formSubmitAttempt">
											<ng-container *ngIf="npwpBase64Image">
												<thumb [src]="npwpBase64Image" height="120px"></thumb>
											</ng-container>
										</div> -->
										<div class="upload-box">
											<ng-container *ngIf="npwpBase64Image">
												<thumb [src]="npwpBase64Image" height="120px"></thumb>
											</ng-container>
										</div>
										<!-- <input #uploadNpwp (change)="uploadNpwpChanged($event)" type="file" accept="image/*"
											capture="environment" class="d-none"> -->
										<input #uploadNpwp (change)="uploadNpwpChanged($event)" type="file"
											accept="image/*" class="d-none">
										<button *ifHasMn="['web.backend.property-management.project.unit.reservation']"
											type="button" class="btn btn-primary mt-2 mt-lg-3 mt-xl-3"
											(click)="uploadNpwp.click()"><i
												class="fas fa-cloud-upload-alt mr-2"></i>Upload
											NPWP</button>
									</div>
								</div>
								<div class="upload" fxLayout="column">
									<label>Bukti Transfer</label>
									<!-- <div class="upload-box"
										[class.invalid]="!proofOfTransferBase64Image && formSubmitAttempt">
										<ng-container *ngIf="proofOfTransferBase64Image">
											<thumb [src]="proofOfTransferBase64Image" height="120px"></thumb>
										</ng-container>
									</div> -->
									<div class="upload-box">
										<ng-container *ngIf="proofOfTransferBase64Image">
											<thumb [src]="proofOfTransferBase64Image" height="120px"></thumb>
										</ng-container>
									</div>
									<!-- <input #uploadProofOfTransfer (change)="uploadProofOfTransferChanged($event)"
										type="file" accept="image/*" capture="environment" class="d-none"> -->
									<input #uploadProofOfTransfer (change)="uploadProofOfTransferChanged($event)"
										type="file" accept="image/*" class="d-none">
									<button *ifHasMn="['web.backend.property-management.project.unit.reservation']"
										type="button" class="btn btn-primary mt-2 mt-lg-3 mt-xl-3"
										(click)="uploadProofOfTransfer.click()"><i
											class="fas fa-cloud-upload-alt mr-2"></i>Upload
										Bukti Transfer</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<ng-container
					*ngIf="!reservationData.unit.isLocked || (reservationData.unit.isLocked && reservationData.unit.lockedUserId === userId)">
					<ng-container *ifHasMn="['web.backend.property-management.project.unit.reservation']">
						<div class="panel-body px-4 py-3 px-md-5 py-md-4 panel-submit" fxLayout="column"
							fxLayoutAlign="center center">
							<ng-container *ngIf="errorMessage">
								<div class="invalid-form-group">
									<i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
									{{ errorMessage }}
								</div>
							</ng-container>
							<ng-container *ngIf="!isSaving">
								<button class="btn btn-primary btn-block" (click)="submit()"><i
										class="fas fa-save mr-2"></i>Reserve</button>
							</ng-container>
							<ng-container *ngIf="isSaving">
								<button type="button" class="btn btn-primary btn-block" disabled>
									<span class="spinner-border spinner-border-sm mr-2" role="status"
										aria-hidden="true"></span>
									Saving...
								</button>
							</ng-container>
						</div>
					</ng-container>
				</ng-container>

			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="isNotAvailable">
		<div class="container">
			<div class="panel panel-unavailable my-3">
				<div class="panel-body" fxLayout="column" fxLayoutAlign="center center">
					<img src="assets/images/not-available.png" />
					<h1>Oops, this unit is no longer available</h1>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
