<h2 mat-dialog-title>Unit Detail</h2>
<mat-dialog-content fxLayout="column">
	<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="submit()">
		<div fxLayout fxLayoutGap="10px">
			<div class="form-group" fxFlex>
				<label>Block Name</label>
				<input class="form-control" formControlName="blockName"
					[class.is-invalid]="formSubmitAttempt && blockName.invalid">
			</div>
			<div class="form-group" fxFlex>
				<label>Unit Name</label>
				<input class="form-control" formControlName="unitName"
					[class.is-invalid]="formSubmitAttempt && unitName.invalid">
			</div>
		</div>
		<div fxLayout fxLayoutGap="10px">
			<div class="form-group" fxFlex>
				<label>Category</label>
				<select class="form-control" formControlName="unitCategoryId"
					[class.is-invalid]="formSubmitAttempt && unitCategoryId.invalid">
					<option *ngFor="let unitCategory of unitCategories" [value]="unitCategory.unitCategoryId">{{
						unitCategory.unitCategoryName }}</option>
				</select>
			</div>
			<div class="form-group" fxFlex>
				<label>Type</label>
				<select class="form-control" formControlName="unitTypeId"
					[class.is-invalid]="formSubmitAttempt && unitTypeId.invalid">
					<option *ngFor="let unitType of unitTypes" [value]="unitType.unitTypeId">{{ unitType.unitTypeName }}
					</option>
				</select>
			</div>
			<div class="form-group" fxFlex="130px">
				<label>Progress</label>
				<select class="form-control" formControlName="progressStatusId"
					[class.is-invalid]="formSubmitAttempt && progressStatusId.invalid">
					<option *ngFor="let progressStatus of progressStatuses" [value]="progressStatus.progressStatusId">{{
						progressStatus.progressStatusName }}</option>
				</select>
			</div>
		</div>
		<div fxLayout fxLayoutGap="10px">
			<div class="form-group mb-0" fxFlex>
				<label>Show Unit</label>
				<select class="form-control" formControlName="isShowUnit"
					[class.is-invalid]="formSubmitAttempt && isShowUnit.invalid">
					<option value="Y">Yes</option>
					<option value="N">No</option>
				</select>
			</div>
			<div class="form-group mb-0" fxFlex>
				<label>Open</label>
				<select class="form-control" formControlName="isOpen"
					[class.is-invalid]="formSubmitAttempt && isOpen.invalid">
					<option value="Y">Yes</option>
					<option value="N">No</option>
				</select>
			</div>
			<div class="form-group mb-0" fxFlex="60px">
				<label>LT</label>
				<input class="form-control" formControlName="lt" [class.is-invalid]="formSubmitAttempt && lt.invalid">
			</div>
			<div class="form-group mb-0" fxFlex="60px">
				<label>LB</label>
				<input class="form-control" formControlName="lb" [class.is-invalid]="formSubmitAttempt && lb.invalid">
			</div>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button class="btn btn-primary" (click)="submit()">
		<i class="fa fa-save mr-1"></i> Save
	</button>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
