<ng-container *ngIf="isInitialized">
	<div class="page-body container">
		<div class="panel">
			<div class="panel-header" fxLayout fxLayoutAlign="start center">
				<h1 class="panel-title">Sales Detail</h1>
			</div>
			<div *ngIf="sales.cancelationDate" class="panel-body cancelation-reason">
				<h1>This unit is waiting for cancelation approval</h1>
				<h1>Reason: {{ sales.cancelationReason }}</h1>
			</div>
			<div *ngIf="sales.revisionDate" class="panel-body cancelation-reason">
				<h1>This unit is waiting for revision approval</h1>
				<h1>Reason: {{ sales.revisionReason }}</h1>
			</div>
			<div class="panel-body">
				<h1>Data Pribadi dan Pekerjaan Konsumen</h1>
				<div class="row">
					<div class="col col-12 col-lg-6 px-3">
						<div class="form-group required">
							<label>Nama Lengkap</label>
							<input class="form-control" [(ngModel)]="sales.fullName" readonly>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group required" fxFlex.gt-md="110px">
								<label>Jenis Kelamin</label>
								<input class="form-control" [(ngModel)]="sales.genderName" readonly />
							</div>
							<div class="form-group required" fxFlex.gt-md="130px">
								<label>Tanggal Lahir</label>
								<input class="form-control" [(ngModel)]="sales.formattedDob" readonly />
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Tempat Lahir</label>
								<input class="form-control" [(ngModel)]="sales.pob" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group required" fxFlex.gt-md="110px">
								<label>Agama</label>
								<input class="form-control" [(ngModel)]="sales.religionName" readonly />
							</div>
							<div class="form-group required" fxFlex.gt-md="130px">
								<label>Status Pernikahan</label>
								<input class="form-control" [(ngModel)]="sales.maritalStatusName" readonly />
							</div>
							<div class="form-group required" fxFlex.gt-md>
								<label>Email</label>
								<input class="form-control" [(ngModel)]="sales.email" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group required" fxFlex.gt-md>
								<label>No. Identitas</label>
								<input class="form-control" [(ngModel)]="sales.identityCode" readonly>
							</div>
							<div class="form-group required" fxFlex.gt-md>
								<label>NPWP</label>
								<input class="form-control" [(ngModel)]="sales.npwp" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group required" fxFlex.gt-md>
								<label>Telp. Rumah</label>
								<input class="form-control" [(ngModel)]="sales.homePhone" readonly>
							</div>
							<div class="form-group required" fxFlex.gt-md>
								<label>Handphone</label>
								<input class="form-control" [(ngModel)]="sales.handPhone" readonly>
							</div>
						</div>
						<div class="form-group required">
							<label>Alamat Sesuai KTP</label>
							<textarea class="form-control" rows="4" [(ngModel)]="sales.identityAddress"
								readonly></textarea>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md>
								<label>Kelurahan</label>
								<input class="form-control" [(ngModel)]="sales.identitySubdistrictName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Kecamatan</label>
								<input class="form-control" [(ngModel)]="sales.identityDistrictName" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md>
								<label>Kota</label>
								<input class="form-control" [(ngModel)]="sales.identityCityName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Provinsi</label>
								<input class="form-control" [(ngModel)]="sales.identityProvinceName" readonly>
							</div>
						</div>
					</div>
					<div class="col col-12 col-lg-6 px-3">
						<div class="form-group required">
							<label>Alamat Surat Menyurat</label>
							<textarea class="form-control" rows="4" [(ngModel)]="sales.mailingAddress"
								readonly></textarea>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md>
								<label>Kelurahan</label>
								<input class="form-control" [(ngModel)]="sales.mailingSubdistrictName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Kecamatan</label>
								<input class="form-control" [(ngModel)]="sales.mailingDistrictName" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md>
								<label>Kota</label>
								<input class="form-control" [(ngModel)]="sales.mailingCityName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Provinsi</label>
								<input class="form-control" [(ngModel)]="sales.mailingProvinceName" readonly>
							</div>
						</div>
						<div class="form-group required">
							<label>Pekerjaan</label>
							<input class="form-control" [(ngModel)]="sales.customerOccupationName" readonly>
						</div>
						<div class="form-group">
							<label>Nama Perusahaan</label>
							<input class="form-control" [(ngModel)]="sales.customerCompanyName" readonly>
						</div>
						<div class="form-group">
							<label>Alamat Perusahaan</label>
							<textarea class="form-control" rows="4" [(ngModel)]="sales.customerCompanyAddress"
								readonly></textarea>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md>
								<label>Telp. Perusahaan</label>
								<input class="form-control" [(ngModel)]="sales.customerCompanyPhone" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Fax. Perusahaan</label>
								<input class="form-control" [(ngModel)]="sales.customerCompanyFax" readonly>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-12 col-lg-6">
						<h1>Informasi Unit</h1>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Unit</label>
								<div class="input-group">
									<input class="form-control" [(ngModel)]="sales.unitName" readonly>
									<div class="input-group-append">
										<a target="_blank" class="btn btn-primary"
											[routerLink]="['/backend/property-management/project/' + sales.projectId + '/siteplan/' + sales.unitId ]"><i
												class="fas fa-external-link-square-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Cluster</label>
								<input class="form-control" [(ngModel)]="sales.projectName" readonly>
							</div>
						</div>
						<h1>Informasi Cara Pembayaran</h1>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="220px">
								<label>Cara Bayar</label>
								<input class="form-control" [(ngModel)]="sales.paymentPlanName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Harga Jual</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											Rp.
										</span>
									</div>
									<input readonly currencyMask [options]="{ prefix: ''}"
										class="form-control text-right" [(ngModel)]="sales.unitPrice">
								</div>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="90px">
								<label>Diskon %</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											%
										</span>
									</div>
									<input class="form-control text-right" [(ngModel)]="sales.discountPercent" readonly>
								</div>
							</div>
							<div class="form-group" fxFlex.gt-md="160px">
								<label>Diskon Rp.</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											Rp.
										</span>
									</div>
									<input class="form-control text-right"
										[ngModel]="sales.discountAmount | currency:'IDR':'':'1.0-0'"
										[ngModelOptions]="{standalone: true}" readonly>
								</div>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Harga Jual</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											Rp.
										</span>
									</div>
									<input currencyMask [options]="{ prefix: ''}" class="form-control text-right"
										[(ngModel)]="sales.salesPrice" readonly>
								</div>
							</div>
						</div>
						<div class="grid payment-schemes">
							<div class="grid-header">
								<div class="no" fxFlex="40px">No. </div>
								<div class="tanggal" fxFlex.gt-md="110px" fxHide fxShow.gt-md>Tanggal</div>
								<div class="skema" fxFlex fxFlex.gt-md="165px">Deskripsi</div>
								<div class="harga" fxFlex.gt-md fxHide fxShow.gt-md>Harga</div>
							</div>
							<div class="grid-body">
								<ng-container *ngFor="let p of debtorsAccounts let i = index">
									<div class="grid-header-row" fxLayout="column">
										<div class="grid-row" fxLayout>
											<div class="no" fxFlex="40px" fxLayoutAlign="center center">{{ i + 1 }}
											</div>
											<div class="tanggal" fxFlex.gt-md="110px" fxHide fxShow.gt-md>
												{{ p.invoiceDate | date:'dd MMM yyyy' }}
											</div>
											<div class="skema" fxFlex fxFlex.gt-md="165px">
												<h2 fxShow fxHide.gt-md>
													{{ p.invoiceDate | date:'dd MMM yyyy'}}
												</h2>
												<h1>{{ p.invoiceDescription }}</h1>
												<h3 fxShow fxHide.gt-md class="text-right">
													{{ p.invoiceAmount | currency:'IDR':'Rp. ':'1.0-0' }}
												</h3>
											</div>
											<div class="harga" fxFlex.gt-md fxHide fxShow.gt-md>
												{{ p.invoiceAmount | currency:'IDR':'Rp. ':'1.0-0' }}
											</div>
										</div>
									</div>
								</ng-container>
							</div>
							<div class="grid-footer">
								<div fxFlex>Total Harga</div>
								<div fxFlex="160px">{{ totalPrice | currency:'IDR':'Rp. ':'1.0-0' }}</div>
							</div>
						</div>
						<h1>Promo dan Catatan</h1>
						<div class="form-group">
							<label>Promo</label>
							<input class="form-control" [(ngModel)]="sales.promo">
						</div>
						<div class="form-group">
							<label>Catatan</label>
							<textarea class="form-control" rows="4" [(ngModel)]="sales.remark" readonly></textarea>
						</div>
					</div>
					<div class="col col-12 col-lg-6">
						<h1>Informasi Sales</h1>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Sales</label>
								<input class="form-control" [(ngModel)]="sales.agentPropertyTypeName" readonly />
							</div>
							<div class="form-group required" fxFlex.gt-md>
								<label>Sales Name</label>
								<input class="form-control" [(ngModel)]="sales.salesName" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px"
							*ngIf="+sales.agentPropertyTypeId !== 2">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Supervisor Name</label>
								<input class="form-control" [(ngModel)]="sales.salesSupervisorName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Manager Name</label>
								<input class="form-control" [(ngModel)]="sales.salesManagerName" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px"
							*ngIf="+sales.agentPropertyTypeId === 2">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Agent Property Name</label>
								<input class="form-control" [(ngModel)]="sales.agentPropertyName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Lead Name</label>
								<input class="form-control" [(ngModel)]="sales.agentPropertyLeadName" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px"
							*ngIf="+sales.agentPropertyTypeId === 2">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Office Phone</label>
								<input class="form-control" [(ngModel)]="sales.agentPropertyOfficePhone" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Sales Phone</label>
								<input class="form-control" [(ngModel)]="sales.agentPropertySalesPhone" readonly>
							</div>
						</div>
						<h1>Tujuan Pembelian dan Sumber Dana</h1>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Tujuan Pembelian</label>
								<input class="form-control" [(ngModel)]="sales.purposeOfPurchaseName" readonly />
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Keterangan</label>
								<input class="form-control" [(ngModel)]="sales.purposeOfPurchaseRemark" readonly>
							</div>
						</div>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Sumber Dana</label>
								<input class="form-control" [(ngModel)]="sales.sourceOfFundsName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Keterangan</label>
								<input class="form-control" [(ngModel)]="sales.sourceOfFundsRemark" readonly>
							</div>
						</div>
						<h1>Referensi Produk</h1>
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="form-group" fxFlex.gt-md="180px">
								<label>Referensi Produk</label>
								<input class="form-control" [(ngModel)]="sales.productReferenceName" readonly>
							</div>
							<div class="form-group" fxFlex.gt-md>
								<label>Keterangan</label>
								<input class="form-control" [(ngModel)]="sales.productReferenceRemark" readonly>
							</div>
						</div>
						<ng-container *ngIf="sales.akadDate">
							<h1>Informasi Akad</h1>
							<div fxLayout fxLayoutGap="20px">
								<div class="form-group" fxFlex>
									<label>Tanggal Rencana Akad</label>
									<input class="form-control" [(ngModel)]="sales.akadDate" readonly>
								</div>
								<div class="form-group" fxFlex>
									<label>Tanggal Realisasi Akad</label>
									<input class="form-control" [(ngModel)]="sales.akadRealizationDate" readonly>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				<h1>Kelengkapan Data</h1>
				<div class="row">
					<div class="col col-12 col-lg-6 px-3">
						<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="14px" fxLayoutGap.gt-md="20px">
							<div class="image" fxFlex.gt-md fxLayout="column">
								<label>KTP :</label>
								<div class="image-box">
									<!-- TODO: delete ktpImagePath -->
									<!-- <ng-container *ngIf="sales.ktpImagePath">
										<a [href]="sales.ktpImagePath" target="_blank">
											<thumb [src]="sales.ktpImagePath" height="120px"></thumb>
										</a>
									</ng-container> -->
									<ng-container *ngIf="sales.identityImagePath">
										<a [href]="sales.identityImagePath" target="_blank">
											<thumb [src]="sales.identityImagePath" height="120px"></thumb>
										</a>
									</ng-container>
									<ng-container *ngIf="!sales.identityImagePath">
										No image
									</ng-container>
								</div>
							</div>
							<div class="image" fxFlex.gt-md fxLayout="column">
								<label>NPWP :</label>
								<div class="image-box">
									<ng-container *ngIf="sales.npwpImagePath">
										<a [href]="sales.npwpImagePath" target="_blank">
											<thumb [src]="sales.npwpImagePath" height="120px"></thumb>
										</a>
									</ng-container>
									<ng-container *ngIf="!sales.npwpImagePath">
										No image
									</ng-container>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-12 col-lg-6 px-3">
						<div class="image" fxLayout="column">
							<div fxHide.gt-md class="mt-3"></div>
							<label>Bukti Transfer :</label>
							<div class="image-box">
								<ng-container *ngIf="sales.proofOfTransferImagePath">
									<a [href]="sales.proofOfTransferImagePath" target="_blank">
										<thumb [src]="sales.proofOfTransferImagePath" height="120px"></thumb>
									</a>
								</ng-container>
								<ng-container *ngIf="!sales.proofOfTransferImagePath">
									No image
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body" fxLayout="column">
				<ng-container *ngIf="!sales.cancelationDate && !sales.revisionDate">
					<button *ifHasMn="['web.backend.property-management.sales.print-spr']" class="btn btn-primary"
						[disabled]="isSprPrinting" (click)="printSpr()">
						<ng-container *ngIf="!isSprPrinting">
							<i class="fas fa-file-pdf mr-2"></i> Print SPR
						</ng-container>
						<ng-container *ngIf="isSprPrinting">
							<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
								aria-hidden="true"></span>
							Printing..
						</ng-container>
					</button>
					<ng-container *ngIf="sales.paymentMethodId === 3">
						<ng-container *ngIf="sales.akadDate && !sales.akadRealizationDate">
							<button *ifHasMn="['web.backend.property-management.sales.akad-process']"
								class="btn btn-primary mt-2" [disabled]="isAkadProcessing" (click)="processAkad()">
								<ng-container *ngIf="!isAkadProcessing">
									<i class="fas fa-clipboard-check mr-2"></i> Proses Akad
								</ng-container>
								<ng-container *ngIf="isAkadProcessing">
									<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
										aria-hidden="true"></span>
									Processing..
								</ng-container>
							</button>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="!sales.handoverDate">
						<button *ifHasMn="['web.backend.property-management.sales.handover-process']"
							class="btn btn-primary mt-2" [disabled]="isHandoverProcessing" (click)="processHandover()">
							<ng-container *ngIf="!isHandoverProcessing">
								<i class="fas fa-clipboard-check mr-2"></i> Proses Handover
							</ng-container>
							<ng-container *ngIf="isHandoverProcessing">
								<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
									aria-hidden="true"></span>
								Processing..
							</ng-container>
						</button>
						<!-- <loading-button className="btn btn-danger mt-2" (click)="revision()" [isLoading]="isRevising"><i
								class="fas fa-times mr-2"></i>Revision
						</loading-button> -->
					</ng-container>
					<button *ifHasMn="['web.backend.property-management.sales.cancelation']" class="btn btn-danger mt-2"
						[disabled]="isCanceling" (click)="cancelation()">
						<ng-container *ngIf="!isCanceling">
							<i class="fas fa-times"></i> Cancelation
						</ng-container>
						<ng-container *ngIf="isCanceling">
							<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
								aria-hidden="true"></span>
							Loading..
						</ng-container>
					</button>
				</ng-container>
				<ng-container *ngIf="sales.cancelationDate">
					<button *ifHasMn="['web.backend.property-management.sales.cancelation-approval']"
						class="btn btn-danger mt-2" [disabled]="isCanceling" (click)="approveCancelation()">
						<ng-container *ngIf="!isCanceling">
							<i class="fas fa-file-pdf mr-2"></i> Approve Cancelation
						</ng-container>
						<ng-container *ngIf="isCanceling">
							<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
								aria-hidden="true"></span>
							Loading..
						</ng-container>
					</button>
				</ng-container>
				<ng-container *ngIf="sales.revisionDate">
					<loading-button className="btn btn-danger mt-2" (click)="approveRevision()" [isLoading]="isRevising"
						*ifHasMn="['web.backend.property-management.sales.revision-approval']"><i
							class="fas fa-times mr-2"></i>Approve Revision
					</loading-button>
				</ng-container>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
