li {
	list-style: none;
	> div {
		border-bottom: 1px solid #e6eaee;
		padding: 5px 20px 5px 0px;
		> i {
			color: #2ea1f8;
			&.fa-window-maximize {
				color: #f16911;
			}
			&.fa-layer-group {
				color: #34aa44;
			}
			&.fa-folder {
				color: #555555;
			}
			&.fa-hashtag {
				color: #AAAAAA;
			}
		}
		h2 {
			font-size: 14px;
			line-height: normal;
			margin: 0;
		}
		&.selected {
			background-color: #daf3fd;
		}
		&:hover {
			background-color: #EDF9FE;
		}
	}
	> ul {
		margin: 0px;
		padding: 0px;
	}
}
