.email-grid {
	h1 {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.emails {
		margin-bottom: 20px;

		.email {
			border: 1px solid #e6eaee;
			border-radius: 3px;
			margin-bottom: 10px;

			.email-detail {
				border-bottom: 1px solid #e6eaee;
				background-color: #fafafa;

				>div {
					padding: 5px 10px;
				}
			}

			.recepients {
				.recepient {
					border-bottom: 1px solid #e6eaee;

					// padding: 5px 10px;
					&:last-child {
						border-bottom: none;
					}

					>div {
						padding: 5px 10px;
						border-right: 1px solid #e6eaee;

						&:last-child {
							border-right: none;
						}
					}
				}
			}
		}
	}
}
