<ng-container *ngIf="isInitialized">
	<div class="page-header" fxLayout fxLayoutGap="10px" fxLayoutAlign="start end">
		<div class="form-group" fxFlex>
			<label>Search</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event)">
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="panel">
			<div class="panel-body">
				<div class="email-grid" fxLayout="column">
					<ng-container *ngFor="let eg of emailGroups">
						<h1>{{ eg.emailGroup }}</h1>
						<div class="emails" fxLayout="column">
							<ng-container *ngFor="let e of eg.emails; let i = index">
								<div class="email" fxLayout="column">
									<div class="email-detail" fxLayout fxLayoutAlign="start center">
										<div fxFlex fxLayout="column">
											<h6>{{ e.emailName }}</h6>
											<small class="text-secondary">{{ e.emailCode }}</small>
										</div>
										<div fxLayout fxLayoutGap="5px">
											<button class="btn btn-primary btn-sm"
												(click)="addRecepientTo(e.emailId)"><i
													class="fas fa-plus mr-2"></i>to</button>
											<button class="btn btn-primary btn-sm"
												(click)="addRecepientCc(e.emailId)"><i
													class="fas fa-plus mr-2"></i>cc</button>
											<a [routerLink]="e.emailId" class="btn btn-primary btn-sm"><i
													class="fas fa-pen"></i></a>
										</div>
									</div>
									<div class="recepients" fxLayout="column">
										<ng-container *ngFor="let r of e.recepients; let j = index">
											<div class="recepient" fxLayout>
												<div fxFlex="30px" fxLayoutAlign="start center">{{ j + 1 }}</div>
												<div fxFlex="30px" fxLayoutAlign="start center">{{ r.recepientTypeName
													}}</div>
												<div fxFlex fxLayoutAlign="start center">{{ r.fullName }}</div>
												<div fxFlex="50px" fxLayoutAlign="start center">
													<button class="btn btn-danger btn-sm"
														(click)="deleteRecepient(e.emailId, r.employeeId)"><i
															class="far fa-trash-alt"></i></button>
												</div>
											</div>
										</ng-container>
									</div>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</div>
				<!-- <mat-table class="data-grid" #dataGrid [dataSource]="dataSource">

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="emailCode">
						<mat-header-cell fxFlex="180px" *matHeaderCellDef>Email Code</mat-header-cell>
						<mat-cell fxFlex="180px" *matCellDef="let row">
							{{ row.emailCode }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="emailName">
						<mat-header-cell fxFlex="200px" *matHeaderCellDef>Email Name</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">
							{{ row.emailName }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="remark">
						<mat-header-cell fxFlex *matHeaderCellDef>Remark</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">
							{{ row.remark }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row" fxLayout fxLayoutGap="5px">
							<button class="btn btn-primary btn-sm" (click)="edit(row.emailId)">
								<i class="fas fa-pen mr"></i>
							</button>
							<button class="btn btn-danger btn-sm">
								<i class="far fa-trash-alt"></i>
							</button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
				<mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator> -->
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
