<div class="container-fluid page-body">
	<div class="panel">
		<div class="panel-filter" fxLayout fxLayoutAlign="center end" fxLayoutGap="10px">
			<div class="form-group" fxFlex>
				<label>Search..</label>
				<input class="form-control">
			</div>
			<button class="btn btn-primary" (click)="addRole()"><i class="fas fa-plus mr-2"></i>Add Role</button>
		</div>
		<div class="panel-body p-0">
			<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear
				matSortActive="computerName" matSortDirection="asc">

				<ng-container matColumnDef="no">
					<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
					</mat-header-cell>
					<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
						{{ i + 1 }}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="roleName">
					<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Role Name</mat-header-cell>
					<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.roleName }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="remark">
					<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Remark</mat-header-cell>
					<mat-cell fxFlex *matCellDef="let row">{{ row.remark }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell fxFlex="90px" *matHeaderCellDef></mat-header-cell>
					<mat-cell fxFlex="90px" *matCellDef="let row" fxLayoutGap="5px">
						<button title="Edit Role" class="btn btn-sm btn-primary ml-1" (click)="editRole(row.roleId)"><i
								class="fas fa-pen"></i></button>
						<button title="Delete Role" class="btn btn-sm btn-danger" (click)="deleteRole(row.roleId)"><i
								class="far fa-trash-alt"></i></button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
