<div class="page-header">
	<div class="form-group" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="page-body">
	<div class="panel">
		<div class="panel-body p-0">
			<ng-container *ngIf="isInitialized">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear
					matSortActive="cancelationDate" matSortDirection="asc">

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<!-- 'unitName',
					'salesPrice',
					'paidAmount',
					'lastPaidBillingDate',
					'nextBillingDate',
					'nextOutstandingBillingAmount',
					'actions' -->

					<ng-container matColumnDef="unitName">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Unit</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h2>{{ row.projectName }}</h2>
							<h1>{{ row.unitName }}</h1>
							<h3>{{ row.fullName }}</h3>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="salesPrice">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Sales Price</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h1>{{ row.salesPrice | currency:'IDR':'Rp. ':'1.0-0' }}</h1>
							<h3>{{ row.paymentPlanName }}</h3>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="paidAmount">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Paid Amount</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h1>{{ (row.paidAmount || 0) | currency:'IDR':'Rp. ':'1.0-0' }}</h1>
							<h3>{{ row.paidPercent || 0 }}%</h3>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="lastPaidBillingDate">
						<mat-header-cell fxFlex="160px" mat-sort-header *matHeaderCellDef>Last Paid Billing
						</mat-header-cell>
						<mat-cell fxFlex="160px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h3>{{ row.lastPaidBillingDate }}</h3>
							<h1>{{ row.lastPaidBillingDescription }}</h1>
							<h3>{{ row.lastPaidBillingAmount | currency:'IDR':'Rp. ':'1.0-0' }}</h3>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="nextBillingDate">
						<mat-header-cell fxFlex="160px" mat-sort-header *matHeaderCellDef>Next Billing</mat-header-cell>
						<mat-cell fxFlex="160px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h3>{{ row.nextBillingDate }}</h3>
							<h1>{{ row.nextBillingDescription }}</h1>
							<h3>{{ row.nextOutstandingBillingAmount | currency:'IDR':'Rp. ':'1.0-0' }}</h3>
						</mat-cell>
					</ng-container>

					<!-- <ng-container matColumnDef="billingCode">
						<mat-header-cell fxFlex="180px" mat-sort-header *matHeaderCellDef>Billing Code</mat-header-cell>
						<mat-cell fxFlex="180px" *matCellDef="let row">
							{{ row.billingCode }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="unitName">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Unit / Customer</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">
							<div fxFlex fxLayout="column">
								<h2>{{ row.projectName }}</h2>
								<h1>{{ row.unitName }}</h1>
								<h3>{{ row.fullName }}</h3>
							</div>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="billingDate">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Billing Date</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.billingDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="billingAmount">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Amount</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.billingAmount | currency:'IDR':'Rp. ':'1.0-0' }}</mat-cell>
					</ng-container> -->

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="120px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row" fxLayout fxLayoutGap="5px">
							<a class="btn btn-primary btn-sm" [routerLink]="[ row.salesId ]">
								<i class="fas fa-external-link-alt"></i>
							</a>
							<!-- <button class="btn btn-primary" (click)="payment(row)"><i
									class="fas fa-dollar-sign mr-2"></i>Payment</button> -->
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
			</ng-container>
			<ng-container *ngIf="!isInitialized">
				<div class="loading-container">
					<loading></loading>
				</div>
			</ng-container>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
