<div class="page-header">
	<div class="form-group" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<div fxHide fxShow.lt-md>
		<button class="btn btn-primary"><i class="fas fa-user-plus"></i></button>
	</div>
	<div fxHide.lt-md>
		<button class="btn btn-primary"><i class="fas fa-user-plus mr-2"></i>Add User</button>
	</div>
</div>
<div class="container-fluid page-body">
	<div class="panel panel-user">
		<!-- <div class="panel-filter" fxLayout fxLayoutAlign="start end" fxLayoutGap="10px">
			<div class="form-group" fxFlex>
				<label>Search</label>
				<input class="form-control" />
			</div>
			<div>
				<button class="btn btn-primary"><i class="fas fa-user-plus mr-2"></i>Add User</button>
			</div>
		</div> -->
		<div class="panel-body p-0">
			<ng-container *ngIf="isInitialized">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear
					matSortActive="fullName" matSortDirection="asc">

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" fxHide.lt-md mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" fxHide.lt-md *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="userName">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>
							<div fxFlex="20px" fxHide fxShow.lt-md></div>User Name
						</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row" fxLayoutAlign="start center" fxLayoutGap="10px">
							<div fxFlex="10px" fxHide fxShow.lt-md></div>
							<div class="user-image" fxFlex="40px" fxLayout="column">
								<image-holder [src]="row.userImagePath" fxFlex="40px"></image-holder>
							</div>
							<div fxLayout="column">
								<h2>{{ row.userName }}</h2>
								<h1>{{ row.fullName }}</h1>
							</div>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="formattedLastLoginDate">
						<mat-header-cell fxFlex="120px" fxHide.lt-md *matHeaderCellDef>Last Login</mat-header-cell>
						<mat-cell fxFlex="120px" fxHide.lt-md *matCellDef="let row">{{ row.formattedLastLoginDate }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="formattedLockedDate">
						<mat-header-cell fxFlex="120px" fxHide.lt-md mat-sort-header *matHeaderCellDef>Locked Date
						</mat-header-cell>
						<mat-cell fxFlex="120px" fxHide.lt-md *matCellDef="let row">{{ row.formattedLockedDate }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row" fxLayoutGap="5px" fxLayoutAlign="end center">
							<button title="Unlock User" *ngIf="row.formattedLockedDate"
								class="btn btn-sm btn-success"><i class="fas fa-unlock"></i></button>
							<!-- <button title="Reset Password" class="btn btn-sm btn-primary"
								(click)="resetPassword(row.userId)"><i class="fas fa-sync"></i></button> -->
							<button title="Edit User" class="btn btn-sm btn-primary" [routerLink]="[row.userId]"><i
									class="fas fa-pen"></i></button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
			</ng-container>
			<ng-container *ngIf="!isInitialized">
				<div class="loading-container">
					<loading></loading>
				</div>
			</ng-container>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
