.loading-container {
	height: 400px;
	position: relative;
}
h1 {
	font-size: 14px;
	margin: 0px;
}
h2 {
	font-size: 12px;
	margin: 0px;
	color: #007bff;
}
.user-image {
	margin-top: 10px;
	margin-bottom: 10px;
}
