<div class="page-container" fxLayout="column" fxFlexFill>
	<mat-toolbar fxLayout fxLayoutAlign="start center" fxFlex="70px" class="p-0">
		<div class="logo-raya" fxFlex="70px" fxLayoutAlign="center center">
			<img src="./assets/images/logo-raya-40x40.png" />
		</div>
		<div class="toolbar-separator" fxHide.lt-lg></div>
		<div fxFlex fxLayout="column" fxLayoutAlign="center start" class="px-0 px-lg-4">
			<h1>User Registration</h1>
		</div>
	</mat-toolbar>
	<div class="page-body  scroll scroll-y" fxFlex>
		<router-outlet>
		</router-outlet>
	</div>
</div>
