p {
	font-size: 14px;
	padding: 10px 30px;
	border: 1px solid var(--interactive-border-58);
	color: var(--interactive-text-74);
	background-color: var(--interactive-bg-90);
	margin: 0px;
	line-height: normal;
	border-radius: 3.5px;
	margin-top: 20px;

	&:empty {
		display: none;
	}
}
