<ng-container *ngIf="isInitialized">
	<div class="container-fluid p-0" fxFlexFill fxLayout>
		<div #mapContainer class="map-container" fxFlex>
			<div #mapHolder id="map-holder" class="map-holder" [style.transform]="transformMapHolder()"
				[style.transform-origin]="transformMapHolderOrigin()" (panstart)="onPanStart($event)"
				(panmove)="onPanMove($event)" (panend)="onPanEnd($event)" (mousewheel)="onMouseWheel($event)"
				(pinch)="onPinch($event)" (DOMMouseScroll)="onMouseWheel($event)" (mousemove)="onMouseMove($event)"
				[class.is-panning]="isPanning" [class.is-zooming]="isZooming">
				<div class="image-cover"></div>
				<img [src]="project.siteplanPath" (load)="onImageLoaded($event)" [class.loading]="!isUnitRendered" />
				<ng-container *ngFor="let unit of project.units; let i = index">
					<ng-container *ifHasMn="['web.backend.property-management.project.unit.open']">
						<a #lot class="unit" [style.top.px]="unit.picY" [style.left.px]="unit.picX"
							[routerLink]="unit.formattedSalesStatusName !== 'inhabited' ? [unit.unitId] : []" [ngClass]="[
									unit.formattedSalesStatusName,
									unit.formattedProgressStatusName
								]" [class.show-unit]="unit.isShowUnit">
							<div class="unit-inner" [class.locked]="unit.isLocked">
								<h2>{{ unit.unitNo }}</h2>
								<div class="show-unit"></div>
							</div>
						</a>
						<!-- <ng-container *ngIf="unit.formattedSalesStatusName !== 'inhabited'">
							<a #lot class="unit" [style.top.px]="unit.picY" [style.left.px]="unit.picX"
								[routerLink]="unit.unitId" [ngClass]="[
										unit.formattedSalesStatusName,
										unit.formattedProgressStatusName
									]" [class.show-unit]="unit.isShowUnit">
								<div class="unit-inner">
									<h2>{{ unit.unitNo }}</h2>
									<div class="show-unit"></div>
								</div>
							</a>
						</ng-container>
						<ng-container *ngIf="unit.formattedSalesStatusName === 'inhabited'">
							<a #lot class="unit" [style.top.px]="unit.picY" [style.left.px]="unit.picX" [ngClass]="[
										unit.formattedSalesStatusName,
										unit.formattedProgressStatusName
									]" [class.show-unit]="unit.isShowUnit">
								<div class="unit-inner">
									<h2>{{ unit.unitNo }}</h2>
									<div class="show-unit"></div>
								</div>
							</a>
						</ng-container> -->
					</ng-container>
					<ng-container *ifNotHasMn="['web.backend.property-management.project.unit.open']">
						<a #lot class="unit" [style.top.px]="unit.picY" [style.left.px]="unit.picX" [ngClass]="[
									unit.formattedSalesStatusName,
									unit.formattedProgressStatusName
								]" [class.show-unit]="unit.isShowUnit">
							<div class="unit-inner">
								<h2>{{ unit.unitNo }}</h2>
								<div class="show-unit"></div>
							</div>
						</a>
					</ng-container>
					<div class="unit-tooltip" [ngClass]="[
								unit.formattedUnitCategoryName, unit.formattedSalesStatusName
							]" [style.top.px]="unit.picY" [style.left.px]="unit.picX">
						<div class="unit-tooltip-inner" [ngClass]="unit.formattedSalesStatusName">
							<div class="unit-tooltip-text">
								<h1>{{ unit.unitName }}</h1>
								<h2>{{ project.projectName }}</h2>
								<div *ngIf="unit.formattedSalesStatusName === 'available'" class="price">
									<label>Cash Price</label>
									<h3>{{ unit.cashPrice | currency:'IDR':'IDR. ':'1.0-0'}}</h3>
								</div>
								<!-- <div class="separator"></div> -->
								<h4><span>Luas Tanah / Bangunan</span>{{ unit.lt || '0' }} / {{ unit.lb || '0'}}</h4>
								<h4><span>Progress Status</span>{{ unit.progressStatusName }}</h4>
								<h4><span>Type</span>{{ unit.unitTypeName }}</h4>
							</div>
							<h5>{{ unit.salesStatusName }}</h5>
						</div>
					</div>
				</ng-container>
				<div class="map-info-download" fxLayout="column">
					<h1>{{ project.projectName }}</h1>
					<div class="map-legends" fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend show-unit">
								<div class="show-unit"></div>
							</div> Show Unit
						</div>
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend indent"></div> Indent
						</div>
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend ready"></div> Ready
						</div>
						<div fxFlex="30px"></div>
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend available"></div> Available
						</div>
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend reserved"></div> Reserved
						</div>
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend sold"></div> Sold
						</div>
						<div class="map-legend" fxLayoutAlign="start center">
							<div class="unit-legend inhabited"></div> Inhabited
						</div>
					</div>
				</div>
			</div>
			<div class="map-info" fxLayout="column">
				<h1>{{ project.projectName }}</h1>
				<div class="map-legends" fxLayout="column" fxLayout.lt-sm="row">
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit show-unit">
							<div class="show-unit"></div>
						</div> Show Unit
					</div>
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit indent"></div> Indent
					</div>
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit ready"></div> Ready
					</div>
				</div>
				<div class="map-legends" fxLayout="column" fxLayout.lt-sm="row">
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit available"></div> Available
					</div>
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit reserved"></div> Reserved
					</div>
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit sold"></div> Sold
					</div>
					<div class="map-legend" fxLayoutAlign="start center" fxFlex.lt-sm>
						<div class="unit inhabited"></div> Inhabited
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary btn-download-siteplan" (click)="downloadSiteplan()"><i
			class="fas fa-cloud-download-alt"></i></button>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
