<ng-container *ngIf="isInitialized">
	<div class="page-body container">
		<div class="panel">
			<div class="panel-body" fxLayout="column">
				<h3>{{ sales.projectName }}</h3>
				<h2>{{ sales.unitName }}</h2>
				<h4>{{ sales.companyName }}</h4>
			</div>
			<div class="panel-body" fxLayout="column">
				<div fxLayout fxLayoutGap="60px">
					<div fxLayout="column" fxFlex>
						<h1>Informasi Konsumen</h1>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Nama Konsumen</label>
							<span fxFlex>{{ sales.fullName }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Alamat Rumah / KTP</label>
							<span fxFlex>{{ sales.identityAddress || '-' }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Alamat Surat Menyurat</label>
							<span fxFlex>{{ sales.mailingAddress || '-' }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">No. KTP / SIM / Passport</label>
							<span fxFlex>{{ sales.identityCode || '-' }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">NPWP</label>
							<span fxFlex>{{ sales.npwp || '-' }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Telp. Rumah / Telp. Kantor</label>
							<span fxFlex>{{ sales.homePhone || '-'}}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Telp. Kantor</label>
							<span fxFlex>{{ sales.officePhone || '-'}}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Handphone</label>
							<span fxFlex>{{ sales.handphone || '-'}}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Email</label>
							<span fxFlex>{{ sales.email || '-' }}</span>
						</div>
						<h1>Informasi Pembayaran</h1>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Cara Bayar</label>
							<span fxFlex>{{ sales.paymentPlanName }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Jumlah / Persen Terbayarkan</label>
							<span fxFlex>{{ sales.paidAmount | currency:'IDR':'Rp. ':'1.0-0' }} ({{ sales.paidPercent
								}}%)</span>
						</div>
					</div>
					<div fxLayout="column" fxFlex>
						<h1>Informasi Unit</h1>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Cluster</label>
							<span fxFlex>{{ sales.projectName }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Type</label>
							<span fxFlex>{{ sales.unitTypeName }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Jalan / No.</label>
							<span fxFlex>{{ sales.blockName + ' ' + sales.unitNo }}</span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Luas Tanah</label>
							<span fxFlex>{{ sales.lt || '0' }} m<sup>2</sup></span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Luas Bangunan</label>
							<span fxFlex>{{ sales.lb || '0'}} m<sup>2</sup></span>
						</div>
						<div class="data-item" fxLayout>
							<label fxFlex="200px">Harga Jual Tanah & Bangunan</label>
							<span fxFlex>{{ sales.salesPrice | currency:'IDR':'Rp. ':'1.0-0' }}</span>
						</div>
						<h1>Informasi Sales</h1>
						<ng-container *ngIf="+sales.agentPropertyTypeId === 1">
							<div class="data-item" fxLayout>
								<label fxFlex="200px">Nama Sales</label>
								<span fxFlex>{{ sales.salesName || '-'}}</span>
							</div>
							<div class="data-item" fxLayout>
								<label fxFlex="200px">Sales Supervisor</label>
								<span fxFlex>{{ sales.salesSupervisorName || '-' }}</span>
							</div>
							<div class="data-item" fxLayout>
								<label fxFlex="200px">Sales Manager</label>
								<span fxFlex>{{ sales.salesManagerName || '-' }}</span>
							</div>
						</ng-container>
						<ng-container *ngIf="+sales.agentPropertyTypeId === 2">
							<div class="data-item" fxLayout>
								<label fxFlex="200px">Nama Agent</label>
								<span fxFlex>{{ sales.salesName }}</span>
							</div>
							<div class="data-item" fxLayout>
								<label fxFlex="200px">Kantor Agent</label>
								<span fxFlex>{{ sales.agentPropertyName }}</span>
							</div>
						</ng-container>
					</div>
				</div>
				<!-- </div>
			<div class="panel-body"> -->
				<div class="grid payment-schemes">
					<div class="grid-header">
						<div class="no" fxFlex="40px">No. </div>
						<div class="dscription" fxFlex>Description</div>
						<div class="tanggal" fxFlex.gt-md="100px" fxHide fxShow.gt-md>Billing Date</div>
						<div class="billing-amount text-center" fxFlex.gt-md="140px" fxHide fxShow.gt-md>Billing
							Amount
						</div>
						<div class="payment-date text-center" fxFlex.gt-md="140px" fxHide fxShow.gt-md>Payment
							Date</div>
						<div class="payment-date text-center" fxFlex.gt-md="180px" fxHide fxShow.gt-md>Payment
							Code</div>
						<div class="payment-amount text-center" fxFlex.gt-md="140px" fxHide fxShow.gt-md>Payment
							Amount
						</div>
						<!-- <div class="payment-amount text-center" fxFlex.gt-md="140px" fxHide fxShow.gt-md>
							Outstndng
							Amount
						</div> -->
					</div>
					<div class="grid-body">
						<ng-container *ngFor="let p of billings; let i = index">
							<div class="grid-header-row" fxLayout="column">
								<div class="grid-row" fxLayout>
									<div class="no" fxFlex="40px" fxLayoutAlign="center center">{{ i + 1 }}
									</div>
									<div class="dscription" fxFlex fxLayout="column" fxLayoutAlign="center start">
										<h2 fxShow fxHide.gt-md>{{ p.billingDate }}</h2>
										<h4>{{ p.billingCode }}</h4>
										<h1>{{ p.billingDescription }}</h1>
										<h3 fxShow fxHide.gt-md class="text-right">{{
											p.billingAmount |
											currency:'IDR':'Rp.
											':'1.0-0' }}</h3>
									</div>
									<div class="tanggal" fxFlex.gt-md="100px" fxHide fxShow.gt-md
										fxLayoutAlign="center center">{{
										p.billingDate }}
									</div>
									<div class="billing-amount text-right" fxFlex.gt-md="140px" fxHide fxShow.gt-md
										fxLayoutAlign="end center">{{
										p.billingAmount |
										currency:'IDR':'Rp.
										':'1.0-0' }}
									</div>
									<div class="payment-date" fxFlex.gt-md="140px" fxHide fxShow.gt-md
										fxLayoutAlign="center center">
										{{ p.paymentDate }}
									</div>
									<div class="payment-code" fxFlex.gt-md="180px" fxHide fxShow.gt-md
										fxLayoutAlign="center center">{{ p.paymentCode }}
									</div>
									<div class="payment-amount text-right" fxFlex.gt-md="140px" fxHide fxShow.gt-md
										fxLayoutAlign="end center">{{
										p.paymentAmount |
										currency:'IDR':'Rp.
										':'1.0-0' }}
									</div>
									<!-- <div class="outstanding-amount" fxFlex.gt-md="140px" fxHide fxShow.gt-md
										fxLayoutAlign="center start">{{ p.billingAmount - p.paymentAmount |
										currency:'IDR':'Rp.
										':'1.0-0' }}
									</div> -->
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				<div class="summary" fxLayout>
					<div fxFlex></div>
					<div fxLayout="column">
						<div fxFlex>Total Harga Exclude PPN<span>{{ totalPriceExcludePpn | currency:'IDR':'Rp.
								':'1.0-0'
								}}</span></div>
						<div fxFlex>Total PPN<span>{{ ppn | currency:'IDR':'Rp. ':'1.0-0' }}</span></div>
						<div fxFlex>Total Harga Include PPN<span>{{ totalPrice | currency:'IDR':'Rp. ':'1.0-0'
								}}</span></div>
						<br>
						<div fxFlex>Total Terbayarkan<span>{{ totalPaid | currency:'IDR':'Rp. ':'1.0-0' }}</span>
						</div>
						<div fxFlex>Total Belum Terbayarkan<span>{{ totalOutstanding | currency:'IDR':'Rp. ':'1.0-0'
								}}</span></div>
					</div>
				</div>
				<button class="btn btn-primary mt-4" [disabled]="isPaymentProcessing" (click)="processPayment()">
					<ng-container *ngIf="!isPaymentProcessing">
						<i class="fas fa-file-pdf mr-2"></i> Payment
					</ng-container>
					<ng-container *ngIf="isPaymentProcessing">
						<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
							aria-hidden="true"></span>
						Loading..
					</ng-container>
				</button>
				<button class="btn btn-success mt-2" [disabled]="isDownloadExcelProcessing" (click)="downloadExcel()">
					<ng-container *ngIf="!isDownloadExcelProcessing">
						<i class="fas fa-file-excel mr-2"></i> Download Excel
					</ng-container>
					<ng-container *ngIf="isDownloadExcelProcessing">
						<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
							aria-hidden="true"></span>
						Loading..
					</ng-container>
				</button>
				<button class="btn btn-success mt-2" [disabled]="isDownloadPdfProcessing" (click)="downloadPdf()">
					<ng-container *ngIf="!isDownloadPdfProcessing">
						<i class="fas fa-file-excel mr-2"></i> Download PDF
					</ng-container>
					<ng-container *ngIf="isDownloadPdfProcessing">
						<span class="spinner-border spinner-border-sm text-light mr-1" role="status"
							aria-hidden="true"></span>
						Loading..
					</ng-container>
				</button>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
