<h2 mat-dialog-title>Select Unit</h2>
<mat-dialog-content fxLayout="column" class="search">
	<div class="form-group mb-0" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event.target.value)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-content fxLayout="column" class="p-0">
	<ng-container *ngIf="isInitialized">
		<mat-table class="data-grid scroll scroll-y" fxFlex="400px" #dataGrid [dataSource]="dataSource">

			<ng-container matColumnDef="no">
				<mat-header-cell fxFlex="60px" *matHeaderCellDef> No.
				</mat-header-cell>
				<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
					{{ i + 1 }}
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="unitName">
				<mat-header-cell fxFlex *matHeaderCellDef>Unit</mat-header-cell>
				<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
					<small class="text-primary">{{ row.projectName }}</small>
					<h6>{{ row.unitName }}</h6>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell fxFlex="60px" *matHeaderCellDef></mat-header-cell>
				<mat-cell fxFlex="60px" *matCellDef="let row" fxLayoutAlign="end center">
					<button class="btn btn-primary btn-sm" (click)="select(row)"><i class="fas fa-check"></i></button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>
	<ng-container *ngIf="!isInitialized">
		<div class="loading-container" fxFlex="400px">
			<loading></loading>
		</div>
	</ng-container>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
