<ng-container *ngIf="isInitialized">
	<page-body>
		<panel>
			<panel-body fxLayout="column">
				<div class="lead-heading" fxLayout="column" fxLayoutAlign="start center">
					<h5 [style.background-color]="'#' + lead.color">{{ lead.leadInitial }}</h5>
					<h2>{{ fullName.value || 'Lead Name' }}</h2>
					<h3>{{ locationName.value || 'Location' }}</h3>
					<h4>{{ phoneNumber.value || 'Phone Number' }}</h4>
				</div>
				<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="submit()"
					fxLayout="column">
					<div class="lead-detail" fxLayout fxLayoutGap="30px">
						<div fxLayout="column" fxFlex>
							<h1>General Info</h1>
							<div class="form-group">
								<label>Full Name</label>
								<input class="form-control" formControlName="fullName">
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Location</label>
									<input class="form-control" formControlName="locationName">
								</div>
								<div class="form-group" fxFlex="160px">
									<label>Phone Number</label>
									<input class="form-control" formControlName="phoneNumber">
								</div>
							</div>
							<div class="form-group" fxFlex>
								<label>Current Sales</label>
								<input class="form-control" readonly [ngModel]="lead.salesName"
									[ngModelOptions]="{standalone: true}">
							</div>
						</div>
						<div fxLayout="column" fxFlex>
							<h1>Lead Status</h1>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Source</label>
									<input class="form-control" readonly [ngModel]="lead.sourceName"
										[ngModelOptions]="{standalone: true}">
								</div>
								<div class="form-group" fxFlex="180px">
									<label>Registered Date</label>
									<div class="input-group">
										<input class="form-control" readonly [ngModel]="lead.registeredDate"
											[ngModelOptions]="{standalone: true}" />
										<div class="input-group-append">
											<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Category</label>
									<input class="form-control" readonly [ngModel]="lead.categoryName"
										[ngModelOptions]="{standalone: true}">
								</div>
								<div class="form-group" fxFlex="180px">
									<label>Category Date</label>
									<div class="input-group">
										<input class="form-control" readonly [ngModel]="lead.categoryDate"
											[ngModelOptions]="{standalone: true}" />
										<div class="input-group-append">
											<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Status</label>
									<input class="form-control" readonly [ngModel]="lead.statusName"
										[ngModelOptions]="{standalone: true}">
								</div>
								<div class="form-group" fxFlex="180px">
									<label>Status Date</label>
									<div class="input-group">
										<input class="form-control" readonly [ngModel]="lead.statusDate"
											[ngModelOptions]="{standalone: true}" />
										<div class="input-group-append">
											<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<h1>History</h1>
				<ng-container *ngIf="isHistoryInitialized">
					<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear>

						<ng-container matColumnDef="no">
							<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
							</mat-header-cell>
							<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
								{{ row.no }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="historyDate">
							<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Date</mat-header-cell>
							<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.historyDate }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="description">
							<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Description</mat-header-cell>
							<mat-cell fxFlex *matCellDef="let row">
								<p [innerHTML]="row.description"></p>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>
					<!-- <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator> -->
				</ng-container>
				<ng-container *ngIf="!isHistoryInitialized">
					<div class="loading-container">
						<loading></loading>
					</div>
				</ng-container>
			</panel-body>
			<panel-footer>
				<span fxFlex></span>
				<button class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
			</panel-footer>
		</panel>
	</page-body>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
