.panel-header {
	position: relative;
	overflow: hidden;
	span {
		position: absolute;
		top: 13px;
		right: -28px;
		padding: 5px 29px;
		color: #ffffff;
		text-transform: uppercase;
		transform: rotate(39deg);
		&.canceled {
			background-color: #ad0e14;
		}
		&.approval {
			background-color: #ad0e14;
		}
		&.finalized {
			background-color: #2da1f8;
		}
	}
}
.panel-body {
	padding-top: 0px;
	label {
		font-size: 12px;
		margin-bottom: 5px;
		color: #777;
	}
	h1 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 20px 0 15px;
	}
	.title {
		font-size: 30px;
    	font-weight: 400;
		margin: 0;
	}
	.form-control:read-only {
		background-color: #ffffff;
	}
	textarea {
		height: 105px;
	}
	.image {
		.image-box {
			border-radius: 6px;
			border: 1px solid #ced4da;
			height: 120px;
			overflow: hidden;
			padding: 4px;
		}
	}
	.grid {
		border: 1px solid #ced4da;
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 1rem;
		.grid-header {
			border-bottom: 1px solid #ced4da;
			background-color: #f5f8fa;
			> div {
				padding: 7px 10px;
				color: #7f8fa4;
				font-size: 14px;
				font-weight: 500;
				border-left: 1px solid #ced4da;
				&:first-child {
					border-left: none;
				}
				&:last-child {
					text-align: center;
				}
			}
		}
		.grid-body {
			.grid-header-row {
				border-bottom: 1px solid #ced4da;
				.menu {
					button {
						outline: none;
					}
				}
				.grid-row {
					border-bottom: 1px solid #ced4da;
					> div {
						padding: 10px;
						border-left: 1px solid #ced4da;
						&:first-child {
							border-left: none;
						}
						&:last-child {
							text-align: right;
						}
						h1, h2, h3 {
							font-weight: 400;
							margin: 0px;
							text-transform: none;
						}
						h1 {
							font-size: 14px;
						}
						h2 {
							font-size: 12px;
							color: #45b854;
						}
						h3 {
							font-size: 14px;
							color: #7f8fa4;
						}
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}

		}
		.grid-footer {
			background-color: #f5f8fa;
			border-bottom: none;
			> div {
				font-weight: 600;
				padding: 7px 10px;
				&:first-child {
					border-right: none;
				}
				&:last-child {
					text-align: right;
					border-right: none;
				}
			}
		}
	}
}
.invalid-form-group {
	color: #ad0e14;
    border: 1px solid #ad0e14;
	background-color: #fde4e5;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 15px;
}
