<ng-container *ngIf="isInitialized">
	<page-body>
		<panel>
			<panel-body fxLayout="column">
				<div class="sales-heading" fxLayout="column" fxLayoutAlign="start center">
					<div class="sales-image">
						<image-holder [src]="sales.userImagePath" fxFlex></image-holder>
					</div>
					<h2>{{ sales.employeeCode }}</h2>
					<h1>{{ sales.fullName }}</h1>
					<h3>{{ sales.companyName }}</h3>
				</div>
				<div class="sales-detail" fxLayout fxLayoutGap="30px">
					<div fxLayout="column" fxFlex>
						<h1>General Info</h1>
						<div class="form-group">
							<label>Full Name</label>
							<input class="form-control" readonly [ngModel]="sales.fullName">
						</div>
						<div fxLayout fxLayoutGap="10px">
							<div class="form-group" fxFlex="140px">
								<label>Birth Date</label>
								<div class="input-group">
									<input class="form-control" readonly [ngModel]="sales.formattedDob" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group" fxFlex="100px">
								<label>Age</label>
								<input class="form-control" readonly [ngModel]="sales.formattedAge">
							</div>
							<div class="form-group" fxFlex>
								<label>Gender</label>
								<input class="form-control" readonly [ngModel]="sales.genderName">
							</div>
						</div>
						<div fxLayout fxLayoutGap="10px">
							<div class="form-group" fxFlex="180px">
								<label>Mobile Phone</label>
								<input class="form-control" readonly [ngModel]="sales.handPhone">
							</div>
							<div class="form-group" fxFlex>
								<label>Email</label>
								<input class="form-control" readonly [ngModel]="sales.email">
							</div>
						</div>
					</div>
					<div fxLayout="column" fxFlex>
						<h1>Employment Info</h1>
						<div fxLayout fxLayoutGap="10px">
							<div class="form-group" fxFlex="140px">
								<label>Employee Code</label>
								<input class="form-control" readonly [ngModel]="sales.employeeCode">
							</div>
							<div class="form-group" fxFlex>
								<label>Company</label>
								<input class="form-control" readonly [ngModel]="sales.companyName">
							</div>
						</div>
						<div fxLayout fxLayoutGap="10px">
							<div class="form-group" fxFlex>
								<label>Department</label>
								<input class="form-control" readonly [ngModel]="sales.departmentName">
							</div>
							<div class="form-group" fxFlex>
								<label>Occupation</label>
								<input class="form-control" readonly [ngModel]="sales.occupationName">
							</div>
						</div>
						<div fxLayout fxLayoutGap="10px">
							<div class="form-group" fxFlex>
								<label>Team Name</label>
								<input class="form-control" readonly [ngModel]="sales.teamName">
							</div>
							<div class="form-group" fxFlex="140px">
								<label>Active Date</label>
								<div class="input-group">
									<input class="form-control" readonly [ngModel]="sales.activeDate" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group" fxFlex="140px">
								<label>Inactive Date</label>
								<div class="input-group">
									<input class="form-control" readonly [ngModel]="sales.inactiveDate" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h1>Active Leads</h1>
				<div class="active-leads">
					<ng-container *ngIf="isActiveLeadsInitialized">
						<mat-table class="data-grid" #dataGrid [dataSource]="leads" matSort matSortDisableClear>

							<ng-container matColumnDef="no">
								<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
								</mat-header-cell>
								<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
									{{ i + 1 }}
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="fullName">
								<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Lead Name</mat-header-cell>
								<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
									<h2>{{ row.fullName }}</h2>
									<h3>{{ row.locationName }}</h3>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="categoryName">
								<mat-header-cell fxFlex="100px" mat-sort-header *matHeaderCellDef>Category
								</mat-header-cell>
								<mat-cell fxFlex="100px" *matCellDef="let row" [style.color]="'#' + row.color"
									class="font-weight-bold">{{
									row.categoryName }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="statusName">
								<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
								<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
									<h2>{{ row.statusName }}</h2>
									<h3>{{ row.statusDate }}</h3>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="statusDate">
								<mat-header-cell fxFlex="130px" mat-sort-header *matHeaderCellDef>Status Date
								</mat-header-cell>
								<mat-cell fxFlex="130px" *matCellDef="let row">{{ row.statusDate }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="lastFollowUpDate">
								<mat-header-cell fxFlex="130px" mat-sort-header *matHeaderCellDef>Last Follow Up
								</mat-header-cell>
								<mat-cell fxFlex="130px" *matCellDef="let row">{{ row.lastFollowUpDate }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="nextFollowUpDate">
								<mat-header-cell fxFlex="130px" mat-sort-header *matHeaderCellDef>Next Follow Up
								</mat-header-cell>
								<mat-cell fxFlex="130px" *matCellDef="let row">{{ row.nextFollowUpDate }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="actions">
								<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
								<mat-cell fxFlex="100px" *matCellDef="let row">

								</mat-cell>
							</ng-container>

							<mat-header-row *matHeaderRowDef="leadsDisplayedColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: leadsDisplayedColumns;"></mat-row>
						</mat-table>
					</ng-container>
					<ng-container *ngIf="!isActiveLeadsInitialized">
						<div class="loading-container">
							<loading></loading>
						</div>
					</ng-container>

					<mat-paginator #leadsPaginator="matPaginator" [pageSizeOptions]="[10, 50, 100]"
						showFirstLastButtons></mat-paginator>
				</div>
				<h1>Leads History</h1>
				<div class="active-leads">
					<ng-container *ngIf="isLeadsHistoryInitialized">
						<mat-table class="data-grid" #dataGrid [dataSource]="leadsHistory" matSort matSortDisableClear>

							<ng-container matColumnDef="no">
								<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
								</mat-header-cell>
								<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
									{{ i + 1 }}
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="fullName">
								<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Lead Name</mat-header-cell>
								<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
									<h2>{{ row.fullName }}</h2>
									<h3>{{ row.locationName }}</h3>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="categoryName">
								<mat-header-cell fxFlex="100px" mat-sort-header *matHeaderCellDef>Category
								</mat-header-cell>
								<mat-cell fxFlex="100px" *matCellDef="let row" [style.color]="'#' + row.color"
									class="font-weight-bold">{{
									row.categoryName }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="statusName">
								<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
								<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
									<h2>{{ row.statusName }}</h2>
									<h3>{{ row.statusDate }}</h3>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="statusDate">
								<mat-header-cell fxFlex="130px" mat-sort-header *matHeaderCellDef>Status Date
								</mat-header-cell>
								<mat-cell fxFlex="130px" *matCellDef="let row">{{ row.statusDate }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="lastFollowUpDate">
								<mat-header-cell fxFlex="130px" mat-sort-header *matHeaderCellDef>Last Follow Up
								</mat-header-cell>
								<mat-cell fxFlex="130px" *matCellDef="let row">{{ row.lastFollowUpDate }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="nextFollowUpDate">
								<mat-header-cell fxFlex="130px" mat-sort-header *matHeaderCellDef>Next Follow Up
								</mat-header-cell>
								<mat-cell fxFlex="130px" *matCellDef="let row">{{ row.nextFollowUpDate }}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="actions">
								<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
								<mat-cell fxFlex="100px" *matCellDef="let row">

								</mat-cell>
							</ng-container>

							<mat-header-row *matHeaderRowDef="leadsDisplayedColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: leadsDisplayedColumns;"></mat-row>
						</mat-table>
					</ng-container>
					<ng-container *ngIf="!isLeadsHistoryInitialized">
						<div class="loading-container">
							<loading></loading>
						</div>
					</ng-container>

					<mat-paginator #leadsHistoryPaginator="matPaginator" [pageSizeOptions]="[10, 50, 100]"
						showFirstLastButtons></mat-paginator>
				</div>
			</panel-body>
		</panel>
	</page-body>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
