<ng-container *ngIf="isInitialized">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-xl-8 mt-3">
				<div class="panel panel-unit">
					<div class="panel-body unit-title">
						<h2>{{ unit.projectName }}</h2>
						<h1>{{ unit.unitName }}</h1>
						<h3 [ngClass]="unit.formattedSalesStatusName">{{ unit.salesStatusName }}</h3>
					</div>
					<div class="separator"></div>
					<div class="panel-body unit-detail" fxLayout="column">
						<h4>Detail</h4>
						<div fxLayout fxLayoutGap="20px">
							<div fxFlex fxLayout="column">
								<label>Cluster</label>
								<h3>{{ unit.projectName }}</h3>
								<label>Block Name</label>
								<h3>{{ unit.blockName }}</h3>
								<label>Building Size</label>
								<h3>{{ unit.lb || '0'}} m<sup>2</sup></h3>
								<label>Land Size</label>
								<h3>{{ unit.lt || '0'}} m<sup>2</sup></h3>
							</div>
							<div fxFlex fxLayout="column">
								<label>Floor</label>
								<h3>{{ unit.floor }}</h3>
								<label>Bed Room</label>
								<h3>{{ unit.bedRoom }}</h3>
								<label>Bath Room</label>
								<h3>{{ unit.bathRoom }}</h3>
								<label>Car Port</label>
								<h3>{{ unit.carPort }}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-xl-4 mt-3">
				<div class="panel">
					<ng-container *ngIf="unit.formattedSalesStatusName === 'available'">
						<div class="panel-body" fxLayout="column">
							<h4>Cara Bayar</h4>
							<div class="grid">
								<div class="grid-body">
									<div class="grid-row" *ngFor="let price of unit.prices">
										<div class="payment-plan" fxFlex="120px">{{ price.paymentPlanName }}</div>
										<div class="price" fxFlex>{{ price.price | currency:'IDR':'Rp. ':'1.0-0'}}</div>
									</div>
								</div>
							</div>
						</div>
						<ng-container *ngIf="unit.isLocked">
							<ng-container *ngIf="unit.lockedUserId !== userId">
								<div class="panel-body">
									<div class="unit-locked" fxLayout="column">
										<h3>Locked by <span>{{ unit.lockedUserName }}</span></h3>
										<h3>Locked date <span>{{ unit.formattedLockedDate }}</span></h3>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="unit.lockedUserId === userId">
								<ng-container *ifHasMn="['web.backend.property-management.project.unit.reservation']">
									<div class="panel-body" fxLayout="column" *ngIf="unit.prices.length > 0">
										<a [routerLink]="['reservation']" class="btn btn-primary">Continue
											Reservation</a>
									</div>
								</ng-container>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="!unit.isLocked">
							<ng-container *ifHasMn="['web.backend.property-management.project.unit.reservation']">
								<div class="panel-body" fxLayout="column" *ngIf="unit.prices.length > 0">
									<button class="btn btn-primary" (click)="reserve()">Reservation</button>
								</div>
							</ng-container>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="unit.formattedSalesStatusName === 'reserved'">
						<div class="panel-body" fxLayout="column">
							<h4>Reservation Data</h4>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
