.panel {
	.unit-title {
		position: relative;
		overflow: hidden;
		h1 {
			font-size: 40px;
			margin-bottom: 0px;
			font-weight: 200;
		}
		h2 {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 0px;
			color: #03a9f4;
			text-transform: uppercase;
		}
		h3 {
			position: absolute;
			top: 17px;
			right: -28px;
			text-align: center;
			width: 120px;
			padding: 5px 10px;
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			border: 1px solid #239111;
			transform: rotate(45deg);
			&.available {
				background-color: #27a213; //circle background
				border-color: #239111; //circle border
			}
			&.hold {
				background-color: #888888; //circle background
				border-color: #555555; //circle border
			}
			&.sold {
				background-color: #f04047; //circle background
				border-color: #ad0e14; //circle border
			}
			&.reserved {
				background-color: #2da1f8; //circle background
				border-color: #0890f6; //circle border
			}
		}
	}
	.unit-detail {
		label {
			color: #b7c0cd;
		}
		h3 {
			font-size: 14px;
			border-bottom: 1px solid #e6eaee;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}
	.panel-body {
		padding: 20px 30px;
		h4 {
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.unit-locked {
			padding: 10px;
			border: 1px solid #e6eaee;
			border-radius: 3px;
			background-color: #FAFAFA;
			h3 {
				font-size: 14px;
				color: #7f8fa4;
				margin: 0px;
				span {
					display: inline;
					float: right;
					width: 160px;
					text-align: right;
				}
			}
		}
	}
}
.grid {
	border: 1px solid #e6eaee;
	border-radius: 4px;
	overflow: hidden;
	.grid-header {
		border-bottom: 1px solid #e6eaee;
		> div {
			padding: 5px 10px;
		}
		.price {
			text-align: center;
		}
	}
	.grid-body {
		.grid-row {
			border-bottom: 1px solid #e6eaee;
			> div {
				padding: 5px 10px;
			}
			.payment-plan {

			}
			.price {
				text-align: right;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
