.panel {
	display: block;
	border: 1px solid var(--border);
	background-color: var(--surface);
	border-radius: 4px;
	border-collapse: collapse;
	position: relative;
	padding: 0px;
	overflow: hidden;
	.panel-header {
		padding: 25px 30px;
		border-bottom: 1px solid var(--border);
		.panel-title {
			font-size: 20px;
			font-weight: 500;
			margin: 0;
		}
	}
	.panel-body {
		padding: 30px;
	}
	.panel-footer {
		padding: 20px 30px;
		border-top: 1px solid var(--border);
	}
	.panel-filter {
		padding: 10px 22px;
		border-bottom: 1px solid var(--border);
		.form-group {
			margin-bottom: 0px;
			label {
				font-size: 12px;
				margin-bottom: 0px;
			}
		}
	}
}
