.mat-mdc-table {
	.mat-mdc-header-row {
		background-color: #f5f8fa;
		height: 42px;
		min-height: 42px;
		border-bottom: 1px solid #e6eaee;
		.mat-mdc-header-cell {
			font-family: "Poppins";
			color: #7f8fa4;
			font-size: 14px;
			font-weight: 500;
			// border-bottom: 1px solid #e6eaee;
			border-bottom: none;
		}
	}
	.mat-mdc-row {
		border-bottom: 1px solid #e6eaee;
		// border-bottom: none;
		// padding: 0px 10px;
		.mat-mdc-cell {
			// color: #7f8fa4;
			color: #354052;
			font-family: "Poppins";
			font-size: 14px;
			font-weight: 400;
			// border-bottom: 1px solid #e6eaee;
			vertical-align: middle;
		}
		@media screen and (min-width: 1280px) {
			min-height: 35px;
			.mat-mdc-icon-button {
				width: 35px;
				height: 35px;
				line-height: 35px;
				.mat-icon {
					width: 18px;
					height: 18px;
					line-height: 18px;
				}
				.material-icons {
					font-size: 18px;
				}
			}
			/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
			.mat-checkbox-inner-container {
				width: 15px;
				height: 15px;
			}
		}
		&:nth-of-type(odd) {
			// background-color: #f2f7fc;
			&:hover {
				// background-color: #E9F0F9;
			}
		}
		&:hover {
			// background-color: #E9F0F9;
		}
	}
}
