<page-header>
	<div class="form-group" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event.target.value)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<button class="btn btn-primary" (click)="createLink()"><i class="fas fa-plus mr-2"></i>Create Link</button>
</page-header>
<page-body>
	<panel>
		<panel-body class="p-0">
			<mat-table class="data-grid" #dataGrid [dataSource]="registrations" matSort matSortDisableClear>

				<ng-container matColumnDef="no">
					<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
					</mat-header-cell>
					<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
						{{ i + 1 }}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="salesName">
					<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Sales Name</mat-header-cell>
					<mat-cell fxFlex *matCellDef="let row">{{ row.salesName }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="formattedExpiredDate">
					<mat-header-cell fxFlex="160px" mat-sort-header *matHeaderCellDef>Expired Date</mat-header-cell>
					<mat-cell fxFlex="160px" *matCellDef="let row">{{ row.formattedExpiredDate }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="registrationStatusName">
					<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
					<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.registrationStatusName !== 'Registered' ?
						(row.diff < 1 ? 'Expired' : row.registrationStatusName) : row.registrationStatusName
							}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell fxFlex="60px" *matHeaderCellDef></mat-header-cell>
					<mat-cell fxFlex="60px" *matCellDef="let row">
						<ng-container *ngIf="row.registrationStatusName !== 'Registered' && row.diff > 0">
							<button class="btn btn-primary btn-sm" (click)="viewLink(row)"><i
									class="far fa-eye"></i></button>
						</ng-container>
						<!-- <ng-container *ngIf="row.registrationStatusName === 'Registered'">
							<button class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>
						</ng-container> -->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</panel-body>
	</panel>
</page-body>
