<h2 mat-dialog-title>Property Agents</h2>
<mat-dialog-content fxLayout="column" class="py-2">
	<div class="form-group mb-0" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event.target.value)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-content fxLayout="column" class="p-0">
	<ng-container *ngIf="isInitialized">
		<mat-table class="data-grid scroll scroll-y" fxFlex="300px" #dataGrid [dataSource]="dataSource" matSort
			matSortDisableClear>

			<ng-container matColumnDef="no">
				<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
				</mat-header-cell>
				<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
					{{ i + 1 }}
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="propertyAgentName">
				<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Property Agent</mat-header-cell>
				<mat-cell fxFlex *matCellDef="let row">{{ row.propertyAgentName }}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell fxFlex="50px" *matHeaderCellDef></mat-header-cell>
				<mat-cell fxFlex="50px" *matCellDef="let row">
					<button class="btn btn-primary btn-sm" (click)="select(row)"><i class="fas fa-check"></i></button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>
	<ng-container *ngIf="!isInitialized">
		<div fxFlex="300px" class="loading-container">
			<loading></loading>
		</div>
	</ng-container>
	<!-- <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator> -->
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
