<page-header>
	<div class="form-group" fxFlex>
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.."
				(keyup)="searchChanged($any($event.target).value)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<!-- <button class="btn btn-primary" (click)="newReservation()"><i class="fas fa-plus mr-2"></i>New Reservation</button> -->
	<a class="btn btn-primary" routerLink="new"><i class="fas fa-plus mr-2"></i>New Reservation</a>
</page-header>
<page-body>
	<panel>
		<panel-body class="p-0">
			<ng-container *ngIf="isInitialized">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear>

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="reservationDate">
						<mat-header-cell fxFlex="100px" mat-sort-header *matHeaderCellDef>Date</mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row">{{ row.reservationDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="unitName">
						<mat-header-cell fxFlex="140px" mat-sort-header *matHeaderCellDef>Unit</mat-header-cell>
						<mat-cell fxFlex="140px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h6>{{ row.unitName }}</h6>
							<small class="text-secondary">{{ row.projectName }}</small>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="fullName">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Customer</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.fullName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="salesName">
						<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Sales</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
							<h6>{{ row.salesName }}</h6>
							<small [class.text-primary]="row.organizationName === 'Inhouse'"
								[class.text-success]="row.organizationName !== 'Inhouse'">{{
								row.organizationName }}</small>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="reservationStatusName">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.reservationStatusName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row" fxLayoutAlign="end center">
							<a class="btn btn-primary btn-sm" title="Edit Reservation"
								[routerLink]="row.reservationId"><i class="fas fa-chevron-right"></i></a>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
			</ng-container>
			<ng-container *ngIf="!isInitialized">
				<div class="loading-container">
					<loading></loading>
				</div>
			</ng-container>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</panel-body>
	</panel>
</page-body>
