<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content fxLayout="column">
	<ng-container *ngIf="isInitialized">
		<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="save()">
			<div class="form-group">
				<label>Menu Name</label>
				<input class="form-control" formControlName="menuName"
					[class.is-invalid]="menuName.invalid && formSubmitAttempt">
			</div>
			<div class="form-group">
				<label>Menu Code</label>
				<input class="form-control" formControlName="menuCode"
					[class.is-invalid]="menuCode.invalid && formSubmitAttempt">
			</div>
			<div class="form-group">
				<label>Menu Type</label>
				<select class="form-control" formControlName="menuTypeId">
					<option *ngFor="let menuType of menuTypes" [value]="menuType.menuTypeId">{{ menuType.menuTypeName }}
					</option>
				</select>
			</div>
			<div fxLayout fxLayoutGap="10px">
				<div class="form-group" fxFlex>
					<label>Parent</label>
					<div class="input-group">
						<input class="form-control" formControlName="parentName" />
						<div class="input-group-append">
							<span class="input-group-text" (click)="openParent()"><i
									class="fas fa-ellipsis-h"></i></span>
						</div>
					</div>
					<input type="hidden" formControlName="parentId" />
				</div>
				<div class="form-group" fxFlex="60px">
					<label>Seq</label>
					<input class="form-control" formControlName="sequence">
				</div>
			</div>
			<ng-container *ngIf="+menuTypeId.value === 4">
				<div class="form-group">
					<label>Route</label>
					<input class="form-control" formControlName="route">
				</div>
				<!-- <div class="form-group">
					<label>Open In</label>
					<select class="form-control" formControlName="openInId">
						<option value="1">Currrent Tab</option>
						<option value="2">New Tab</option>
					</select>
				</div> -->
				<div class="form-group">
					<label>Icon</label>
					<input class="form-control" formControlName="icon">
				</div>
			</ng-container>
		</form>
	</ng-container>
	<ng-container *ngIf="!isInitialized">
		<div class="loading-container">
			<loading></loading>
		</div>
	</ng-container>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button class="btn btn-primary" (click)="save()">
		<i class="fa fa-save mr-1"></i> Save
	</button>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
