<ng-container *ngIf="isInitialized">
	<!-- <div class="summary-header container-fluid">
		<div class="row justify-content-center">
			<div class="col col-12 col-lg-10 col-xl-8">
				<div class="row">
					<div class="col col-6 col-md-3 summary-content">
						<h1>{{ totalProject }}</h1>
						<h2>Total Project</h2>
					</div>
					<div class="col col-6 col-md-3 summary-content">
						<h1>{{ totalUnit }}</h1>
						<h2>Total Unit</h2>
					</div>
					<div class="col col-6 col-md-3 summary-content">
						<h1>{{ totalSoldUnit }}</h1>
						<h2>Sold Unit</h2>
					</div>
					<div class="col col-6 col-md-3 summary-content">
						<h1>{{ totalSoldAmount }}</h1>
						<h2>Sold Amount</h2>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="summary-header container-fluid" fxLayout fxLayoutAlign="center center" fxLayout.lt-md="column"
		fxLayoutAlign.lt-md="none">
		<div fxLayout fxFlex="45" fxFlex.lt-md="none">
			<div class="summary-content" fxFlex>
				<h1>{{ totalProject }}</h1>
				<h2>Total Project</h2>
			</div>
			<div class="summary-content" fxFlex>
				<h1>{{ totalUnit }}</h1>
				<h2>Total Unit</h2>
			</div>
			<div class="summary-content" fxFlex>
				<h1>{{ totalSoldUnit }}</h1>
				<h2>Sold Unit</h2>
			</div>
		</div>
		<div fxLayout fxFlex="45" fxFlex.lt-md="none">
			<div class="summary-content" fxFlex>
				<h1>{{ totalCanceledUnit }}</h1>
				<h2>Canceled Unit</h2>
			</div>
			<div class="summary-content" fxFlex>
				<h1>{{ totalSoldUnit + totalCanceledUnit }}</h1>
				<h2>Total Sales</h2>
			</div>
			<div class="summary-content" fxFlex>
				<h1>{{ totalSoldAmount }}</h1>
				<h2>Sold Amount</h2>
			</div>
		</div>
	</div>
	<div class="page-body container-fluid">
		<div class="row">
			<div class="col-12 col-lg-6 mt-4">
				<div class="panel panel-line-chart">
					<div class="panel-body" fxLayout="column">
						<div class="header" fxLayout>
							<h1>Monthly Sales Amount</h1>
							<span fxFlex></span>
							<!-- <h2>2021</h2> -->
						</div>
						<div fxFlex>
							<canvas baseChart [datasets]="chartMonthlySalesAmountDataSets"
								[plugins]="chartMonthlySalesAmountPlugins" [labels]="chartMonthlySalesAmountLabels"
								[chartType]="chartMonthlySalesAmountType" [options]="chartMonthlySalesAmountOptions"
								[colors]="chartMonthlySalesAmountColors"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 mt-4">
				<div class="panel panel-line-chart">
					<div class="panel-body" fxLayout="column">
						<div class="header" fxLayout>
							<h1>Monthly Sales Unit</h1>
							<span fxFlex></span>
							<!-- <h2>2021</h2> -->
						</div>
						<div fxFlex>
							<canvas baseChart [datasets]="chartMonthlySalesUnitDataSets"
								[plugins]="chartMonthlySalesAmountPlugins" [labels]="chartMonthlySalesUnitLabels"
								[chartType]="chartMonthlySalesUnitType" [options]="chartMonthlySalesUnitOptions"
								[colors]="chartMonthlySalesUnitColors"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12 col-lg-6 mt-4">
				<div class="panel panel-doughnut-chart panel-sales-status">
					<div class="panel-body p-0" fxLayout="column">
						<div class="title" fxLayout fxLayoutAlign="start center">
							<h1 fxFlex>Unit Sales</h1>
							<div fxLayout="column">
								<h2>{{ totalUnit }}</h2>
								<h3>Units</h3>
							</div>
						</div>
						<div class="chart">
							<canvas baseChart [data]="chartSalesStatusData" [labels]="chartSalesStatusLabels"
								[chartType]="chartSalesStatusType" [options]="doughnutChartOptions"
								[colors]="chartSalesStatusColors">
							</canvas>
						</div>
						<div class="legend">
							<div class="available">
								<i class="far fa-circle mr-2"></i> Available
							</div>
							<div class="reserved">
								<i class="far fa-circle mr-2"></i> Reserved
							</div>
							<div class="sold">
								<i class="far fa-circle mr-2"></i> Sold
							</div>
						</div>
						<div class="detail">
							<div class="row">
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartSalesStatusData[0] }}</h1>
										<h2>Available</h2>
										<progress-chart fxFlex height="8" [max]="totalUnit"
											[value]="chartSalesStatusData[0]" maxColor="#e2e7ee" valueColor="#239111">
										</progress-chart>
									</div>
								</div>
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartSalesStatusData[1] }}</h1>
										<h2>Reserved</h2>
										<progress-chart fxFlex height="8" [max]="totalUnit"
											[value]="chartSalesStatusData[1]" maxColor="#e2e7ee" valueColor="#2da1f8">
										</progress-chart>
									</div>
								</div>
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartSalesStatusData[2] }}</h1>
										<h2>Sold</h2>
										<progress-chart fxFlex height="8" [max]="totalUnit"
											[value]="chartSalesStatusData[2]" maxColor="#e2e7ee" valueColor="#f04047">
										</progress-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-6 mt-4">
				<div class="panel panel-list">
					<div class="panel-body p-0">
						<div class="title" fxLayout>
							<h1>Recent Sales</h1>
						</div>
						<div class="body">
							<ng-container *ngFor="let row of recentSales">
								<div class="list-row" fxLayout fxLayoutAlign="start center">
									<div fxHide fxShow.gt-md fxFlex="100px">{{ row.date }}</div>
									<div fxFlex="140px" fxLayout="column">
										<h3 fxShow fxHide.gt-md>{{ row.date }}</h3>
										<h1>{{ row.unitName }}</h1>
										<h2>{{ row.projectName }}</h2>
									</div>
									<div fxFlex>
										<h1>{{ row.salesName }}</h1>
										<h2>{{ row.agentPropertyName }}</h2>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12 col-lg-6 mt-4">
				<div class="panel panel-doughnut-chart panel-indent-sales-status">
					<div class="panel-body p-0" fxLayout="column">
						<div class="title" fxLayout fxLayoutAlign="start center">
							<h1 fxFlex>Inhouse / Property Agent</h1>
							<div fxLayout="column">
								<h2>{{ totalSalesAgentPropertyType.totalCount }}</h2>
								<h3>Units</h3>
							</div>
						</div>
						<div class="chart">
							<canvas baseChart [data]="chartSalesAgentPropertyTypeData"
								[labels]="chartSalesAgentPropertyTypeLabels"
								[chartType]="chartSalesAgentPropertyTypeType" [options]="doughnutChartOptions"
								[colors]="chartSalesAgentPropertyTypeColors">
							</canvas>
						</div>
						<div class="legend">
							<div class="inhouse">
								<i class="far fa-circle mr-2"></i> Inhouse
							</div>
							<div class="property-agent">
								<i class="far fa-circle mr-2"></i> Property Agent
							</div>
						</div>
						<div class="detail">
							<div class="row">
								<div class="col col-6">
									<div fxLayout="column">
										<h1>{{ chartSalesAgentPropertyTypeData[0] }}</h1>
										<h2>Inhouse</h2>
										<progress-chart fxFlex height="8" [max]="totalSalesAgentPropertyType.totalCount"
											[value]="chartSalesAgentPropertyTypeData[0]" maxColor="#e2e7ee"
											valueColor="#289DF5">
										</progress-chart>
									</div>
								</div>
								<div class="col col-6">
									<div fxLayout="column">
										<h1>{{ chartSalesAgentPropertyTypeData[1] }}</h1>
										<h2>Property Agent</h2>
										<progress-chart fxFlex height="8" [max]="totalSalesAgentPropertyType.totalCount"
											[value]="chartSalesAgentPropertyTypeData[1]" maxColor="#e2e7ee"
											valueColor="#40557D">
										</progress-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-6 mt-4">
				<div class="panel panel-doughnut-chart panel-ready-sales-status">
					<div class="panel-body p-0" fxLayout="column">
						<div class="title" fxLayout fxLayoutAlign="start center">
							<h1 fxFlex>Property Agent Sales</h1>
							<div fxLayout="column">
								<h2>{{ totalSalesAgentPropertyType.propertyAgentCount }}</h2>
								<h3>Units</h3>
							</div>
						</div>
						<div *ngIf="totalSalesAgentPropertyType.propertyAgentCount > 0" class="chart">
							<canvas baseChart [data]="chartSalesPropertyAgentLeadData"
								[labels]="chartSalesPropertyAgentLeadLabels"
								[chartType]="chartSalesPropertyAgentLeadType" [options]="doughnutChartOptions"
								[colors]="chartSalesPropertyAgentLeadColors">
							</canvas>
						</div>
						<div *ngIf="totalSalesAgentPropertyType.propertyAgentCount > 0" class="legend">
							<div *ngFor="let label of chartSalesPropertyAgentLeadLabels; let i = index">
								<i class="far fa-circle mr-2"
									[style.color]="chartSalesPropertyAgentLeadColors[0].backgroundColor[i]"></i>
								{{ label }}
							</div>
						</div>
						<div *ngIf="totalSalesAgentPropertyType.propertyAgentCount > 0" class="detail">
							<div class="row">
								<div class="col col-4"
									*ngFor="let label of chartSalesPropertyAgentLeadLabels; let i = index"
									[ngClass]="'col-' + (12/chartSalesPropertyAgentLeadLabels.length)">
									<div fxLayout="column">
										<h1>{{ chartSalesPropertyAgentLeadData[i] }}</h1>
										<h2>{{ label }}</h2>
										<progress-chart fxFlex height="8"
											[max]="totalSalesAgentPropertyType.propertyAgentCount"
											[value]="chartSalesPropertyAgentLeadData[i]" maxColor="#e2e7ee"
											[valueColor]="chartSalesPropertyAgentLeadColors[0].backgroundColor[i]">
										</progress-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col col-12 col-lg-4 mt-4">
				<div class="panel panel-doughnut-chart panel-progress-status">
					<div class="panel-body p-0" fxLayout="column">
						<div class="title" fxLayout fxLayoutAlign="start center">
							<h1 fxFlex>Unit Progress</h1>
							<div fxLayout="column">
								<h2>{{ totalUnit }}</h2>
								<h3>Units</h3>
							</div>
						</div>
						<div class="chart">
							<canvas baseChart [data]="chartProgressStatusData" [labels]="chartProgressStatusLabels"
								[chartType]="chartProgressStatusType" [options]="doughnutChartOptions"
								[colors]="chartProgressStatusColors">
							</canvas>
						</div>
						<div class="legend">
							<div class="indent">
								<i class="far fa-circle mr-2"></i> Indent
							</div>
							<div class="ready">
								<i class="far fa-circle mr-2"></i> Ready
							</div>
						</div>
						<div class="detail">
							<div class="row">
								<div class="col col-6">
									<div fxLayout="column">
										<h1>{{ chartProgressStatusData[0] }}</h1>
										<h2>Indent</h2>
										<progress-chart fxFlex height="8" [max]="totalUnit"
											[value]="chartProgressStatusData[0]" maxColor="#e2e7ee"
											valueColor="#289DF5">
										</progress-chart>
									</div>
								</div>
								<div class="col col-6">
									<div fxLayout="column">
										<h1>{{ chartProgressStatusData[1] }}</h1>
										<h2>Ready</h2>
										<progress-chart fxFlex height="8" [max]="totalUnit"
											[value]="chartProgressStatusData[1]" maxColor="#e2e7ee"
											valueColor="#40557D">
										</progress-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-4 mt-4">
				<div class="panel panel-doughnut-chart panel-indent-sales-status">
					<div class="panel-body p-0" fxLayout="column">
						<div class="title" fxLayout fxLayoutAlign="start center">
							<h1 fxFlex>Indent Unit Sales</h1>
							<div fxLayout="column">
								<h2>{{ totalUnitProgressStatus.indentCount }}</h2>
								<h3>Units</h3>
							</div>
						</div>
						<div class="chart">
							<canvas baseChart [data]="chartIndentSalesStatusData"
								[labels]="chartIndentSalesStatusLabels" [chartType]="chartIndentSalesStatusType"
								[options]="doughnutChartOptions" [colors]="chartIndentSalesStatusColors">
							</canvas>
						</div>
						<div class="legend">
							<div class="available">
								<i class="far fa-circle mr-2"></i> Available
							</div>
							<div class="reserved">
								<i class="far fa-circle mr-2"></i> Reserved
							</div>
							<div class="sold">
								<i class="far fa-circle mr-2"></i> Sold
							</div>
						</div>
						<div class="detail">
							<div class="row">
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartIndentSalesStatusData[0] }}</h1>
										<h2>Available</h2>
										<progress-chart fxFlex height="8" [max]="totalUnitProgressStatus.indentCount"
											[value]="chartIndentSalesStatusData[0]" maxColor="#e2e7ee"
											valueColor="#239111">
										</progress-chart>
									</div>
								</div>
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartIndentSalesStatusData[1] }}</h1>
										<h2>Reserved</h2>
										<progress-chart fxFlex height="8" [max]="totalUnitProgressStatus.indentCount"
											[value]="chartIndentSalesStatusData[1]" maxColor="#e2e7ee"
											valueColor="#2da1f8">
										</progress-chart>
									</div>
								</div>
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartIndentSalesStatusData[2] }}</h1>
										<h2>Sold</h2>
										<progress-chart fxFlex height="8" [max]="totalUnitProgressStatus.indentCount"
											[value]="chartIndentSalesStatusData[2]" maxColor="#e2e7ee"
											valueColor="#f04047">
										</progress-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-4 mt-4">
				<div class="panel panel-doughnut-chart panel-ready-sales-status">
					<div class="panel-body p-0" fxLayout="column">
						<div class="title" fxLayout fxLayoutAlign="start center">
							<h1 fxFlex>Ready Unit Sales</h1>
							<div fxLayout="column">
								<h2>{{ totalUnitProgressStatus.readyCount }}</h2>
								<h3>Units</h3>
							</div>
						</div>
						<div class="chart">
							<canvas baseChart [data]="chartReadySalesStatusData" [labels]="chartReadySalesStatusLabels"
								[chartType]="chartReadySalesStatusType" [options]="doughnutChartOptions"
								[colors]="chartReadySalesStatusColors">
							</canvas>
						</div>
						<div class="legend">
							<div class="available">
								<i class="far fa-circle mr-2"></i> Available
							</div>
							<div class="reserved">
								<i class="far fa-circle mr-2"></i> Reserved
							</div>
							<div class="sold">
								<i class="far fa-circle mr-2"></i> Sold
							</div>
						</div>
						<div class="detail">
							<div class="row">
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartReadySalesStatusData[0] }}</h1>
										<h2>Available</h2>
										<progress-chart fxFlex height="8" [max]="totalUnitProgressStatus.readyCount"
											[value]="chartReadySalesStatusData[0]" maxColor="#e2e7ee"
											valueColor="#239111">
										</progress-chart>
									</div>
								</div>
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartReadySalesStatusData[1] }}</h1>
										<h2>Reserved</h2>
										<progress-chart fxFlex height="8" [max]="totalUnitProgressStatus.readyCount"
											[value]="chartReadySalesStatusData[1]" maxColor="#e2e7ee"
											valueColor="#2da1f8">
										</progress-chart>
									</div>
								</div>
								<div class="col col-4">
									<div fxLayout="column">
										<h1>{{ chartReadySalesStatusData[2] }}</h1>
										<h2>Sold</h2>
										<progress-chart fxFlex height="8" [max]="totalUnitProgressStatus.readyCount"
											[value]="chartReadySalesStatusData[2]" maxColor="#e2e7ee"
											valueColor="#f04047">
										</progress-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div *ngIf="recentReservation.length > 0" class="col col-12 col-lg-6 mt-4">
				<div class="panel panel-list">
					<div class="panel-body p-0">
						<div class="title" fxLayout>
							<h1>Recent Reservation</h1>
						</div>
						<div class="body">
							<ng-container *ngFor="let row of recentReservation">
								<div class="list-row" fxLayout fxLayoutAlign="start center">
									<div fxHide fxShow.gt-md fxFlex="100px">{{ row.date }}</div>
									<div fxFlex="140px" fxLayout="column">
										<h3 fxShow fxHide.gt-md>{{ row.date }}</h3>
										<h1>{{ row.unitName }}</h1>
										<h2>{{ row.projectName }}</h2>
									</div>
									<div fxFlex>
										<h1>{{ row.salesName }}</h1>
										<h2>{{ row.agentPropertyName }}</h2>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="incomingAkad.length > 0" class="col col-12 col-lg-6 mt-4">
				<div class="panel panel-list">
					<div class="panel-body p-0">
						<div class="title" fxLayout>
							<h1>Incoming Akad</h1>
						</div>
						<div class="body">
							<ng-container *ngFor="let row of incomingAkad">
								<div class="list-row" fxLayout fxLayoutAlign="start center">
									<div fxHide fxShow.gt-md fxFlex="100px">{{ row.date }}</div>
									<div fxFlex="140px" fxLayout="column">
										<h3 fxShow fxHide.gt-md>{{ row.date }}</h3>
										<h1>{{ row.unitName }}</h1>
										<h2>{{ row.projectName }}</h2>
									</div>
									<div fxFlex>
										<h1>{{ row.salesName }}</h1>
										<h2>{{ row.agentPropertyName }}</h2>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
