<h2 mat-dialog-title>Akad</h2>
<mat-dialog-content fxLayout="column">
	<div class="form-group mb-0">
		<label>Akad Date</label>
		<div class="input-group">
			<input [matDatepicker]="datePicker" class="form-control" (click)="datePicker.open()" [(ngModel)]="akadDate"
				readonly />
			<div class="input-group-append">
				<span class="input-group-text" (click)="datePicker.open()"><i class="far fa-calendar-alt"></i></span>
			</div>
			<mat-datepicker #datePicker></mat-datepicker>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button class="btn btn-primary" (click)="save()">
		<i class="fa fa-save mr-1"></i> Save
	</button>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
