.mat-dialog-content {
	&:first-child {
		background-color: #FAFAFA;
		border-bottom: 1px solid #ced4da;
		padding-bottom: 10px;

		h1,
		h2 {
			margin: 0;
		}

		h1 {
			// line-height: 30px;
		}

		h2 {
			font-size: 14px;
		}
	}

	textarea {
		height: 102px;
	}

	.tabs {
		.tab-header {
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			border-bottom: 1px solid #ced4da;

			div {
				text-align: center;
				padding: 10px;
				border-right: 1px solid #ced4da;
				cursor: pointer;
				flex: 1 1 0%;
				box-sizing: border-box;
				background-color: #FAFAFA;
				color: var(--text-light);

				&:last-child {
					border-right: none;
				}

				&.active {
					color: var(--text);
					background-color: #FFFFFF;
					box-shadow: inset 0px -4px var(--blue6);
				}

				&:hover {
					color: var(--text);
					background-color: #f2f2f2;
				}
			}
		}

		.tab-contents {
			.tab-content {
				background-color: #FFFFFF;
				padding: 25px 20px;

				.tab-content-header {
					padding: 10px 20px;
				}
			}
		}
	}
}
