.user-highlight {
	padding-top: 30px;
	padding-bottom: 30px;
	.user-image {
		width: 200px;
		height: 200px;
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 30px;
	}
	h1, h2, h3 {
		margin: 0;
	}
	h1 {
		font-size: 34px;
		text-transform: uppercase;
	}
	h2 {
		font-size: 14px;
		color: #007bff;
	}
	h3 {
		font-size: 14px;
		color: #354052;
	}
}
label {
	font-size: 12px;
    margin-bottom: 2px;
}
.data-grid {
	border: 1px solid #e6eaee;
	border-radius: 4px;
}
h1 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
}
.btn-disable {
	margin-top: 19px;
}
.roles, .clients {
	border: 1px solid #e6eaee;
	border-radius: 4px;
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
}
.roles {
	li {
		list-style: none;
		border-bottom: 1px solid #e6eaee;
		padding: 10px 30px 10px 0px;
		h2 {
			font-size: 14px;
			line-height: normal;
			margin: 0;
		}
		h5 {
			font-size: 12px;
			line-height: normal;
			margin: 0;
			color: #7f8fa4;
		}
	}
}
.clients {
	li {
		list-style: none;
		> div {
			border-bottom: 1px solid #e6eaee;
			padding: 10px 30px 10px 0px;
			> i {
				color: #f16911;
			}
			> div {
				h2 {
					font-size: 14px;
					line-height: normal;
					margin: 0;
				}
				h5 {
					font-size: 12px;
					line-height: normal;
					margin: 0;
					color: #7f8fa4;
				}
			}
		}
		> ul {
			margin: 0px;
			padding: 0px;
		}
	}
}
