<ng-container *ngIf="isInitialized">
	<div class="page-body container-fluid">
		<div class="panel">
			<div class="panel-body" fxLayout="column">
				<div class="row">
					<div class="user-highlight col col-12" fxLayout="column" fxLayoutAlign="center center">
						<div class="user-image">
							<thumb [src]="user.userImagePath" height="200px"></thumb>
						</div>
						<h2>{{ user.userName }}</h2>
						<h1>{{ user.fullName }}</h1>
						<h3>{{ user.companyName }}</h3>
					</div>
				</div>
				<div class="row user-info">
					<div class="col col-12 col-lg-6" fxLayout="column">
						<h1>General Info</h1>
						<div class="form-group">
							<label>Full Name</label>
							<input class="form-control" [value]="user.fullName" readonly>
						</div>
						<div fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex="100px" fxFlex.lt-lg>
									<label>Birth Date</label>
									<input class="form-control" [value]="user.birthDate" readonly>
								</div>
								<div class="form-group" fxFlex="80px" fxFlex.lt-lg="100px">
									<label>Age</label>
									<input class="form-control" [value]="user.age" readonly>
								</div>
							</div>
							<div class="form-group" fxFlex>
								<label>Birth Place</label>
								<input class="form-control" [value]="user.birthPlace" readonly>
							</div>
						</div>
					</div>
					<div class="col col-12 col-lg-6" fxLayout="column">
						<h1>Employment Info</h1>
						<div fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
							<div class="form-group" fxFlex>
								<label>Company</label>
								<input class="form-control" [value]="user.companyName" readonly>
							</div>
							<div class="form-group" fxFlex>
								<label>Department</label>
								<input class="form-control" [value]="user.departmentName" readonly>
							</div>
						</div>
						<div fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
							<div class="form-group" fxFlex>
								<label>Occupation</label>
								<input class="form-control" [value]="user.occupationName" readonly>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex="120px" fxFlex.lt-lg>
									<label>Employee Code</label>
									<input class="form-control" [value]="user.employeeCode" readonly>
								</div>
								<div class="form-group" fxFlex="100px" fxFlex.lt-lg>
									<label>Join Date</label>
									<input class="form-control" [value]="user.joinDate" readonly>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h1>User Info</h1>
				<div class="row user-info">
					<div class="col col-12 col-lg-6 mb-4" fxLayout="column">
						<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="save()">
							<div class="form-group">
								<label>User Name</label>
								<input class="form-control" formControlName="userName"
									[class.is-invalid]="userName.invalid && formSubmitAttempt">
							</div>
							<div fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Default Route</label>
									<input class="form-control" formControlName="defaultRoute"
										[class.is-invalid]="defaultRoute.invalid && formSubmitAttempt">
								</div>
								<div fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
									<div class="form-group" fxFlex="130px" fxFlex.lt-lg="">
										<label>Locked Date</label>
										<input type="text" class="form-control" [value]="user.lockedDate" readonly>
									</div>
									<div class="form-group" fxFlex="130px" fxFlex.lt-lg="">
										<label>Disabled Date</label>
										<input type="text" class="form-control" [value]="user.disabledDate" readonly>
									</div>
								</div>
							</div>
						</form>
						<label>Company :</label>
						<div fxFlex="167px" class="clients scroll scroll-y">
							<ul>
								<ng-container *ngFor="let company of companies">
									<company-tree [company]="company">
									</company-tree>
								</ng-container>
								<!-- <ng-container *ngFor="let client of clients">
									<li class="client">
										<div fxLayout fxLayoutAlign="start center">
											<span fxFlex="30px"></span>
											<mat-checkbox fxFlex="30px" [checked]="client.isChecked"
												[indeterminate]="client.isIndeterminate"
												(change)="change(client, $event)">
											</mat-checkbox>
											<i class="far fa-id-card" fxFlex="30px" fxLayout
												fxLayoutAlign="start center"></i>
											<div fxFlex fxLayout="column">
												<h2>{{ client.clientName }}</h2>
											</div>
										</div>
										<ul *ngIf="client.companies">
											<ng-container *ngFor="let company of client.companies">
												<company-tree [company]="company"
													(changed)="childChange(client, $event)"
													(indeterminateChanged)="childIndeterminateChange(client, $event)">
												</company-tree>
											</ng-container>
										</ul>
									</li>
								</ng-container> -->
								<!-- <ng-container *ngFor="let company of companies">
									<company-tree [company]="company" (changed)="childChange($event)"></company-tree>
								</ng-container> -->
							</ul>
						</div>

					</div>
					<div class="col col-12 col-lg-6 mb-4" fxLayout="column">
						<label>Role :</label>
						<div fxFlex="300px" class="roles scroll scroll-y">
							<ul>
								<ng-container *ngFor="let role of roles">
									<li fxLayout>
										<span fxFlex="20px"></span>
										<mat-checkbox fxFlex="30px" [checked]="role.isChecked"
											(change)="toggleRole(role)">
											{{ role.roleName }}
										</mat-checkbox>
									</li>
								</ng-container>
							</ul>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col col-12 col-lg-6 mb-2" fxLayout="column">
						<div fxLayout fxLayout.lt-lg="column" fxLayoutGap="7px">
							<button fxFlex class="btn btn-primary" *ngIf="user.lockedDate" (click)="unlockUser()"
								[disabled]="isUnlocking">
								<ng-container *ngIf="isUnlocking">
									<span class="spinner-border text-light spinner-border-sm mr-2"></span>
									Unlocking...
								</ng-container>
								<ng-container *ngIf="!isUnlocking">
									<i class="fas fa-lock-open mr-2"></i>Unlock User
								</ng-container>
							</button>
							<button fxFlex class="btn btn-primary" (click)="resetPassword()"
								[disabled]="isPasswordResetting">
								<ng-container *ngIf="isPasswordResetting">
									<span class="spinner-border text-light spinner-border-sm mr-2"></span>
									Resetting...
								</ng-container>
								<ng-container *ngIf="!isPasswordResetting">
									<i class="fas fa-redo mr-2"></i>Reset Password
								</ng-container>
							</button>
							<button fxFlex class="btn btn-danger" *ngIf="!user.disabledDate" (click)="disableUser()"
								[disabled]="isUserDisabling">
								<ng-container *ngIf="isUserDisabling">
									<span class="spinner-border text-light spinner-border-sm mr-2"></span>
									Disabling...
								</ng-container>
								<ng-container *ngIf="!isUserDisabling">
									<i class="fas fa-times mr-2"></i>Disable User
								</ng-container>
							</button>
							<button fxFlex class="btn btn-success" *ngIf="user.disabledDate" (click)="enableUser()"
								[disabled]="isUserEnabling">
								<ng-container *ngIf="isUserEnabling">
									<span class="spinner-border text-light spinner-border-sm mr-2"></span>
									Enabling...
								</ng-container>
								<ng-container *ngIf="!isUserEnabling">
									<i class="fas fa-check mr-2"></i>Enable User
								</ng-container>
							</button>
						</div>
					</div>
					<div class="col col-12 col-lg-6 mb-2" fxLayout="column">
						<button fxFlex class="btn btn-primary btn-save" (click)="save()" [disabled]="isSaving">
							<ng-container *ngIf="isSaving">
								<span class="spinner-border text-light spinner-border-sm mr-2"></span>
								Saving...
							</ng-container>
							<ng-container *ngIf="!isSaving">
								<i class="fas fa-check mr-2"></i>Save
							</ng-container>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
