<ng-container *ngIf="isInitialized">
	<div class="page-body container-fluid">
		<div class="panel panel-client">
			<div class="panel-body" fxLayout="column">
				<div class="client-logo" fxLayout="column" fxLayoutAlign="center center">
					<div class="image-holder-outer" fxFlex="200px">
						<image-holder [src]="clientLogoPath" fxFlex></image-holder>
					</div>
					<input type="file" class="d-none" accept="image/*" #uploadLogo
						(change)="uploadLogoChanged($event)" />
					<button class="btn btn-primary mt-5" (click)="uploadLogo.click()"><i
							class="fas fa-cloud-upload-alt mr-2"></i>Upload Client
						Logo</button>
				</div>
				<div fxLayout fxLayoutGap="20px">
					<div fxLayout="column" fxFlex>
						<h1>Client Information</h1>
						<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="save()">
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex="80px">
									<label>Client Code</label>
									<input class="form-control" formControlName="clientCode"
										[class.is-invalid]="clientCode.invalid && formSubmitAttempt">
								</div>
								<div class="form-group" fxFlex>
									<label>Client Name</label>
									<input class="form-control" formControlName="clientName"
										[class.is-invalid]="clientName.invalid && formSubmitAttempt">
								</div>
							</div>
							<div class="form-group">
								<label>Remark</label>
								<input class="form-control" formControlName="remark">
							</div>
						</form>
						<h1>Client Configs</h1>
						<div fxFlex="180px" class="configs scroll scroll-y">
							<ul>
								<ng-container *ngFor="let config of configs">
									<li fxLayout fxLayoutAlign="start center">
										<div fxFlex="200px">{{ config.configName }}</div>
										<div fxFlex><input fxFlex class="form-control text-right"
												[(ngModel)]="config.configValue" />
										</div>
									</li>
								</ng-container>
							</ul>
						</div>
						<h1>Client Roles</h1>
						<div fxFlex="259px" class="roles scroll scroll-y">
							<ul>
								<ng-container *ngFor="let role of roles">
									<li fxLayout>
										<span fxFlex="20px"></span>
										<mat-checkbox fxFlex="30px" [checked]="role.isChecked"
											(change)="toggleRole(role)">
											{{ role.roleName }}
										</mat-checkbox>
									</li>
								</ng-container>
							</ul>
						</div>
					</div>
					<div fxLayout="column" fxFlex>
						<h1>Client Menus</h1>
						<ul fxFlex="702px" class="menus scroll scroll-y">
							<ng-container *ngFor="let menu of menus">
								<menu-tree [menu]="menu" (changed)="childChange($event)"></menu-tree>
							</ng-container>
						</ul>
					</div>
				</div>
				<div fxLayout class="mt-3">
					<button class="btn btn-primary btn-block" (click)="save()"><i
							class="fas fa-save mr-2"></i>Save</button>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
