<h2 mat-dialog-title>Change Team</h2>
<mat-dialog-content fxLayout="column">
	<div class="form-group mb-0">
		<label>Team</label>
		<select class="form-control" [(ngModel)]="selectedTeamId">
			<option *ngFor="let t of teams" [value]="t.teamId">{{ t.teamName }}</option>
		</select>
	</div>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<loading-button className="btn btn-sm btn-primary" [isLoading]="isSaving" (click)="submit()">
		<i class="fa fa-save mr-1"></i> Save
	</loading-button>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
