<div class="container-fluid page-body">
	<div class="panel panel-lookup">
		<div class="panel-filter" fxLayoutGap="10px" fxLayoutAlign="start end">
			<div class="form-group" fxFlex>
				<label>Search</label>
				<input class="form-control" (keyup)="applyFilter($event)" />
			</div>
			<div>
				<button class="btn btn-primary" (click)="addLookup()"><i class="fas fa-plus mr-2"></i>Add
					Lookup</button>
			</div>
		</div>
		<div class="panel-body p-0">
			<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear>

				<ng-container matColumnDef="no">
					<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
					</mat-header-cell>
					<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
						{{ i + 1 }}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="lookupId">
					<mat-header-cell fxFlex="90px" mat-sort-header *matHeaderCellDef>Lookup Id</mat-header-cell>
					<mat-cell fxFlex="90px" *matCellDef="let row">{{ row.lookupId }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="lookupName">
					<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Lookup Name</mat-header-cell>
					<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.lookupName }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="lookupValue">
					<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Lookup Value</mat-header-cell>
					<mat-cell fxFlex *matCellDef="let row">{{ row.lookupValue }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="lookupGroup">
					<mat-header-cell fxFlex="160px" mat-sort-header *matHeaderCellDef>Lookup Group</mat-header-cell>
					<mat-cell fxFlex="160px" *matCellDef="let row">{{ row.lookupGroup }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
					<mat-cell fxFlex="100px" *matCellDef="let row">
						<div fxFlex fxLayout fxLayoutAlign="end center" fxLayoutGap="5px">
							<button class="btn btn-sm btn-primary" (click)="editLookup(row)">
								<i class="fas fa-pen mr"></i>
							</button>
							<button class="btn btn-sm btn-primary" (click)="deleteLookup(row.lookupId)">
								<i class="far fa-trash-alt"></i>
							</button>
						</div>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
