:host {
	flex-direction: column;
    box-sizing: border-box;
    display: flex;
}
li {
	flex-direction: column;
    box-sizing: border-box;
    display: flex;
	padding: 0px;
	margin: 0px;
	h4 {
		// margin-top: 25px;
		// margin-bottom: 15px;
		// padding-left: 25px;
		// color: #61BDFF;
		color: #7f8fa4;
		// font-size: 12px;
		// text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 15px;
		padding-left: 25px;
		/* color: #7f8fa4; */
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}
	a {
		padding: 10px 0 10px 23px;
		transition: background-color .2s;
		text-decoration: none;
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
		cursor: pointer;
		.level {
			display: inline-block;
		}
		i {
			margin-right: 10px;
			width: 20px;
			color: #7C828D;
			// color: #b7c0cd;
			// color: #007bff;
			// color: #7f8fa4;
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			place-content: center flex-start;
			align-items: center;
		}
		h5 {
			font-size: 14px;
			font-weight: 400;
			margin: 0px;
			// color: #b7c0cd;
			// color: #4c5c76;
			// color: #7f8fa4;
			color: #53575E;
			flex: 1 1 0%;
			box-sizing: border-box;
			line-height: normal;
		}
		&.active {
			// background-color: rgba(0,0,0,0.3);
			background-color: #EBF6FF;
			// background-color: #d8ebff;
			// box-shadow: inset 3px 0 0 0 #007bff;
			box-shadow: inset 4px 0 0 0 #61BDFF;
			i {
				color: #4CA9FF;
			}
			h5 {
				color: #4CA9FF;
				// color: #000000;
				font-weight: 600;
			}
			// color: #b7c0cd;
		}
		&:hover {
			// background-color: rgba(0, 0, 0, 0.1);
			background-color: #FAFAFA;
			// background-color: #ebf5ff;
			i {
				// color: #0069d9;
				// color: #007bff;
			}
			h5 {
				// color: #000000;
				// color: #ffffff;
				// font-weight: 600;
			}
		}
	}
	&.expanded {
		background-color: rgba(0,0,0,0.3);
	}
	&.selected {
		a {
			background-color: rgba(255,255,255, 0.1);
			box-shadow: inset 3px 0 0 0 #00a8ff;
			color: #b7c0cd;
			position: relative;
			&:before {
				content: '';
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 8px solid #00a8ff;
				position: absolute;
				display: inline;
				left: 0px;
				top: 50%;
				transform: translate(0px, -50%);
			}
		}
	}
	&.hidden {
		display: none;
	}
	> ul {
		padding: 0px;
		margin: 0px;
		&.expanded {
			display: block;
		}
		&.collapsed {
			display: none;
		}
	}
}
