<li class="menu" [ngClass]="+menu.menuTypeId === 3 ? menu.visibility : ''" [class.menu-header]="+menu.menuTypeId === 3"
	[class.hidden]="isHidden" [class.selected]="isMenuSelected">
	<ng-container *ngIf="+menu.menuTypeId === 3">
		<h4>{{ menu.menuName }}</h4>
	</ng-container>
	<ng-container *ngIf="+menu.menuTypeId === 4">
		<a class="anc" (click)="click(menu)" [routerLink]="menu.route" [class.active]="currentUrl === menu.route"
			fxLayoutAlign="start center">
			<span class="level" [style.width.px]="menu.level * 27"></span>
			<i [class]="menu.icon || 'fas fa-th-large'" fxLayoutAlign="center center"></i>
			<h5>{{ menu.menuName }}</h5>
			<ng-container *ngIf="menu.child.length > 0">
				<i [ngClass]="menu.visibility === 'expanded' ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
			</ng-container>
		</a>
	</ng-container>
	<ng-container *ngIf="menu.child.length > 0">
		<ul class="menus" [ngClass]="menu.menuTypeId === 4 ? menu.visibility : ''">
			<ng-container *ngFor="let subMenu of menu.child">
				<app-menu [menu]="subMenu" [currentUrl]="currentUrl" [isMenuFiltering]="isMenuFiltering"
					[selectedMenuIndex]="selectedMenuIndex"></app-menu>
			</ng-container>
		</ul>
	</ng-container>
</li>
