.billing-info {
	border-bottom: 1px solid #e6eaee;
}
.loading-container {
	position: relative;
}
input[readonly] {
	background-color: #ffffff;
}
.mat-dialog-title {
	h1 {
		font-size: 20px;
		margin: 0;
	}
	h2 {
		font-size: 14px;
		color: #2da1f8;
		margin: 0;
	}
}
