.client-logo {
	width: 300px;
	margin-top: 60px;
}

.form-group {
	textarea {
		height: 68px;
	}
}

.user-not-exists {
	height: 14px;
}

.user-exists {
	height: 14px;
	color: red;
	font-size: 12px;
}
