<ng-container *ngIf="isInitialized">
	<div class="page-header" fxLayout fxLayoutGap="10px" fxLayoutAlign="start end">
		<div class="form-group" fxFlex="200px">
			<label>Search</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event)">
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>
		</div>
		<span fxFlex></span>
		<!-- <button class="btn btn-primary" (click)="addClient()"><i class="fas fa-plus mr-2"></i>New Client</button> -->
		<a [routerLink]="['new']" class="btn btn-primary">
			<i class="fas fa-plus mr-2"></i> New Client
		</a>
	</div>
	<div class="page-body container-fluid">
		<div class="panel">
			<div class="panel-body p-0">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource">

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="clientName">
						<mat-header-cell fxFlex *matHeaderCellDef>Client</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row" fxLayoutGap="15px">
							<div class="logo" fxFlex="70px">
								<image-holder [src]="row.clientLogoPath" fxFlex></image-holder>
							</div>
							<div fxLayout="column">
								<h2>{{ row.clientCode }}</h2>
								<h1>{{ row.clientName}}</h1>
							</div>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="remark">
						<mat-header-cell fxFlex *matHeaderCellDef>Remark</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.remark }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="100px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="100px" *matCellDef="let row" fxLayout fxLayoutGap="5px">
							<a [routerLink]="[row.clientId]" class="btn btn-primary btn-sm">
								<i class="fas fa-pen mr"></i>
							</a>
							<button class="btn btn-danger btn-sm" (click)="deleteClient(row.clientId)">
								<i class="far fa-trash-alt"></i>
							</button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
				<mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
