<div class="container-fluid page-body">
	<div class="panel panel-menu-and-function">
		<div class="panel-filter" fxLayout fxLayoutAlign="start end" fxLayoutGap="10px">
			<div class="form-group" fxFlex>
				<label>Search</label>
				<input class="form-control" (keyup)="search($event)">
			</div>
			<!-- <div>
				<button class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Add Menu</button>
			</div> -->
		</div>
		<div class="panel-body p-0" fxLayout="column">
			<div class="tree-header" fxLayout fxLayoutAlign="start center">
				<div fxFlex>Menu</div>
				<div fxFlex="300px">Route</div>
				<!-- <div fxFlex="100px">Open In</div> -->
				<div fxFlex="100px"></div>
			</div>
			<ul class="tree-content">
				<app-menu [menus]="menus" (addMenuClick)="addMenu($event)" (editMenuClick)="editMenu($event)"
					(deleteMenuClick)="deleteMenu($event)"></app-menu>
			</ul>
		</div>
	</div>
</div>
