.tree-header {
	padding: 0px 30px;
	background-color: #f5f8fa;
    height: 42px;
    min-height: 42px;
    border-bottom: 1px solid #e6eaee;
	> div {
		font-weight: 400;
		font-family: "Poppins";
		color: #354052;
		line-height: normal;
	}
}
.tree-content {
	padding: 0px;
}
