<page-body>
	<panel>
		<panel-filter>
			<div class="form-group" fxFlex>
				<label>Search</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search.."
						(keyup)="searchChanged($event.target.value)">
					<div class="input-group-append">
						<span class="input-group-text">
							<i class="fas fa-search"></i>
						</span>
					</div>
				</div>
			</div>
		</panel-filter>
		<panel-body class="p-0" fxLayout="column">
			<ng-container *ngIf="isInitialized">
				<mat-table class="data-grid" #dataGrid [dataSource]="dataSource" matSort matSortDisableClear>

					<ng-container matColumnDef="no">
						<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
						</mat-header-cell>
						<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
							{{ i + 1 }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="salesDate">
						<mat-header-cell fxFlex="120px" mat-sort-header *matHeaderCellDef>Sales Date</mat-header-cell>
						<mat-cell fxFlex="120px" *matCellDef="let row">{{ row.salesDate }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="unitName">
						<mat-header-cell fxFlex="160px" mat-sort-header *matHeaderCellDef>Unit</mat-header-cell>
						<mat-cell fxFlex="160px" *matCellDef="let row" fxLayout="column" fxLayoutAlign="none">
							<h6>{{ row.unitName }}</h6>
							<small class="text-secondary">{{ row.projectName }}</small>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="fullName">
						<mat-header-cell fxFlex="200px" mat-sort-header *matHeaderCellDef>Customer
							Name</mat-header-cell>
						<mat-cell fxFlex="200px" *matCellDef="let row">{{ row.fullName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="revisionStatusName">
						<mat-header-cell fxFlex="150px" mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
						<mat-cell fxFlex="150px" *matCellDef="let row">{{ row.revisionStatusName }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="revisionReason">
						<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef>Reason</mat-header-cell>
						<mat-cell fxFlex *matCellDef="let row">{{ row.revisionReason }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell fxFlex="50px" *matHeaderCellDef></mat-header-cell>
						<mat-cell fxFlex="50px" *matCellDef="let row">
							<a class="btn btn-primary btn-sm" [routerLink]="row.salesRevisionId"><i
									class="fas fa-chevron-right"></i></a>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
			</ng-container>
			<ng-container *ngIf="!isInitialized">
				<loading fxFlex="500px"></loading>
			</ng-container>
			<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
		</panel-body>
	</panel>
</page-body>