<ng-container *ngIf="isInitialized">
	<h2 mat-dialog-title>{{ dialogTitle }}</h2>
	<mat-dialog-content fxLayout="column">
		<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="submit()">
			<ng-container *ngIf="dialogType === 0">

				<div class="form-group">
					<label>Company Name</label>
					<input class="form-control" formControlName="name"
						[class.is-invalid]="name.invalid && formSubmitAttempt">
				</div>
				<div class="form-group">
					<label>Parent</label>
					<input class="form-control" [value]="parentName" readonly>
				</div>
				<div class="form-group">
					<label>Remark</label>
					<input class="form-control" formControlName="remark">
				</div>
				<div class="form-group mb-0">
					<label>Address</label>
					<textarea class="form-control" formControlName="address" rows="3"></textarea>
				</div>
			</ng-container>
			<ng-container *ngIf="dialogType === 1">
				<div class="form-group">
					<label>Department Name</label>
					<input class="form-control" formControlName="name"
						[class.is-invalid]="name.invalid && formSubmitAttempt">
				</div>
				<div class="form-group">
					<label>Type</label>
					<select class="form-control" formControlName="type">
						<option></option>
					</select>
				</div>
				<div class="form-group">
					<label>Parent</label>
					<input class="form-control" [value]="parentName" readonly>
				</div>
				<div class="form-group mb-0">
					<label>Remark</label>
					<input class="form-control" formControlName="remark">
				</div>
			</ng-container>
			<ng-container *ngIf="dialogType === 2">
				Occupation
			</ng-container>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions fxLayout fxLayoutGap="10px">
		<span fxFlex></span>
		<button class="btn btn-primary" (click)="save()">
			<i class="fa fa-save mr-1"></i> Save
		</button>
		<button mat-dialog-close class="btn btn-danger">
			<i class="fa fa-times mr-1"></i> Close
		</button>
	</mat-dialog-actions>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>
