<li class="district">
	<div fxLayout fxLayoutAlign="start center" (click)="toggle()">
		<span [fxFlex]="(district.level * 30) + 'px'"></span>
		<div class="toggler" fxFlex="30px" fxLayoutAlign="center center">
			<ng-container *ngIf="district.isLoading">
				<i class="fa fa-spinner fa-pulse"></i>
			</ng-container>
			<ng-container *ngIf="!district.isLoading">
				<ng-container *ngIf="!district.expanded">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</ng-container>
				<ng-container *ngIf="district.expanded">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</ng-container>
			</ng-container>
		</div>
		<div fxFlex fxLayout="column">{{ district.districtName }}</div>
		<div fxFlex="160px" fxLayout="column">Kecamatan</div>
		<div fxFlex="60px" fxLayout fxLayoutGap="5px">

		</div>
	</div>
	<ul *ngIf="district.subdistricts && district.subdistricts.length > 0 && district.expanded">
		<ng-container *ngFor="let subdistrict of district.subdistricts">
			<subdistrict-tree [subdistrict]="subdistrict">
			</subdistrict-tree>
		</ng-container>
	</ul>
</li>
