li {
	list-style: none;
	cursor: pointer;
	&:hover {
		background-color: #fafafa;
	}
	> div {
		border-bottom: 1px solid #e6eaee;
		padding: 10px 30px 10px 0px;
		// .fa-chevron-right {
		// 	font-size: 10px;
		// }
		> div {
			h2 {
				font-size: 14px;
				line-height: normal;
				margin: 0;
			}
			h5 {
				font-size: 12px;
				line-height: normal;
				margin: 0;
				color: #7f8fa4;
			}
		}
	}
	> ul {
		margin: 0px;
		padding: 0px;
	}
}
