<li class="province">
	<div fxLayout fxLayoutAlign="start center" (click)="toggle()">
		<span [fxFlex]="(province.level * 30) + 'px'"></span>
		<div class="toggler" fxFlex="30px" fxLayoutAlign="center center">
			<ng-container *ngIf="province.isLoading">
				<i class="fa fa-spinner fa-pulse"></i>
			</ng-container>
			<ng-container *ngIf="!province.isLoading">
				<ng-container *ngIf="!province.expanded">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</ng-container>
				<ng-container *ngIf="province.expanded">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</ng-container>
			</ng-container>
		</div>
		<div fxFlex fxLayout="column">{{ province.provinceName }}</div>
		<div fxFlex="160px" fxLayout="column">Provinsi</div>
		<div fxFlex="60px" fxLayout fxLayoutGap="5px">

		</div>
	</div>
	<ul *ngIf="province.cities && province.cities.length > 0 && province.expanded">
		<ng-container *ngFor="let city of province.cities">
			<city-tree [city]="city" [provinceId]="province.provinceId">
			</city-tree>
		</ng-container>
	</ul>
</li>
