<mat-dialog-content fxLayout class="lead-info" fxLayoutGap="10px" fxLayoutAlign="start center">
	<h3 [style.background-color]="'#' + lead.color">{{ lead.leadInitial }}</h3>
	<div fxLayout="column">
		<h1>{{ lead.fullName }}</h1>
		<h2>{{ lead.locationName }}</h2>
	</div>
</mat-dialog-content>
<mat-dialog-content class="search" fxLayout="column">
	<div class="form-group">
		<label>Search</label>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event.target.value)">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group mb-0">
		<label>Sales Type</label>
		<select class="form-control" (change)="salesInhouseTypeChanged($any($event.target).value)">
			<option value="all">All</option>
			<option *ngFor="let t of salesInhouseTypeNames" [value]="t">{{ t }}</option>
		</select>
	</div>
</mat-dialog-content>
<mat-dialog-content fxLayout="column" class="p-0">
	<ng-container *ngIf="isInitialized">
		<mat-table class="data-grid" #dataGrid fxFlex="300px" [dataSource]="dataSource" matSort matSortDisableClear>

			<ng-container matColumnDef="no">
				<mat-header-cell fxFlex="60px" mat-sort-header *matHeaderCellDef> No.
				</mat-header-cell>
				<mat-cell fxFlex="60px" *matCellDef="let row; let i = index">
					{{ i + 1 }}
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="fullName">
				<mat-header-cell fxFlex mat-sort-header *matHeaderCellDef></mat-header-cell>
				<mat-cell fxFlex *matCellDef="let row" fxLayout="column" fxLayoutAlign="center start">
					<h1>{{ row.fullName }}</h1>
					<h2>{{ row.salesInhouseTypeName }}</h2>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell fxFlex="50px" *matHeaderCellDef></mat-header-cell>
				<mat-cell fxFlex="50px" *matCellDef="let row">
					<button title="Select" class="btn btn-primary btn-sm" [disabled]="row.isAssigning"
						(click)="assign(row)">
						<ng-container *ngIf="!row.isAssigning">
							<i class="fas fa-check"></i>
						</ng-container>
						<ng-container *ngIf="row.isAssigning">
							<span class="spinner-border spinner-border-sm text-light mt-1"></span>
						</ng-container>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>
	<ng-container *ngIf="!isInitialized">
		<div class="loading-container" fxFlex="300px"></div>
		<loading></loading>
	</ng-container>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutGap="10px">
	<span fxFlex></span>
	<button mat-dialog-close class="btn btn-danger">
		<i class="fa fa-times mr-1"></i> Close
	</button>
</mat-dialog-actions>
