/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
$animation-number: 0;
@use "themes/font";
@use "themes/button";
@use "themes/panel";
@use "themes/table";
@use "app/shared/dialog/dialog";

/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

$primary: mat.m2-define-palette(mat.$m2-light-blue-palette);
$accent: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$primary-darker: mat.m2-define-palette(mat.$m2-blue-palette, 600);
$theme: mat.m2-define-light-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
			warn: $warn,
		),
	)
);

// $custom-typography: mat-typography-config(
// 	$font-family: 'Poppins, Roboto, monospace'
// );

@include mat.all-component-themes($theme);
// @include mat-base-typography($custom-typography);
// @include mat-core($custom-typography);

:root {
	--border-color: #e6eaee;
	--blue1: #edf6fd;
	--blue2: #c5e5fe;
	--blue3: #a6ddff;
	--blue4: #8bc7ff;
	--blue5: #61bdff;
	--blue6: #4ca9ff;
	--blue7: #5885dc;
	--blue8: #007bff;
	--blue9: #0062cc;

	--gray1: #fafafa;
	--gray2: #f5f5f5;
	--gray3: #e6eaee;
	--gray4: #999999;
	--gray5: #53575e;

	--gray6: #ced4da;

	--green1: #c5e069;
	--green2: #7ead5b;

	--orange1: #f3d9b0;
	--orange2: #feb855;

	--purple1: #989cdb;
	--purple2: #b599d8;
	--purple3: #86549e;

	--red1: #fb6a6a;
	--red2: #d74545;
	--red3: #ff0000;
	--red4: #cc0000;

	--white: #ffffff;
	--yellow: #ffd35c;

	--background: var(--gray1);
	--border: var(--gray3);
	--input-border: var(--gray6);
	--input-border-color: var(--gray6);
	--primary: var(blue5);
	--danger: var(--red3);
	--text: var(--gray5);
	--text-error: var(--red3);
	--text-light: var(--gray4);
	--text-link: var(--blue8);

	--primary: #4ca9ff;
	--danger: #dc3545;
	--border-radius: 6px;
	--border-radius-larger: 8px;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Poppins"; //   background-color: #F2F2F2;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	touch-action: none;
}

body {
	h1,
	h2,
	h3,
	h4,
	h5,
	.mat-toolbar h1,
	.mat-toolbar h2,
	span,
	div,
	input,
	select,
	button {
		font-weight: 400;
		font-family: "Poppins";
		color: #354052;
		line-height: normal;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	small,
	p {
		margin: 0;

		&.text-secondary {
			color: var(--text-light) !important;
		}
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 16px;
	}

	h6,
	p {
		font-size: 14px;
		font-weight: 400;
	}

	small {
		font-size: 12px;
	}

	position: relative;
	z-index: 0;

	.separator {
		height: 1px;
		background-color: #dfe3e9;
		margin: 10px 0px;
	}

	.btn {
		border-radius: var(--border-radius);
	}

	.form-group {
		&.required {
			label:first-child,
			& > label {
				&:after {
					content: "*";
					float: right;
					font-size: 12px;
					margin-left: 4px;
					color: #ed1c24 !important;
				}
			}
		}

		label:first-child,
		& > label {
			font-size: 12px;
			margin-bottom: 2px;

			&::after {
				content: ":";
				font-size: 12px;
				margin-left: 1px;
			}

			&.no-colon::after {
				content: none;
				margin-left: 0;
			}
		}

		& > input {
			&.uppercase {
				text-transform: uppercase;
			}

			&.lowercase {
				text-transform: lowercase;
			}
		}

		& > textarea {
			resize: none;
		}

		.form-control,
		.input-group-text {
			border-radius: var(--border-radius);
		}
	}

	.form-control[readonly] {
		background-color: #ffffff;
	}

	.panel .panel-filter {
		padding: 10px 22px 18px;
		border-bottom: 1px solid #e6eaee;
	}

	.mat-mdc-dialog-container {
		padding: 0px;
		border-radius: var(--border-radius-larger);
		background-color: #eff3f6;
		min-height: 200px;

		.mat-mdc-dialog-title {
			padding: 10px 20px;
			margin: 0px;
			background-color: #ffffff;
			box-shadow:
				0 2px 2px rgba(0, 0, 0, 0.05),
				0 1px 0 rgba(0, 0, 0, 0.05);
			color: #354052;
			font-family: "Poppins";
			font-weight: 400;
			font-size: 16px;
			position: relative;
			z-index: 2;
		}

		.mat-mdc-dialog-content {
			margin: 0px;
			padding: 20px 20px 20px 20px;
			position: relative;
			max-height: 75vh;
		}

		.mat-mdc-dialog-actions {
			background-color: #f2f2f2;
			box-shadow:
				0 -2px 2px rgba(0, 0, 0, 0.05),
				0 -1px 0 rgba(0, 0, 0, 0.05);
			padding: 10px 20px;
			position: relative;
			z-index: 2;

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	.mat-mdc-menu-trigger {
		outline: none;
	}

	.mat-mdc-menu-panel {
		.mat-mdc-menu-item {
			font-family: "Poppins"; //   background-color: #F2F2F2;
			outline: none;

			> i {
				width: 26px;
				margin-right: 8px;
				flex-shrink: 0;
			}

			&.menu-success {
				color: #249533;
			}

			&.menu-primary {
				color: #1a91eb;
			}

			&.menu-danger {
				color: #d35847;
			}
		}

		&.user-menu {
			margin-top: 5px;

			a.mat-mdc-menu-item {
				text-decoration: none;
				place-content: center flex-start;
				align-items: center;
				flex-direction: row;
				box-sizing: border-box;
				display: flex;
				height: 40px;
				font-size: 14px;
				padding: 0 30px 0 20px;
				color: rgba(0, 0, 0, 0.7);

				i {
					width: 35px;
					font-size: 18px;
				}

				&:hover {
					color: #354052;
				}

				&:focus {
					outline: none;
				}
			}
		}

		&.site-menu {
			min-width: 280px;
			max-width: 280px;
			margin-top: -5px;
			margin-right: 10px;
			background-color: #293549;

			a.mat-mdc-menu-item {
				text-decoration: none;
				place-content: center flex-start;
				align-items: center;
				flex-direction: row;
				box-sizing: border-box;
				display: flex;
				height: 50px;
				font-size: 14px;
				padding: 0 30px 0 20px;
				color: #ffffff;

				.logo {
					width: 35px;
					height: 35px;
					background-color: #299ef5;
					text-align: center;
					line-height: 40px;
					border-radius: 3px;
					font-size: 19px;
				}

				h1 {
					font-size: 14px;
					color: #ffffff;
					margin: 0;
					padding: 0px 15px;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	.mat-mdc-table {
		.mat-mdc-header-cell,
		.mat-mdc-cell {
			padding-left: 16px;
			padding-right: 16px;
		}

		.mat-mdc-header-cell:first-child,
		.mat-mdc-cell:first-child {
			padding-left: 24px;
		}

		.mat-mdc-header-cell:last-child,
		.mat-mdc-cell:last-child {
			padding-right: 24px !important;
		}

		.mat-mdc-row {
			padding-top: 5px;
			padding-bottom: 5px;

			&:hover {
				background-color: #e9f4ff;
			}
		}
	}

	.mat-mdc-checkbox {
		label {
			margin-bottom: 0px;
		}
	}

	.scroll {
		&::-webkit-scrollbar {
			width: 6px;
			background-color: rgba(255, 255, 255, 0.1);
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 6px;
			background-color: #4ca9ff;
		}

		&.scroll-y {
			overflow-y: auto;
			overflow-x: hidden;
		}

		&.scroll-x {
			overflow-y: hidden;
			overflow-x: auto;
		}
	}

	.page-content {
		z-index: 0;

		.page-header {
			padding: 10px 25px;
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			place-content: flex-end flex-start;
			align-items: flex-end;
			background-color: #ffffff;
			color: #354052;
			box-shadow:
				0 2px 2px rgb(206 197 197 / 5%),
				0 1px 0 rgb(0 0 0 / 5%);
			z-index: 1;

			> .form-group {
				margin-right: 10px;
				margin-bottom: 0px;
			}

			*:last-child {
				margin-right: 0px;
			}
		}

		.page-body {
			padding: 20px;
			position: relative;

			.loading-container {
				position: relative;
				min-height: 400px;
			}
		}
	}

	.error-message {
		font-size: 14px;
		padding: 10px 30px;
		border: 1px solid #ed1c24;
		color: #ed1c24;
		background-color: #fde4e5;
		margin: 0px;
		line-height: normal;
		border-radius: 3.5px;
	}

	.manage-permission-dialog-panel {
		.mat-mdc-dialog-container,
		.mat-dialog-container {
			padding: 0 !important;
			overflow: hidden !important;
			border-radius: 5px !important;
		}

		.mat-mdc-dialog-surface {
			overflow: hidden !important;
			border-radius: 5px !important;
		}
	}
}
