<ng-container *ngIf="isInitialized">
	<page-body>
		<panel>
			<panel-body fxLayout>
				<div fxlayout="column" fxFlex>
					<h1>{{ unitName || 'New Reservation' }}</h1>
					<h5 class="text-primary">{{ projectName }}</h5>
				</div>
				<div fxLayout="column" fxFlex="180px" fxLayoutAlign="center end">
					<h3 [style.color]="'#' + color"><i class="mr-2" [ngClass]="icon"></i>{{ reservationStatusName }}
					</h3>
					<h5>{{ reservationUserName }}</h5>
					<h6 class="text-secondary">{{ reservationStatusDate }}</h6>
				</div>
			</panel-body>
			<panel-body>
				<form [formGroup]="formGroup" novalidate class="needs-validation" (ngSubmit)="submit()"
					fxLayout="column">
					<h6>Customer Information</h6>
					<div fxLayout fxLayoutGap="20px" class="customer-information">
						<div fxFlex fxLayout="column">
							<div class="form-group required">
								<label>Customer Name</label>
								<input class="form-control" formControlName="fullName"
									[class.is-invalid]="fullName.invalid && formSubmitAttempt" id="field-no-autofill-1"
									autocomplete="do-not-autofill" [readonly]="isReadOnly">
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex="130px">
									<label>Gender</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getOptionName(genders, genderId.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="genderId">
											<option *ngFor="let o of genders" [value]="o.optionId">{{ o.optionName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex="140px">
									<label>Birth Date</label>
									<div class="input-group">
										<input [matDatepicker]="birthDatePicker" class="form-control"
											formControlName="dob" [class.is-invalid]="dob.invalid && formSubmitAttempt"
											readonly />
										<div class="input-group-append">
											<ng-container *ngIf="isReadOnly">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</ng-container>
											<ng-container *ngIf="!isReadOnly">
												<button type="button" class="btn btn-primary"
													(click)="birthDatePicker.open()" [disabled]="isReadOnly"><i
														class="far fa-calendar-alt"></i></button>
											</ng-container>
										</div>
									</div>
									<mat-datepicker #birthDatePicker></mat-datepicker>
								</div>
								<div class="form-group" fxFlex>
									<label>Birth Place</label>
									<input class="form-control" formControlName="pob" [readonly]="isReadOnly">
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex="130px">
									<label>Religion</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control"
											[ngModel]="getOptionName(religions, religionId.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="religionId">
											<option *ngFor="let o of religions" [value]="o.optionId">{{ o.optionName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex="130px">
									<label>Marital Status</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control"
											[ngModel]="getOptionName(maritalStatuses, maritalStatusId.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="maritalStatusId">
											<option *ngFor="let o of maritalStatuses" [value]="o.optionId">
												{{ o.optionName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex>
									<label>Email</label>
									<input class="form-control" formControlName="email" id="field-no-autofill-2"
										autocomplete="do-not-autofill"
										[class.is-invalid]="email.invalid && formSubmitAttempt" [readonly]="isReadOnly">
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Home Phone</label>
									<input numbersOnly class="form-control" formControlName="homePhone"
										[readonly]="isReadOnly">
								</div>
								<div class="form-group required" fxFlex>
									<label>Mobile Phone</label>
									<input numbersOnly class="form-control" formControlName="mobilePhone"
										[class.is-invalid]="mobilePhone.invalid && formSubmitAttempt"
										[readonly]="isReadOnly">
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex>
									<label>Identity Code (KTP)</label>
									<input numbersOnly class="form-control" formControlName="identityCode"
										[class.is-invalid]="identityCode.invalid && formSubmitAttempt"
										[readonly]="isReadOnly">
								</div>
								<div class="form-group required" fxFlex>
									<label>NPWP Code</label>
									<input numbersOnly class="form-control" formControlName="npwp"
										[class.is-invalid]="npwp.invalid && formSubmitAttempt" [readonly]="isReadOnly">
								</div>
							</div>
							<div class="form-group required">
								<label>Identity Address</label>
								<textarea class="form-control" formControlName="identityAddress" rows="4"
									id="field-no-autofill-3" autocomplete="do-not-autofill"
									[class.is-invalid]="identityAddress.invalid && formSubmitAttempt"
									[readonly]="isReadOnly"></textarea>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex>
									<label>Province</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getProvinceName(identityProvinceId)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" [(ngModel)]="identityProvinceId"
											[ngModelOptions]="ngModelOptions"
											[class.is-invalid]="identitySubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select Province</option>
											<option *ngFor="let o of provinces" [value]="o.provinceId">
												{{ o.provinceName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex>
									<label>City</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getCityName(identityCityId)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" [(ngModel)]="identityCityId"
											[ngModelOptions]="ngModelOptions"
											[class.is-invalid]="identitySubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select City</option>
											<option *ngFor="let o of getFilteredCities(identityProvinceId)"
												[value]="o.cityId">
												{{ o.cityName }}
											</option>
										</select>
									</ng-container>
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex>
									<label>District</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getDistrictName(identityDistrictId)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" [(ngModel)]="identityDistrictId"
											[ngModelOptions]="ngModelOptions"
											[class.is-invalid]="identitySubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select District</option>
											<option *ngFor="let o of getFilteredDistricts(identityCityId)"
												[value]="o.districtId">
												{{ o.districtName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex>
									<label>Subdistrict</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control"
											[ngModel]="getSubdistrictName(identitySubdistrictId.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="identitySubdistrictId"
											[class.is-invalid]="identitySubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select SubDistrict</option>
											<option *ngFor="let o of getFilteredSubdistricts(identityDistrictId)"
												[value]="o.subdistrictId">
												{{ o.subdistrictName }}
											</option>
										</select>
									</ng-container>
								</div>
							</div>
						</div>
						<div fxFlex fxLayout="column">
							<div class="form-group required">
								<div fxLayout>
									<label>Mailing Address</label>
									<span fxFlex></span>
									<ng-container *ngIf="!isReadOnly">
										<a (click)="copyFromIdentityAddress()"><small class="text-primary">Copy From
												Identity Address</small></a>
									</ng-container>
								</div>
								<textarea class="form-control" formControlName="mailingAddress" rows="4"
									id="field-no-autofill-4" autocomplete="do-not-autofill"
									[class.is-invalid]="mailingAddress.invalid && formSubmitAttempt"
									[readonly]="isReadOnly"></textarea>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex>
									<label>Province</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getProvinceName(mailingProvinceId)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" [(ngModel)]="mailingProvinceId"
											[ngModelOptions]="ngModelOptions"
											[class.is-invalid]="mailingSubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select Province</option>
											<option *ngFor="let o of provinces" [value]="o.provinceId">
												{{ o.provinceName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex>
									<label>City</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getCityName(mailingCityId)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" [(ngModel)]="mailingCityId"
											[ngModelOptions]="ngModelOptions"
											[class.is-invalid]="mailingSubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select City</option>
											<option *ngFor="let o of getFilteredCities(mailingProvinceId)"
												[value]="o.cityId">
												{{ o.cityName }}
											</option>
										</select>
									</ng-container>
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex>
									<label>District</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control" [ngModel]="getDistrictName(mailingDistrictId)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" [(ngModel)]="mailingDistrictId"
											[ngModelOptions]="ngModelOptions"
											[class.is-invalid]="mailingSubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select District</option>
											<option *ngFor="let o of getFilteredDistricts(mailingCityId)"
												[value]="o.districtId">
												{{ o.districtName }}
											</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex>
									<label>Subdistrict</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control"
											[ngModel]="getSubdistrictName(mailingSubdistrictId.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="mailingSubdistrictId"
											[class.is-invalid]="mailingSubdistrictId.invalid && formSubmitAttempt">
											<option value="0">Select SubDistrict</option>
											<option *ngFor="let o of getFilteredSubdistricts(mailingDistrictId)"
												[value]="o.subdistrictId">
												{{ o.subdistrictName }}
											</option>
										</select>
									</ng-container>
								</div>
							</div>
							<div class="form-group required">
								<label>Occupation</label>
								<ng-container *ngIf="isReadOnly">
									<input class="form-control"
										[ngModel]="getOptionName(occupations, occupationId.value)"
										[ngModelOptions]="{ standalone: true }" readonly>
								</ng-container>
								<ng-container *ngIf="!isReadOnly">
									<select class="form-control" formControlName="occupationId"
										[class.is-invalid]="occupationId.invalid && formSubmitAttempt">
										<option value="0">Select Occupation</option>
										<option *ngFor="let o of occupations" [value]="o.optionId">
											{{ o.optionName }}
										</option>
									</select>
								</ng-container>
							</div>
							<div class="form-group">
								<label>Company Name</label>
								<input class="form-control" formControlName="companyName" [readonly]="isReadOnly">
							</div>
							<div class="form-group">
								<label>Company Address</label>
								<textarea class="form-control" rows="4" formControlName="companyAddress"
									id="field-no-autofill-3" autocomplete="do-not-autofill"
									[readonly]="isReadOnly"></textarea>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Company Phone</label>
									<input class="form-control" formControlName="companyPhone" [readonly]="isReadOnly">
								</div>
								<div class="form-group" fxFlex>
									<label>Company Fax</label>
									<input class="form-control" formControlName="companyFax" [readonly]="isReadOnly">
								</div>
							</div>
						</div>
					</div>
					<h6 class="mt-4">Reservation Information</h6>
					<div fxLayout fxLayoutGap="20px">
						<div fxLayout="column" fxFlex>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex="140px">
									<label>Reservation Date</label>
									<div class="input-group">
										<input [matDatepicker]="reservationDatePicker" class="form-control"
											formControlName="reservationDate" readonly
											[class.is-invalid]="reservationDate.invalid && formSubmitAttempt" />
										<div class="input-group-append">
											<ng-container *ngIf="isReadOnly">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</ng-container>
											<ng-container *ngIf="!isReadOnly">
												<button type="button" class="btn btn-primary"
													(click)="reservationDatePicker.open()"><i
														class="far fa-calendar-alt"></i></button>
											</ng-container>
										</div>
									</div>
									<mat-datepicker #reservationDatePicker></mat-datepicker>
								</div>
								<div class="form-group" fxFlex="140px">
									<label>Unit Name</label>
									<option-dialog [ngModel]="unit" [ngModelOptions]="ngModelOptions"
										[options]="getUnits()" keyName="unitId" valueName="unitName"
										placeholder="Select Unit" (onSelect)="unitSelected($event)"
										[isInvalid]="unitId.invalid && formSubmitAttempt" [readonly]="isReadOnly">
										<ng-container *option="let row">
											<div fxLayout="column" fxFlex fxLayoutAlign="center start">
												<h6>{{ row.unitName }}</h6>
												<h6 class="text-secondary">{{ row.unitTypeName }}</h6>
											</div>
										</ng-container>
									</option-dialog>
								</div>
								<div class="form-group" fxFlex>
									<label>Type</label>
									<input class="form-control" [ngModel]="unitTypeName"
										[ngModelOptions]="ngModelOptions" readonly>
								</div>
							</div>
							<div class="form-group" fxFlex>
								<label>Cluster Name</label>
								<input class="form-control" [ngModel]="projectName" [ngModelOptions]="ngModelOptions"
									readonly>
							</div>
						</div>
						<div fxLayout="column" fxFlex>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Payment Plan</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control"
											[ngModel]="getPaymentPlanName(paymentPlanCode.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="paymentPlanCode"
											(change)="paymentPlanChanged()"
											[class.is-invalid]="paymentPlanCode.invalid && formSubmitAttempt">
											<option *ngFor="let p of paymentPlans" [value]="p.paymentPlanCode">{{
												p.paymentPlanName + (p.isSaved ? ' (Saved)' : '') }}</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group" fxFlex="200px">
									<label>Unit Price</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												Rp.
											</span>
										</div>
										<input readonly currencyMask [options]="{ prefix: ''}"
											class="form-control text-right" formControlName="unitPrice"
											[class.is-invalid]="unitPrice.invalid && formSubmitAttempt">
									</div>
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex="100px">
									<label>Discount %</label>
									<div class="input-group">
										<input class="form-control" formControlName="discountPercent"
											[readonly]="isReadOnly">
										<div class="input-group-append">
											<span class="input-group-text">
												%
											</span>
										</div>
									</div>
								</div>
								<div class="form-group required" fxFlex>
									<label>Discount Amt.</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												Rp.
											</span>
										</div>
										<input currencyMask [options]="{ prefix: ''}" class="form-control"
											formControlName="discountAmount" [readonly]="isReadOnly">
									</div>
								</div>
								<div class="form-group required" fxFlex="200px">
									<label>Sales Price</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												Rp.
											</span>
										</div>
										<input currencyMask [options]="{ prefix: ''}" class="form-control text-right"
											formControlName="salesPrice" [readonly]="isReadOnly"
											[class.is-invalid]="salesPrice.invalid && formSubmitAttempt">
									</div>
								</div>
							</div>
						</div>
					</div>
					<h6 class="mt-4">Payment Plan</h6>
					<ng-container *ngIf="!isUnitSelected">
						<panel>
							<panel-body>
								No Unit Selected
							</panel-body>
						</panel>
					</ng-container>
					<ng-container *ngIf="isUnitSelected">
						<ng-container *ngFor="let ppd of selectedPaymentPlanDetails; let i = index">
							<panel class="panel-payment-plan">
								<panel-body fxLayout="column" class="panel-payment-plan-header">
									<div fxLayout fxLayoutGap="5px">
										<div class="form-group mb-0" fxFlex>
											<label>Payment Scheme</label>
											<input class="form-control" [ngModel]="ppd.paymentSchemeName"
												[ngModelOptions]="ngModelOptions"
												(ngModelChange)="headerPaymentSchemeNameChanged(ppd, $event)"
												[readonly]="isReadOnly" />
										</div>
										<div class="form-group mb-0" fxFlex="45px">
											<label>Count</label>
											<input class="form-control" [ngModel]="ppd.numberOfInstall"
												[ngModelOptions]="ngModelOptions"
												(ngModelChange)="headerCountChanged(ppd, $event)"
												[readonly]="isReadOnly" />
										</div>
										<div class="form-group mb-0" fxFlex="45px">
											<label>Intv</label>
											<input class="form-control" [(ngModel)]="ppd.interval"
												[ngModelOptions]="ngModelOptions"
												(ngModelChange)="headerIntervalChanged(ppd, $event)"
												[readonly]="isReadOnly" />
										</div>
										<div class="form-group" fxFlex="100px">
											<label>Price Percent</label>
											<div class="input-group">
												<input class="form-control"
													[ngModel]="roundPercent(ppd.updatedPricePercent || getPricePercent(ppd.updatedPriceAmount))"
													[ngModelOptions]="ngModelOptions"
													(ngModelChange)="headerPricePercentChanged(ppd, $event)"
													[readonly]="(+i === selectedPaymentPlanDetails.length - 1) || isReadOnly">
												<div class="input-group-append">
													<span class="input-group-text">
														%
													</span>
												</div>
											</div>
										</div>
										<div class="form-group mb-0" fxFlex="200px">
											<label>Price Amount</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">
														Rp.
													</span>
												</div>
												<input class="form-control" currencyMask [options]="{ prefix: ''}"
													[ngModel]="ppd.updatedPriceAmount || getPriceAmount(ppd.updatedPricePercent)"
													[ngModelOptions]="ngModelOptions"
													(ngModelChange)="headerPriceAmountChanged(ppd, $event)"
													[readonly]="(+i === selectedPaymentPlanDetails.length - 1) || isReadOnly" />
											</div>
										</div>
									</div>
								</panel-body>
								<ng-container *ngFor="let t of ppd.paymentPlanTrxs; let j = index">
									<panel-body class="panel-payment-plan-detail">
										<div fxLayout fxLayoutGap="5px">
											<div class="input-group" fxFlex="140px">
												<input [matDatepicker]="datePicker" class="form-control"
													[(ngModel)]="t.updatedPaymentDate" [ngModelOptions]="ngModelOptions"
													(dateChange)="detailPaymentDateChanged(t, $event.target.value)"
													[readonly]="isReadOnly"
													[class.is-invalid]="salesDate.invalid && isFormFinalizeSubmitAttempt && +i === 0" />
												<div class="input-group-append">
													<ng-container *ngIf="isReadOnly">
														<span class="input-group-text">
															<i class="far fa-calendar-alt"></i>
														</span>
													</ng-container>
													<ng-container *ngIf="!isReadOnly">
														<button type="button" class="btn btn-primary"
															(click)="datePicker.open()"><i
																class="far fa-calendar-alt"></i></button>
													</ng-container>
												</div>
											</div>
											<mat-datepicker #datePicker></mat-datepicker>
											<input class="form-control" [(ngModel)]="t.updatedDescription"
												[ngModelOptions]="ngModelOptions" fxFlex
												(ngModelChange)="detailDescriptionChanged(t, $event)"
												[readonly]="isReadOnly" />
											<div class="input-group" fxFlex="100px">
												<input class="form-control"
													[ngModel]="roundPercent(t.updatedPricePercent || getPricePercent(t.updatedPriceAmount))"
													[ngModelOptions]="ngModelOptions"
													(ngModelChange)="detailPricePercentChanged(t, $event)"
													[readonly]="(+j === ppd.paymentPlanTrxs.length - 1) || isReadOnly">
												<div class="input-group-append">
													<span class="input-group-text">
														%
													</span>
												</div>
											</div>
											<div class="input-group" fxFlex="200px">
												<div class="input-group-prepend">
													<span class="input-group-text">
														Rp.
													</span>
												</div>
												<input class="form-control" currencyMask [options]="{ prefix: ''}"
													[ngModel]="t.updatedPriceAmount || getPriceAmount(t.updatedPricePercent)"
													[ngModelOptions]="ngModelOptions"
													(ngModelChange)="detailPriceAmountChanged(t, $event)"
													[readonly]="(+j === ppd.paymentPlanTrxs.length - 1) || isReadOnly" />
											</div>
										</div>
									</panel-body>
								</ng-container>
							</panel>
						</ng-container>
						<panel class="panel-total">
							<panel-body fxLayout fxLayoutGap="5px">
								<div class="form-group mb-0" fxFlex="140px">
									<label>Last Payment Date</label>
									<input class="form-control" [value]="lastDate | date:'dd/M/yyyy'" readonly>
								</div>
								<div class="form-group mb-0" fxFlex>
									<label>Scheme</label>
									<input class="form-control" value="Total Price" readonly>
								</div>
								<div class="form-group mb-0" fxFlex="100px">
									<label>Price Percent</label>
									<div class="input-group">
										<input class="form-control" [ngModel]="totalPricePercent"
											[ngModelOptions]="ngModelOptions" readonly>
										<div class="input-group-append">
											<span class="input-group-text">
												%
											</span>
										</div>
									</div>
								</div>
								<div class="form-group mb-0" fxFlex="200px">
									<label>Price Amount</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												Rp.
											</span>
										</div>
										<input class="form-control" currencyMask [options]="{ prefix: ''}"
											[ngModel]="totalPriceAmount" [ngModelOptions]="ngModelOptions" readonly>
									</div>
								</div>
							</panel-body>
						</panel>
					</ng-container>
					<div fxLayout fxLayoutGap="20px">
						<div fxLayout="column" fxFlex>
							<h6>Sales Information</h6>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group" fxFlex>
									<label>Inhouse / Property Agent</label>
									<ng-container *ngIf="isReadOnly">
										<input class="form-control"
											[ngModel]="getOptionName(salesPropertyTypes, salesPropertyTypeId.value)"
											[ngModelOptions]="{ standalone: true }" readonly>
									</ng-container>
									<ng-container *ngIf="!isReadOnly">
										<select class="form-control" formControlName="salesPropertyTypeId">
											<option *ngFor="let o of salesPropertyTypes" [value]="o.optionId">{{
												o.optionName }}</option>
										</select>
									</ng-container>
								</div>
								<div class="form-group required" fxFlex>
									<label>Sales Name</label>
									<ng-container *ngIf="+salesPropertyTypeId.value === 1">
										<option-dialog [ngModel]="salesInhouse" [ngModelOptions]="ngModelOptions"
											[options]="getSalesInhouses()" keyName="salesId" valueName="fullName"
											placeholder="Select Sales" (onSelect)="salesInhouseSelected($event)"
											[isInvalid]="salesInhouseId.invalid && formSubmitAttempt"
											[readonly]="isReadOnly">
											<ng-container *option="let row">
												<div fxLayout="column" fxFlex fxLayoutAlign="center start">
													<small class="text-primary">{{ row.employeeCode }}</small>
													<h6>{{ row.fullName }}</h6>
													<h6 class="text-secondary">{{ row.salesInhouseTypeName }}</h6>
												</div>
											</ng-container>
										</option-dialog>
									</ng-container>
									<ng-container *ngIf="+salesPropertyTypeId.value === 2">
										<option-dialog [ngModel]="salesAgent" [ngModelOptions]="ngModelOptions"
											[options]="getSalesAgents()" keyName="salesAgentId" valueName="fullName"
											placeholder="Select Sales" (onSelect)="salesAgentSelected($event)"
											[isInvalid]="salesAgentId.invalid && formSubmitAttempt"
											[readonly]="isReadOnly">
											<ng-container *option="let row">
												<div fxLayout="column" fxFlex fxLayoutAlign="center start">
													<small class="text-primary">{{ row.salesAgentCode }}</small>
													<h6>{{ row.fullName }}</h6>
													<small class="text-secondary">{{ row.propertyAgentName }}</small>
												</div>
											</ng-container>
										</option-dialog>
									</ng-container>
								</div>
							</div>
							<ng-container *ngIf="+salesPropertyTypeId.value === 1">
								<div fxLayout fxLayoutGap="10px">
									<div class="form-group" fxFlex>
										<label>Supervisor Name</label>
										<input class="form-control" [ngModel]="supervisorName"
											[ngModelOptions]="ngModelOptions" readonly>
									</div>
									<div class="form-group" fxFlex>
										<label>Manager Name</label>
										<input class="form-control" [ngModel]="smName" [ngModelOptions]="ngModelOptions"
											readonly>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="+salesPropertyTypeId.value === 2">
								<div fxLayout fxLayoutGap="10px">
									<div class="form-group" fxFlex>
										<label>Property Agent</label>
										<input class="form-control" [ngModel]="propertyAgentName"
											[ngModelOptions]="ngModelOptions" readonly>
									</div>
									<div class="form-group" fxFlex>
										<label>Lead Property Agent</label>
										<ng-container *ngIf="isReadOnly">
											<input class="form-control"
												[ngModel]="getOptionName(leadPropertyAgents, leadPropertyAgentId.value)"
												[ngModelOptions]="{ standalone: true }" readonly>
										</ng-container>
										<ng-container *ngIf="!isReadOnly">
											<select class="form-control" formControlName="leadPropertyAgentId">
												<option value="0">Select Lead Property Agent</option>
												<option *ngFor="let o of leadPropertyAgents" [value]="o.optionId">{{
													o.optionName }}</option>
											</select>
										</ng-container>
									</div>
								</div>
							</ng-container>
							<h6>Other Information</h6>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" fxFlex="60%">
									<label>Purpose of Purchase</label>
									<option-dialog [(ngModel)]="purposeOfPurchase" [ngModelOptions]="ngModelOptions"
										addOption="true" [options]="getPurposeOfPurchases()"
										(add)="purposeOfPurchaseAdded()" (onSelect)="purposeOfPurchaseSelected($event)"
										[isInvalid]="purposeOfPurchaseId.invalid && formSubmitAttempt"
										[readonly]="isReadOnly">
										<ng-container *option="let row">{{
											row.optionName }}</ng-container>
									</option-dialog>
								</div>
								<div class="form-group required" fxFlex="40%">
									<label>Source of Fund</label>
									<option-dialog [(ngModel)]="sourceOfFund" [ngModelOptions]="ngModelOptions"
										addOption="true" [options]="getSourcesOfFund()" (add)="sourceOfFundAdded()"
										(onSelect)="sourceOfFundSelected($event)"
										[isInvalid]="sourceOfFundId.invalid && formSubmitAttempt"
										[readonly]="isReadOnly">
										<ng-container *option="let row">{{
											row.optionName }}</ng-container>
									</option-dialog>
								</div>
							</div>
							<div fxLayout fxLayoutGap="10px">
								<div class="form-group required" [fxFlex]="isKPR ? '60%' : 'auto'">
									<label>Reference</label>
									<option-dialog [(ngModel)]="reference" [ngModelOptions]="ngModelOptions"
										addOption="true" [options]="getReferences()" (add)="referenceAdded()"
										(onSelect)="referenceSelected($event)"
										[isInvalid]="referenceId.invalid && formSubmitAttempt" [readonly]="isReadOnly">
										<ng-container *option="let row">{{
											row.optionName }}</ng-container>
									</option-dialog>
								</div>
								<div class="form-group" fxFlex="40%" *ngIf="isKPR">
									<label>Akad Date</label>
									<div class="input-group">
										<input [matDatepicker]="akadDatePicker" class="form-control" readonly
											formControlName="akadDate" />
										<div class="input-group-append">
											<button type="button" class="btn btn-primary"
												(click)="akadDatePicker.open()"><i
													class="far fa-calendar-alt"></i></button>
										</div>
									</div>
									<mat-datepicker #akadDatePicker></mat-datepicker>
								</div>
							</div>
						</div>
						<div class="promo-and-notes" fxLayout="column" fxFlex>
							<h6>Promo and Notes</h6>
							<div class="form-group">
								<label>Promo</label>
								<textarea class="form-control" rows="8" formControlName="promo"
									[readonly]="isReadOnly"></textarea>
							</div>
							<div class="form-group">
								<label>Notes</label>
								<textarea class="form-control" rows="8" formControlName="notes"
									[readonly]="isReadOnly"></textarea>
							</div>
						</div>
					</div>
					<div fxLayout="column">
						<h6>Documents</h6>
						<div fxLayout fxLayoutGap="20px">
							<div class="document" fxLayout="column" fxFlex>
								<small>KTP :</small>
								<div fxLayout="column" fxLayoutAlign="center center"
									[class.is-invalid]="isRequestApprovalAttempt && !identityImagePath">
									<ng-container *ngIf="!!uploadedIdentity">
										<image-holder [src]="uploadedIdentity" fxFlexFill></image-holder>
									</ng-container>
									<ng-container *ngIf="!uploadedIdentity">
										<ng-container *ngIf="identityImagePath">
											<image-holder [src]="identityImagePath" fxFlexFill></image-holder>
										</ng-container>
										<ng-container *ngIf="!identityImagePath">
											<p>No Image</p>
										</ng-container>
									</ng-container>
								</div>
								<input #uploadIdentity (change)="uploadIdentityChanged($event)" type="file"
									accept="image/*" class="d-none">
								<ng-container *ngIf="!isReadOnly">
									<button type="button" class="btn btn-primary"
										(click)="uploadIdentity.click()">Upload
										Identity</button>
								</ng-container>
							</div>
							<div class="document" fxLayout="column" fxFlex>
								<small>NPWP :</small>
								<div fxLayout="column" fxLayoutAlign="center center"
									[class.is-invalid]="isRequestApprovalAttempt && !npwpImagePath">
									<ng-container *ngIf="!!uploadedNpwp">
										<image-holder [src]="uploadedNpwp" fxFlexFill></image-holder>
									</ng-container>
									<ng-container *ngIf="!uploadedNpwp">
										<ng-container *ngIf="npwpImagePath">
											<image-holder [src]="npwpImagePath" fxFlexFill></image-holder>
										</ng-container>
										<ng-container *ngIf="!npwpImagePath">
											<p>No Image</p>
										</ng-container>
									</ng-container>
								</div>
								<input #uploadNpwp (change)="uploadNpwpChanged($event)" type="file" accept="image/*"
									class="d-none">
								<ng-container *ngIf="!isReadOnly">
									<button type="button" class="btn btn-primary" (click)="uploadNpwp.click()">Upload
										NPWP</button>
								</ng-container>
							</div>
							<div class="document" fxLayout="column" fxFlex>
								<small>Proof of Payment :</small>
								<div fxLayout="column" fxLayoutAlign="center center"
									[class.is-invalid]="isRequestApprovalAttempt && !proofOfTransferImagePath">
									<ng-container *ngIf="!!uploadedProofOfTransfer">
										<image-holder [src]="uploadedProofOfTransfer" fxFlexFill></image-holder>
									</ng-container>
									<ng-container *ngIf="!uploadedProofOfTransfer">
										<ng-container *ngIf="proofOfTransferImagePath">
											<image-holder [src]="proofOfTransferImagePath" fxFlexFill></image-holder>
										</ng-container>
										<ng-container *ngIf="!proofOfTransferImagePath">
											<p>No Image</p>
										</ng-container>
									</ng-container>
								</div>
								<input #uploadProofOfTransfer (change)="uploadProofOfTransferChanged($event)"
									type="file" accept="image/*" class="d-none">
								<ng-container *ngIf="!isReadOnly">
									<button type="button" class="btn btn-primary"
										(click)="uploadProofOfTransfer.click()">Upload Proof of
										Payment</button>
								</ng-container>
							</div>
						</div>
					</div>
					<div fxLayout="column" class="payment">
						<h6>Pre Payment (UTJ)</h6>
						<div fxLayout fxLayoutGap="20px">
							<div fxLayout fxLayoutGap="10px" fxFlex>
								<div class="form-group" fxFlex="140px">
									<label>Payment Date</label>
									<div class="input-group">
										<input [matDatepicker]="paymentDatePicker" class="form-control"
											formControlName="prePaymentDate" readonly />
										<div class="input-group-append">
											<ng-container *ngIf="reservationId">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</ng-container>
											<ng-container *ngIf="!reservationId">
												<button type="button" class="btn btn-primary"
													(click)="paymentDatePicker.open()"><i
														class="far fa-calendar-alt"></i></button>
											</ng-container>
										</div>
									</div>
									<mat-datepicker #paymentDatePicker></mat-datepicker>
								</div>
								<ng-container *ngIf="reservationId">
									<div class="form-group" fxFlex="140px">
										<label>Payment Type</label>
										<input class="form-control" [ngModel]="prePaymentTypeName"
											[ngModelOptions]="{ standalone: true }" readonly>
									</div>
								</ng-container>
								<ng-container *ngIf="!reservationId">
									<div class="form-group" fxFlex="140px">
										<label>Payment Type</label>
										<select class="form-control" formControlName="prePaymentTypeId">
											<option *ngFor="let p of paymentTypes" [value]="p.optionId">{{ p.optionName
												}}
											</option>
										</select>
									</div>
								</ng-container>
								<div class="form-group" fxFlex>
									<label>Payment Amount</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												Rp.
											</span>
										</div>
										<input class="form-control" formControlName="prePaymentAmount" currencyMask
											[options]="{ prefix: ''}"
											[class.is-invalid]="prePaymentAmount.invalid && formSubmitAttempt"
											[readonly]="reservationId">
									</div>
								</div>
							</div>
							<div class="form-group" fxFlex>
								<label>Payment Notes</label>
								<input class="form-control" placeholder="Ref No: XXXXXXXXXXXXXXXXXX"
									formControlName="prePaymentNotes" [readonly]="reservationId">
							</div>
						</div>
					</div>
				</form>
				<ng-container *ngIf="isReadyToFinalize">
					<form [formGroup]="finalizeFormGroup" novalidate class="needs-validation" (ngSubmit)="finalize()"
						fxLayout="column">
						<div fxLayout="column" class="booking-fee">
							<h6>Booking Fee</h6>
							<small>Outstanding Amount :</small>
							<div class="outstanding-amount" [class.not-equal]="!isBookingFeePaymentEqual">
								<h1 class="text-right text-success" [class.text-danger]="!isBookingFeePaymentEqual">{{
									outstandingAmount | currency:'IDR':'Rp. ':'1.0-0' }}</h1>
							</div>
							<div fxLayout fxLayoutGap="20px">
								<div fxLayout fxLayoutGap="10px" fxFlex>
									<div class="form-group mb-0" fxFlex="140px">
										<label>Payment Date</label>
										<div class="input-group">
											<input [matDatepicker]="bookingFeeDatePicker" class="form-control"
												formControlName="bookingFeePaymentDate" readonly />
											<div class="input-group-append">
												<button type="button" class="btn btn-primary"
													(click)="bookingFeeDatePicker.open()"><i
														class="far fa-calendar-alt"></i></button>
											</div>
										</div>
										<mat-datepicker #bookingFeeDatePicker></mat-datepicker>
									</div>
									<div class="form-group mb-0" fxFlex="140px">
										<label>Payment Type</label>
										<select class="form-control" formControlName="bookingFeePaymentTypeId">
											<option *ngFor="let p of paymentTypes" [value]="p.optionId">{{ p.optionName
												}}
											</option>
										</select>
									</div>
									<div class="form-group mb-0" fxFlex>
										<label>Payment Amount</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													Rp.
												</span>
											</div>
											<input class="form-control" formControlName="bookingFeePaymentAmount"
												currencyMask [options]="{ prefix: ''}"
												[class.is-invalid]="!isBookingFeePaymentEqual && isFormFinalizeSubmitAttempt">
										</div>
									</div>
								</div>
								<div class="form-group mb-0" fxFlex>
									<label>Payment Notes</label>
									<input class="form-control" placeholder="Ref No: XXXXXXXXXXXXXXXXXX"
										formControlName="bookingFeePaymentNotes">
								</div>
							</div>
						</div>
					</form>
				</ng-container>
				<error-message>{{ errorMessage }}</error-message>
			</panel-body>
			<panel-footer fxLayout="column" fxLayoutGap="10px">
				<ng-container *ngIf="reservationId">
					<!-- <ng-container *ngIf="isNeedToSave || !isDocumentComplete"> -->
					<ng-container *ngIf="isNeedToSave">
						<loading-button *ifHasMn="['web.backend.property-management.reservation.edit']"
							className="btn btn-primary btn-block" [isLoading]="isSaving" (click)="submit()">
							<i class="fas fa-save mr-2"></i> Save
						</loading-button>
					</ng-container>
					<!-- <ng-container *ngIf="!isNeedToSave && isDocumentComplete"> -->
					<ng-container *ngIf="!isNeedToSave">
						<div fxLayout fxLayoutGap="10px" fxLayoutAlign="start end">
							<ng-container *ngIf="reservationStatusName === 'Reserved'">
								<loading-button fxFlex *ifHasMn="['web.backend.property-management.reservation.edit']"
									className="btn btn-primary btn-block" [isLoading]="isRequestingApproval"
									(click)="requestApproval()">
									<i class="fas fa-user-shield mr-2"></i>Request Approval
								</loading-button>
							</ng-container>
							<ng-container *ngIf="reservationStatusName === 'Approval'">
								<loading-button fxFlex
									*ifHasMn="['web.backend.property-management.reservation.approval']"
									className="btn btn-success btn-block" [isLoading]="isApproving"
									(click)="approve()"><i class="fas fa-user-check mr-2"></i>Approve
								</loading-button>
							</ng-container>
							<ng-container *ngIf="reservationStatusName === 'Approved'">
								<div class="form-group mb-0" fxFlex="140px">
									<label>Sales Date</label>
									<div class="input-group">
										<input [matDatepicker]="salesDatePicker" class="form-control"
											[ngModel]="salesDate.value" readonly
											(ngModelChange)="salesDate.setValue($event)"
											[class.is-invalid]="salesDate.invalid && isFormFinalizeSubmitAttempt" />
										<div class="input-group-append">
											<ng-container *ngIf="isReadOnly">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</ng-container>
											<ng-container *ngIf="!isReadOnly">
												<button type="button" class="btn btn-primary"
													(click)="salesDatePicker.open()"><i
														class="far fa-calendar-alt"></i></button>
											</ng-container>
										</div>
									</div>
									<mat-datepicker #salesDatePicker></mat-datepicker>
								</div>
								<loading-button fxFlex *ifHasMn="['web.backend.property-management.reservation.edit']"
									className="btn btn-success btn-block" [isLoading]="isFinalizing"
									(click)="finalize()">
									<i class="fas fa-user-check mr-2"></i>Finalize
								</loading-button>
							</ng-container>
							<loading-button fxFlex
								*ifHasMn="['web.backend.property-management.reservation.cancelation']"
								className="btn btn-danger btn-block" [isLoading]="isCanceling" (click)="cancel()">
								<i class="fas fa-times mr-2"></i> Cancelation
							</loading-button>
							<loading-button fxFlex="150px"
								*ifHasMn="['web.backend.property-management.reservation.edit']"
								className="btn btn-primary btn-block" [isLoading]="isPreviewing" (click)="previewSpr()">
								<i class="fas fa-print mr-2"></i> Preview SPR
							</loading-button>
						</div>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="!reservationId">
					<loading-button className="btn btn-primary btn-block" [isLoading]="isSaving"
						(click)="submit()">Reserve</loading-button>
				</ng-container>
			</panel-footer>
		</panel>
	</page-body>
</ng-container>
<ng-container *ngIf="!isInitialized">
	<loading></loading>
</ng-container>