<li class="menu" [class.hidden]="isHidden" [class.selected]="isMenuSelected">
	<a
		class="anc"
		[routerLink]="isLeaf && menu.route ? menu.route : null"
		(click)="onMenuClick($event)"
		[class.active]="isActive"
		fxLayout
		fxLayoutAlign="start center"
	>
		<span class="level" [style.width.px]="menuLevel * 27"></span>

		<i
			[class]="menu.icon || 'fas fa-th-large'"
			fxLayout
			fxLayoutAlign="center center"
		></i>

		<h5>{{ menu.menuName }}</h5>

		@if ((menu.unreadCount ?? 0) > 0) {
			<span class="menu-badge">{{
				(menu.unreadCount ?? 0) > 99 ? "99+" : menu.unreadCount
			}}</span>
		}

		@if (hasChildren) {
			<i
				class="submenu-indicator"
				[ngClass]="
					menu.visibility === 'expanded'
						? 'fas fa-caret-up'
						: 'fas fa-caret-down'
				"
			></i>
		}
	</a>

	@if (hasChildren) {
		<ul class="menus" [ngClass]="menu.visibility">
			@for (subMenu of children; track subMenu.menuId) {
				<app-menu
					[menu]="subMenu"
					[menuLevel]="menuLevel + 1"
					[currentUrl]="currentUrl"
					[isMenuFiltering]="isMenuFiltering"
					[selectedMenuIndex]="selectedMenuIndex"
					(clicked)="clicked.emit($event)"
				></app-menu>
			}
		</ul>
	}
</li>
