<ng-container *ngIf="isCompanyInitialized">
	<div class="page-header">
		<div class="form-group" fxFlex="200px">
			<label>Company</label>
			<select class="form-control" (change)="companyChanged($event)">
				<option *ngFor="let c of companies" [value]="c.companyId">{{ c.companyName }}</option>
			</select>
		</div>
		<div class="form-group" fxFlex>
			<label>Search</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search.." (keyup)="searchChanged($event)">
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>
		</div>
		<div>
			<button class="btn btn-primary" (click)="addDepartment()"><i class="fas fa-plus mr-2"></i>Add
				Department</button>
		</div>
	</div>
	<div class="page-body container-fluid">
		<div class="panel">
			<div class="panel-body p-0" fxLayout="column">
				<ng-container *ngIf="isDataInitialized">
					<div class="tree-header" fxLayout fxLayoutAlign="start center">
						<div fxFlex>Department</div>
						<div fxFlex="100px"></div>
					</div>
					<ul class="tree-content">
						<ng-container *ngFor="let company of datas">
							<company-tree [company]="company" (companyAdded)="companyAdded($event)"
								(companyEdited)="companyEdited($event)" (companyDeleted)="companyDeleted($event)"
								(departmentAdded)="departmentAdded($event)"
								(departmentEdited)="departmentEdited($event)"
								(departmentDeleted)="departmentDeleted($event)"
								(occupationAdded)="occupationAdded($event)"
								(occupationEdited)="occupationEdited($event)"
								(occupationDeleted)="occupationDeleted($event)"></company-tree>
						</ng-container>
					</ul>
				</ng-container>
				<ng-container *ngIf="!isDataInitialized">
					<div fxFlex="400px" class="position-relative">
						<loading></loading>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="!isCompanyInitialized">
	<loading></loading>
</ng-container>
