<li class="department">
	<div fxLayout fxLayoutAlign="start center">
		<span [fxFlex]="(department.level * 30) + 'px'"></span>
		<!-- <ng-container *ngIf="+department.departmentTypeId === 1">
			<i fxFlex="30px" class="fas fa-sitemap" fxLayout fxLayoutAlign="start center"></i>
		</ng-container>
		<ng-container *ngIf="+department.departmentTypeId === 2">
			<i fxFlex="30px" class="fas fa-project-diagram" fxLayout fxLayoutAlign="start center"></i>
		</ng-container>
		<ng-container *ngIf="+department.departmentTypeId === 3">
			<i fxFlex="30px" class="fas fa-stream" fxLayout fxLayoutAlign="start center"></i>
		</ng-container> -->
		<i fxFlex="30px" class="fas fa-sitemap" fxLayout fxLayoutAlign="start center"></i>
		<div fxFlex fxLayout="column">
			<h2>{{ department.departmentName }}</h2>
			<h5>{{ department.remark }}</h5>
		</div>
		<div fxLayout fxLayoutGap="5px">
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item class="menu-success" (click)="addDepartment()">
					<i class="fas fa-plus"></i>
					<span>Add Department</span>
				</button>
				<button mat-menu-item class="menu-success" (click)="addOccupation()">
					<i class="fas fa-plus"></i>
					<span>Add Occupation</span>
				</button>
				<button mat-menu-item class="menu-primary" (click)="editDepartment()">
					<i class="fas fa-pen"></i>
					<span>Edit Department</span>
				</button>
				<ng-container *ngIf="
					department.occupations.length === 0 &&
					department.departments.length === 0">
					<button mat-menu-item class="menu-danger" (click)="deleteDepartment()">
						<i class="far fa-trash-alt"></i>
						<span>Delete Department</span>
					</button>
				</ng-container>
			</mat-menu>
		</div>
	</div>
	<ul *ngIf="department.occupations.length > 0">
		<ng-container *ngFor="let occupation of department.occupations">
			<occupation-tree [occupation]="occupation" (occupationEdited)="occupationEdited.emit($event)"
				(occupationDeleted)="occupationDeleted.emit($event)">
			</occupation-tree>
		</ng-container>
	</ul>
	<ul *ngIf="department.departments.length > 0">
		<ng-container *ngFor="let department of department.departments">
			<department-tree [department]="department" (departmentAdded)="departmentAdded.emit($event)"
				(departmentEdited)="departmentEdited.emit($event)" (departmentDeleted)="departmentDeleted.emit($event)"
				(occupationAdded)="occupationAdded.emit($event)" (occupationEdited)="occupationEdited.emit($event)"
				(occupationDeleted)="occupationDeleted.emit($event)">
			</department-tree>
		</ng-container>
	</ul>
</li>
