<li class="occupation">
	<div fxLayout fxLayoutAlign="start center">
		<span [fxFlex]="(occupation.level * 30) + 'px'"></span>
		<!-- <ng-container *ngIf="+occupation.occupationLevelId === 1">
			<i class="fas fa-id-card-alt" fxFlex="30px" fxLayout fxLayoutAlign="start center"></i>
		</ng-container>
		<ng-container *ngIf="+occupation.occupationLevelId === 2">
			<i class="fas fa-id-card" fxFlex="30px" fxLayout fxLayoutAlign="start center"></i>
		</ng-container>
		<ng-container *ngIf="+occupation.occupationLevelId === 3">
			<i class="fas fa-address-card" fxFlex="30px" fxLayout fxLayoutAlign="start center"></i>
		</ng-container> -->
		<i class="fas fa-user-tie" fxFlex="30px" fxLayout fxLayoutAlign="start center"></i>
		<!-- <i class="fas fa-id-badge" fxFlex="30px" fxLayout fxLayoutAlign="start center"></i> -->
		<div fxFlex fxLayout="column">
			<h2>{{ occupation.occupationName }}</h2>
			<h5>{{ occupation.remark }}</h5>
		</div>
		<div fxLayout fxLayoutGap="5px">
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item class="menu-primary" (click)="editOccupation()">
					<i class="fas fa-pen"></i>
					<span>Edit Occupation</span>
				</button>
				<button mat-menu-item class="menu-danger" (click)="deleteOccupation()">
					<i class="far fa-trash-alt"></i>
					<span>Delete Occupation</span>
				</button>
			</mat-menu>
		</div>
	</div>
</li>
